@mixin configurable-bundle-widget-configured-bundle($name: '.configured-bundle') {
    #{$name} {
        &__content {
            padding: 0 map-get($setting-spacing, 'default') map-get($setting-spacing, 'default');
            margin: 0 -#{map-get($setting-spacing, 'default')};
            border-bottom: 1px solid $setting-color-lighter;
        }

        &__container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__col {
            max-width: 33.333%;
        }

        &__text {
            display: inline-block;
            text-align: left;
        }

        @content;
    }
}
