{% extends template('page-layout-main') %}

{% define data = {
    activePage: 'overview',
    currentBreadcrumb: 'customer.account.overview',
} %}

{% set contentSectionId = 'company-content' %}

{% block breadcrumbs %}
    {% set breadcrumbs = [] %}

    {% block breadcrumbsContent %}
        {% set breadcrumbBase = [{
            label: 'company.account.page-title' | trans,
            url: url('company/overview'),
        }] %}

        {% set breadcrumbsList = data.currentBreadcrumb ? breadcrumbBase | merge([{
            label: data.currentBreadcrumb | trans
        }]) : breadcrumbBase | merge(breadcrumbs) %}

        {% include molecule('breadcrumb') with {
            data: {
                steps: breadcrumbsList,
            }
        } only %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12 col--md-3">
            {% include molecule('skip-link') with {
                data: {
                    href: contentSectionId,
                    text: 'global.skip-to-content' | trans,
                },
            } only %}

            {% block companyNavigation %}
                {% include molecule('company-navigation', 'CompanyPage') with {
                    class: 'box',
                    data: {
                        activePage: data.activePage
                    }
                } only %}
            {% endblock %}
        </div>

        <div class="col col--sm-12 col--md-9" id="{{ contentSectionId }}">
            {% block companyContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
