{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    wishlists: _view.wishlistCollection.wishlists,
    wishlistForm: _view.wishlistForm
} %}

{% block title %}
    <h3>{{ 'customer.account.wishlist' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: 'wishlist'
        }
    } only %}

        {% block wishlistNavigation %}
            {% if _view.wishlistCollection|length %}
                {% include molecule('wishlist-navigation', 'WishlistPage') with {
                    class: 'menu',
                    data: {
                        wishlists: _view.wishlistCollection.wishlists
                    }
                } only %}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        <h4 class="space-bottom-default">{{ 'customer.account.wishlist.overview.title' | trans }}</h4>

        {% include molecule('wishlist-overview-table', 'WishlistPage') with {
            data: {
                wishlists: data.wishlists,
                wishlistForm: data.wishlistForm,
                hasEditName: true
            }
        } only %}

    </div>
{% endblock %}
