@mixin shop-ui-action-bar($name: '.action-bar') {
    #{$name} {
        margin: 1rem 0;

        @include helper-breakpoint(md) {
            display: flex;
            justify-content: space-between;
        }

        &__actions {
            @include helper-breakpoint(md) {
                display: flex;
                align-items: center;
            }
        }

        &__action {
            width: 100%;
            margin-top: 0.5rem;

            @include helper-breakpoint(md) {
                width: auto;
                margin: 0 0 0 0.5rem;
            }
        }

        &__icon {
            display: block;
            width: 0.813rem;
            height: 0.813rem;
            margin-right: 0.625rem;
        }

        @content;
    }
}
