{% extends model('component') %}

{% define config = {
    name: 'cart-item',
    tag: 'div'
} %}

{% define data = {
    cart: required,
    cartItem: required,
    attributes: required
} %}

{% block body %}
    <div class="box">
        <div class="grid grid--stretch">
            <div class="col col--sm-12 col--lg-2">
                {% include molecule('cart-image', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem
                    }
                } only %}
            </div>

            <div class="col col--sm-12 col--lg-4">
                <h2 class="cart-item__title">{{ data.cartItem.name }}</h2>
                <div class="cart-item__sku">
                    {{ 'cart.item.sku' | trans }} {{ data.cartItem.sku }}
                </div>

                {{ widget('ProductBundleItemsWidgetPlugin', data.cartItem, data.cart) }}

                {% include molecule('cart-item-attributes', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem,
                        attributes: data.attributes
                    }
                } only %}

            </div>

            <div class="col col--sm-12 col--lg-4">
                {% include molecule('cart-item-price', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem
                    }
                } only %}
            </div>

            <div class="col col--sm-12 col--lg-2">
                {% include molecule('cart-quantity', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem
                    }
                } only %}
            </div>

        </div>
    </div>


{% endblock %}
