@mixin cart-page-cart-item($name: '.cart-item') {
    #{$name} {
        &__title {
            @include helper-font-size(big);
            margin-bottom: .5rem;
        }

        &__sku {
            @include helper-font-size(small);
            color: $setting-color-dark;
            margin-bottom: .5rem;
        }

        &__list {
            padding: 0 .5rem;
        }

        &__wrap-details {
            @include helper-font-size(small);
        }

        &__quantity {
            padding: 0 0 0.8rem;
        }

        &__attributes {
            border-top: solid 1px $setting-color-lighter;
            padding: 0.8rem 0;
        }

        &__note {
            border-top: solid 1px $setting-color-lighter;
            padding: 1rem 0;
        }

        // .cart-bundles {
        //     border-top: solid 1px $setting-color-lighter;
        //     padding: 0.8rem 0;
        // }

        @content;
    }
}
