$component-cart-item-sku-background: $color-dark;

@mixin component-cart-item($name: '.cart-item') {
    #{$name} {
        &__title {
            @include font-size(big);
            margin-bottom: .5rem;
        }

        &__sku {
            @include font-size(small);
            color: $component-cart-item-sku-background;
            margin-bottom: .5rem;
        }

        &__image {
            padding: 0 .5rem;
        }

        &__list {
            padding: 0 .5rem;
        }

        &__bundles {
            @include font-size(small);
            padding: 0 0 .2rem;
        }

        @content;
    }
}
