{% extends template('widget') %}
{% define data = {
    cartItem: _widget.itemTransfer,
    isBaseUnit: _widget.isBaseUnit
} %}
{% set cartItem = data.cartItem %}
{% set salesUnitName = cartItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}

{% block body %}
    {% if cartItem.quantitySalesUnit is not empty %}
        {{  cartItem.quantitySalesUnit.value / cartItem.quantitySalesUnit.precision }} <span>{{ salesUnitName | trans }}</span>
    {% endif %}
{% endblock %}
