{% extends template('widget') %}

{% define data = {
    salesOrderConfiguredBundle: _widget.salesOrderConfiguredBundle
} %}

{% block body %}
    <div class="form">
        {{ 'configurable_bundle_cart_note.cart_note' | trans }}: {{ data.salesOrderConfiguredBundle.cartNote }}
    </div>
{% endblock %}
