{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.companyUserForm,

    title: 'company.account.company_user' | trans,
    activePage: 'users',
    currentBreadcrumb: 'Users'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview'),
                },
                {
                    label: data.title,
                    url: url('company/user')
                },
                {
                    label: 'company.account.company_user.add' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'company.account.company_user.add' | trans,
                form: data.form,
                options: {
                    action: url('company/user/create')
                },
                layout: {
                    salutation: 'col col--sm-12 col--lg-2',
                    first_name: 'col col--sm-12 col--lg-5',
                    last_name: 'col col--sm-12 col--lg-5'
                },
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('company/user'),
                    text: 'general.back.button' | trans
                }
            }
        } only %}
    </div>
{% endblock %}
