{% extends model('component') %}

{% define config = {
    name: 'quote-request-menu-item',
    tag: 'li',
} %}

{% define data = {
    activePage: '',
} %}

{% block extraClass %}
    {{ 'menu__item' ~ (data.activePage == 'quoteRequestAgent' ? ' menu__item--active') }}
{% endblock %}

{% block body %}
    <a href="{{ url('agent/quote-request') }}"
       data-id="sidebar-quote-request">{{ 'agent.account.quote_request' | trans }}</a>
{% endblock %}
