{% extends model('component') %}

{% define config = {
    name: 'quote-request-menu-item',
    tag: 'li',
} %}

{# @deprecated property "activePage" is deprecated. #}
{% define data = {
    activePage: null,
} %}

{% block body %}
    <a href="{{ url('agent/quote-request') }}"
       data-id="sidebar-quote-request">{{ 'agent.account.quote_request' | trans }}</a>
{% endblock %}
