@mixin shop-ui-drop-down-list($name: '.drop-down-list') {
    #{$name} {
        &__button {
            &--shown {
                #{$name} {
                    &__show-text {
                        display: none;
                    }

                    &__hide-text {
                        display: inline;
                    }
                }
            }
        }

        &__hide-text {
            display: none;
        }

        @content;
    }
}
