{% extends template('widget') %}

{% define data = {
    productConfigurationRouteName: _widget.productConfigurationRouteName,
    sourceType: _widget.sourceType,
    sku: _widget.sku,
    quantity: _widget.quantity,
} %}

{% block body %}
    <a href="{{
        path(
            data.productConfigurationRouteName,
            {'sku': data.sku, 'source-type': data.sourceType, 'quantity': data.quantity})
    }}">
        {{ 'product_configuration_widget.configure' | trans }}
    </a>
{% endblock %}
