{% extends model('component') %}

{% define config = {
    name: 'quote-request-shipment-group',
} %}

{% define data = {
    shipmentGroup: required,
} %}

{% block body %}

    <div class="col col--sm-12 col--lg-12">
        <div class="col col--sm-12 col--lg-6">
            <div class="box">
                <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
                <hr>
                {% embed molecule('display-address') with {
                    data: {
                        address: data.shipmentGroup.shipment.shippingAddress,
                    },
                } only %}
                    {% block addressBadgeLabel %}{% endblock %}
                {% endembed %}
            </div>
        </div>

        <div class="col col--sm-12 col--lg-6">
            <div class="box">
                <h6>{{ 'checkout.step.summary.delivery_method' | trans }}</h6>
                <hr>
                {% include molecule('delivery-information', 'CustomerPage') ignore missing with {
                    data: {
                        carrierName: data.shipmentGroup.shipment.method.carrierName,
                        methodName: data.shipmentGroup.shipment.method.name,
                        storeCurrencyPrice: data.shipmentGroup.shipment.method.storeCurrencyPrice,
                        currencyIsoCode: data.shipmentGroup.shipment.method.currencyIsoCode,
                    },
                } only %}
            </div>
        </div>
    </div>

{% endblock %}
