@mixin cms-search-page-sort($name: '.sort') {
    #{$name} {
        &__col:not(:last-child) {
            padding-right: 0.5rem;
        }

        @content;
    }
}

/**
 * @deprecated use cms-search-page-sort mixin instead.
 */
@mixin cms-page-sort($name: '.sort') {
    @include cms-search-page-sort();

    #{$name} {
        @content;
    }
}
