@mixin shop-ui-price($name: '.price') {
    #{$name} {
        display: block;

        &__amount {
            @include helper-font-size(big);

            &--original {
                @include helper-font-size(small);
                display: block;
                color: $setting-color-dark;
                text-decoration: line-through;
            }
        }

        &__tag {
            margin-right: .25rem;
            color: $setting-color-alt;
        }

        @content;
    }
}
