{% extends "@ShopLayout/layout/layout.twig" %}

{% block page %}
    <div itemscope itemtype="http://schema.org/Product" >
        {{ parent() }}
    </div>
{% endblock %}

{% use '@ProductDetailPage/_product-detail-page/detail.twig' %}
