{% extends template('page-blank') %}

{% define data = {
    isOverlayOpen: false,
    isAjaxHeader: false,
    ajaxCartUrl: '',
} %}

{%- block class -%}js-page-layout-main{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block viewport %}
        {% block sidebar %}
            {% include organism('side-drawer') with {
                class: 'is-hidden-lg-xl',
                data: {
                    isAjaxMode: data.isAjaxHeader,
                    ajaxCartUrl: data.ajaxCartUrl,
                },
                attributes: {
                    'container-selector': 'js-page-layout-main',
                    'trigger-selector': 'js-page-layout-main__side-drawer-trigger',
                },
            } only %}
        {% endblock %}

        {% block outside %}
            {% include molecule('outside-widgets') only %}
        {% endblock %}

        {% block header %}
            {% embed organism('header') with {
                data: {
                    isAjaxMode: data.isAjaxHeader,
                    ajaxCartUrl: data.ajaxCartUrl,
                },
            } only %}
                {% block mobile %}
                    <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: 'bars',
                            },
                        } only %}
                    </a>
                {% endblock %}
            {% endembed %}
        {% endblock %}

        <div class="container">
            {% block pageInfo %}
                <div class="box">
                    {% block breadcrumbs %}
                        {% include molecule('breadcrumb') only %}
                    {% endblock %}

                    <hr class="box__separator">

                    {% block title %}
                        <h1 class="title--h3">{{ data.title }}</h1>
                    {% endblock %}
                </div>
            {% endblock %}

            <main>
                {% block content %}{% endblock %}
            </main>

            {% block footer %}
                {% include organism('footer') only %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block globalComponents %}
        {% include molecule('action-single-click-enforcer') with {
            attributes: {
                'target-selector': '[data-init-single-click]',
            },
        } only %}

        {% include molecule('form-input-default-value-disabler') with {
            attributes: {
                'form-selector': '[data-init-default-value-form]',
                'input-selector': '[data-default-value-disabler]',
            },
        } only %}

        {% include molecule('form-submitter') with {
            attributes: {
                'trigger-selector': '[data-form-submitter]',
            },
        } only %}

        {% include molecule('viewport-intersection-observer') only %}

        {% include molecule('main-overlay') with {
            attributes: {
                'is-open': data.isOverlayOpen,
            },
        } only %}
    {% endblock %}

    {% block traceableEvent %}
        {% set currency %}
            {% widget 'CurrencyIsoCodeWidget' only %}{% endwidget %}
        {% endset %}

        {% set events = {
            list: [
                {
                    event: 'PAGE_LOAD',
                    name: 'load',
                },
                {
                    event: 'PRODUCT_CLICK',
                    name: 'click',
                    triggers: [
                        {
                            selector: '.js-product-item:not(:has(.js-ajax-add-to-cart__button:focus))',
                            groupAs: {
                                key: 'products',
                                toArray: true,
                            },
                            data: {
                                details: {
                                    selector: 'self',
                                    flatten: true,
                                },
                            },
                        },
                        {
                            selector: '.suggestion-product',
                            groupAs: {
                                key: 'products',
                                toArray: true,
                            },
                            data: {
                                sku: {
                                    selector: 'self',
                                },
                                searchId: {
                                    value: null,
                                },
                            },
                        }
                    ],
                },
                {
                    event: 'ADD_TO_CART',
                    name: 'click',
                    triggers: [
                        {
                            selector: '.js-product-item:has(.js-ajax-add-to-cart__button:focus)',
                            groupAs: {
                                key: 'products',
                                toArray: true,
                            },
                            data: {
                                details: {
                                    selector: 'self',
                                    flatten: true,
                                },
                            },
                        },
                    ],
                },
            ],
            data: {
                currency: currency | spaceless,
            },
        } %}

        {% block eventTracker %}
            {% widget 'TraceableEventWidget' with {
                events: events,
            } only %}
            {% endwidget %}
        {% endblock %}
    {% endblock %}

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
