{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.form,
    addresses: _view.addresses,
    title: 'company.account.business_unit' | trans,
    activePage: 'business-unit'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                },
                {
                    label: 'company.account.business_unit' | trans,
                    url: url('company/business-unit')
                },
                {
                    label: 'company.account.business_unit.edit' | trans
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        <div class="grid grid--justify">
            <div class="col">
                <h5>{{ 'company.account.business_unit.edit_information' | trans }}</h5>
            </div>
            <div class="col">
                <a class="button button--alert" href="{{ url('company/business-unit/delete-confirmation', {'id': data.form.vars.value.id_company_business_unit }) }}">{{ 'company.account.business_unit.delete' | trans }}</a>
            </div>
        </div>
        {% embed molecule('form') with {
            data: {
                form: data.form,
                layout: {
                    email: 'col col--sm-12 col--lg-6',
                    phone: 'col col--sm-12 col--lg-6'
                },
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('company/business-unit'),
                    text: 'general.back.button' | trans
                },
                embed: {
                    addresses: data.addresses
                }
            }
        } only %}
            {% block field %}
                {% if field.vars.name == 'address_collection' %}
                    {% do field.setRendered %}
                    <div class="form__field col col--sm-12">
                        <hr class="box__separator">
                        {% include molecule('business-unit-address-list', 'CompanyPage') with {
                            data: {
                                field: field,
                                addresses: data.embed.addresses,
                                idCompanyBusinessUnit: data.form.vars.value.id_company_business_unit
                            }
                        } only %}
                    </div>
                {% else %}
                    {{parent()}}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
