{% extends template('widget') %}

{% define data = {
    files: _widget.files is defined ? _widget.files : files
} %}

{% block body %}
    <ul>
        {% for file in data.files %}
            <li>
                {% if file.fkFile is defined %}
                    <a href="{{ path('files/download', {'id-file': file.fkFile}) }}">{{ file.fileName }}</a>
                {% else %}
                    <span>{{ file }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
