{% extends model('component') %}

{% define config = {
    name: 'order-item-price',
    tag: 'order-item-price'
} %}

{% define data = {
    id: required,
    ajaxUrl: required,
    price: ''
} %}

{% define attributes = {
    'quantity-input-selector': required,
    'data-ajax-selector': required
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider',
        attributes: {
            id: data.id,
            method: 'GET',
            url: data.ajaxUrl
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['small'],
        attributes: {
            'provider-selector': '#' ~ data.id
        }
    } only %}

    <div class="{{ config.jsName }}">
        {{ data.price }}
    </div>
{% endblock %}
