@mixin shop-ui-button($name: '.button') {
    #{$name} {
        @include helper-effect-transition(background-color box-shadow);
        display: inline-block;
        padding: calc(0.25rem + 1px) calc(0.5rem + 1px);
        background-color: $setting-color-main;
        border: none;
        border-radius: 0;
        color: $setting-color-white;
        text-align: center;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: helper-color-dark($setting-color-main);
            text-decoration: none;
        }

        &:active {
            background-color: $setting-color-main;
            text-decoration: none;
            box-shadow: inset 0 2px 7px 0 helper-color-dark($setting-color-main);
        }

        &--hollow {
            padding: 0.25rem 0.5rem;
            background-color: $setting-color-white;
            border: 1px solid $setting-color-main;
            color: $setting-color-main;

            &:hover,
            &:focus {
                background-color: helper-color-light($setting-color-main);
            }

            &:active {
                background-color: helper-color-light($setting-color-main);
                box-shadow: inset 0 2px 7px 0 rgba($setting-color-main, 0.7);
            }
        }

        &--big-spaces {
            padding: 2rem 1rem;
            margin: 0 0 0.5rem;
        }

        &--unselected {
            background-color: $setting-color-white;
            color: $setting-color-dark;
            border: 1px solid $setting-color-lighter;
        }

        &--selected {
            background-color: helper-color-light(map-get($setting-color-actions, 'success'));
            color: map-get($setting-color-actions, 'success');
            border: 1px solid map-get($setting-color-actions, 'success');
        }

        &--active,
        &--active:hover,
        &--unselected:hover,
        &--selected:hover {
            background-color: helper-color-light($setting-color-main);
            color: $setting-color-darker;
            border: 1px solid $setting-color-main;
        }

        &--expand {
            width: 100%;
        }

        &[disabled],
        &--disabled {
            background-color: $setting-color-light;
            border-color: $setting-color-light;
            cursor: not-allowed;

            &:hover,
            &:focus {
                background-color: $setting-color-light;
            }
        }

        &--unselected[disabled] {
            color: $setting-color-white;
        }

        @each $action, $setting-color-action in $setting-color-actions {
            @include shop-ui-button-action($action, $setting-color-action);
        }

        @content;
    }
}

@mixin shop-ui-button-action($action, $setting-color-action) {
    &--#{$action} {
        background-color: $setting-color-action;

        &:hover,
        &:focus {
            background-color: helper-color-dark($setting-color-action);
        }

        &:active {
            background-color: $setting-color-action;
            box-shadow: inset 0 2px 7px 0 helper-color-dark($setting-color-action);
        }
    }

    &--#{$action}#{&}--hollow {
        background-color: $setting-color-white;
        border-color: $setting-color-action;
        color: $setting-color-action;

        &:hover,
        &:focus {
            background-color: helper-color-light($setting-color-action);
        }

        &:active {
            background-color: helper-color-light($setting-color-action);
            box-shadow: inset 0 2px 7px 0 rgba($setting-color-action, 0.7);
        }
    }

    @content;
}
