@mixin shop-ui-button($name: '.button') {
    #{$name} {
        @include transition(background-color);
        display: inline-block;
        padding: calc(.25rem + 1px) calc(.5rem + 1px);
        background-color: $color-main;
        border: none;
        color: $color-white;
        text-align: center;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: dark($color-main);
            text-decoration: none;
        }

        &--hollow {
            padding: .25rem .5rem;
            background-color: $color-white;
            border: 1px solid $color-main;
            color: $color-main;

            &:hover,
            &:focus {
                background-color: light($color-main);
            }
        }

        @each $action, $color-action in $color-actions {
            @include shop-ui-button-action($action, $color-action);
        }

        &--expand {
            width: 100%;
        }

        &[disabled],
        &--disabled {
            background-color: $color-light;
            border-color: $color-light;
            cursor: not-allowed;

            &:hover,
            &:focus {
                background-color: $color-light;
            }
        }
    }
}

@mixin shop-ui-button-action($action, $color-action) {
    &--#{$action} {
        background-color: $color-action;

        &:hover,
        &:focus {
            background-color: dark($color-action);
        }
    }

    &--#{$action}#{&}--hollow {
        background-color: $color-white;
        border-color: $color-action;
        color: $color-action;

        &:hover,
        &:focus {
            background-color: light($color-action);
        }
    }

    @content;
}
