{% extends model('component') %}

{% define config = {
    name: 'cart-image',
} %}

{% define data = {
    name: '',
    image: null,
} %}

{% block body %}
    {% if data.image is not empty %}
        {% include molecule('lazy-image') with {
            modifiers: ['thumbnail', 'small'],
            data: {
                imageSrc: data.image.externalUrlLarge,
                imageTitle: data.name,
            },
        } only %}
    {% else %}
        <div class="text-center">
            <small>{{ 'global.no_image_available' | trans }}</small>
        </div>
    {% endif %}
{% endblock %}
