{% extends model('component') %}

{% define config = {
    name: 'cart-image',
    tag: 'div'
} %}

{% define data = {
    cartItem: required
} %}

{% set productImage = data.cartItem.images | first %}
{% set productName = data.cartItem.name %}

{% block body %}
    {% if productImage is not empty %}

        {% include atom('thumbnail') with {
            modifiers: ['small'],
            attributes: {
                alt: productName,
                src: productImage.externalUrlLarge
            }
        } only %}

    {% else %}

        <div class="text-center">
            <small>{{ 'global.no_image_available' | trans }}</small>
        </div>
    {% endif %}

{% endblock %}
