{% extends model('component') %}

{% define config = {
    name: 'cart-image',
    tag: 'div'
} %}

{% define data = {
    cartItem: required
} %}

{% set productImage = data.cartItem.images | first %}

{% block body %}
    {% if productImage is not empty %}

        <div>
            <img src="{{ productImage.externalUrlLarge }}"/>
        </div>

    {% else %}

        <div class="text-center">
            <small>{{ 'global.no_image_available' | trans }}</small>
        </div>
    {% endif %}

{% endblock %}
