@mixin shop-ui-autocomplete-form($name: '.autocomplete-form') {
    #{$name} {
        position: relative;

        &__suggestions {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: $setting-zi-element;
            margin: 0;
        }

        &__item {
            cursor: pointer;
            padding: map-get($setting-spacing, 'default');

            &:hover {
                background-color: $setting-color-dark;
            }
        }

        @content;
    }
}
