@mixin sales-configurable-bundle-widget-order-configured-bundle($name: '.order-configured-bundle') {
    #{$name} {
        border-top: 1px solid $setting-color-light;
        background: none;

        &__col {
            vertical-align: top;
        }

        @content;
    }
}

/**
 * @deprecated use configurable-bundle-widget-order-configured-bundle mixin instead.
 */
@mixin configurable-bundle-widget-order-configured-bundle($name: '.order-configured-bundle') {
    @include sales-configurable-bundle-widget-order-configured-bundle();

    #{$name} {
        @content;
    }
}
