{% extends model('component') %}

{% define config = {
    name: 'return-product-reason',
    tag: 'return-product-reason',
} %}

{% define data = {
    returnItem: required,
} %}

{% define attributes = {
    'toggle-value': 'custom_reason',
    'class-to-toggle': 'is-hidden',
} %}

{% block body %}
    {% set reasonWrapperClass = 'spacing-top' %}
    {% set reasonSelectClass = config.jsName ~ '__select' %}
    {% set customReasonWrapperClass = config.jsName ~ '__target spacing-top is-hidden' %}

    {% block dropdown %}
        <div class="{{ reasonWrapperClass }}">
            {{ form_row(data.returnItem.reason, {
                attr: {
                    class: reasonSelectClass,
                }
            }) }}
        </div>
    {% endblock %}

    {% block textarea %}
        <div class="{{ customReasonWrapperClass }}">
            {{ form_row(data.returnItem.customReason) }}
        </div>
    {% endblock %}
{% endblock %}
