@mixin price-product-volume-widget-volume-price($name: '.volume-price') {
    #{$name} {
        @include helper-font-size(big);

        &__amount {
            &--original {
                @include helper-font-size(small);
                display: block;
                color: $setting-color-dark;
                text-decoration: line-through;
            }
        }

        &__tag {
            margin-right: 0.25rem;
            color: $setting-color-alt;
        }

        &__price {
            display: inline-block;
            backface-visibility: hidden;
            transform: translateZ(0);

            &--highlighted {
                animation: pulse-highlight 0.4s linear 2;
            }
        }

        @content;
    }
}

/**
 * @deprecated use price-product-volume-widget-volume-price mixin instead.
 */
@mixin shop-ui-volume-price($name: '.volume-price') {
    @include price-product-volume-widget-volume-price();

    #{$name} {
        @content;
    }
}
