@mixin service-point-widget-endless-scroll($name: '.endless-scroll') {
    #{$name} {
        display: flex;
        max-height: 100%;
        overflow: hidden;

        &__scroll-container {
            overflow-y: auto;
            width: 100%;
        }

        &__loader {
            position: relative;
        }

        @content;
    }
}
