<div class="tile tooltip">
    <label class="tile__inner" (click)="onClick()">
        <input
            class="tile__input"
            [disabled]="disabled"
            type="radio"
            [value]="value"
            [attr.checked]="checked || null"
        />
        <ng-content></ng-content>
        <span class="tile__price">+ {{ price | configurePrice | currency: currency }}</span>
    </label>

    @if (withTooltip()) {
    <div class="tooltip__content">
        {{ disabled }}
    </div>
    }
</div>
