parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 8
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
