@mixin company-page-business-unit-chart-item($name: '.business-unit-chart-item') {
    #{$name} {
        & & {
            padding-left: map-get($setting-spacing, 'big');
        }

        &__link {
            display: block;
            padding: map-get($setting-spacing, 'default');
            margin-bottom: map-get($setting-spacing, 'default');
            background: $setting-color-lightest;
            color: $setting-color-darkest;
            border-radius: 4px;
        }

        @content;
    }
}

/**
 * @deprecated use company-page-business-unit-chart-item mixin instead.
 */
@mixin business-unit-chart-item($name: '.business-unit-chart-item') {
    @include company-page-business-unit-chart-item();

    #{$name} {
        @content;
    }
}
