$business-unit-chart-link-bg: $setting-color-lightest;
$business-unit-chart-link-color: $setting-color-darkest;

@mixin business-unit-chart-item($name: '.business-unit-chart-item') {
    #{$name} {
        & & {
            padding-left: map-get($setting-spacing, 'big');
        }

        &__link {
            display: block;
            padding: map-get($setting-spacing, 'default');
            margin-bottom: map-get($setting-spacing, 'default');
            background: $business-unit-chart-link-bg;
            color: $business-unit-chart-link-color;
            border-radius: 4px;
        }
    }
}