@mixin shopping-list-page-shopping-list-info($name: '.shopping-list-info') {
    #{$name} {
        background-color: $setting-color-lighter;
        padding: map-get($setting-spacing, default);

        &__name {
            word-break: break-word;
        }

        &--reset {
            padding: 0;
            margin: 0;
            background-color: $setting-color-transparent;
        }

        @content;
    }
}
