{# @var productOffer \Generated\Shared\Transfer\ProductOfferStorageTransfer #}

{% extends template('widget') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    productOffers: _widget.productOffers,
    productView: _widget.productView,
} %}

{% block template %}
    {% set isRadioButtonVisible = data.productOffers | length > 1 %}

    {% if data.productOffers %}
        {% block content %}
            <div class="box box--dark box--spacingless spacing spacing--inner">
                {% block contentInner %}
                    {% block title %}
                        <div>
                            <strong>{{ 'merchant_product_offer.sold_by' | trans }}</strong>
                        </div>
                    {% endblock %}

                    {% block productOfferList %}
                        {% for productOffer in data.productOffers  %}
                            {% block productOffer %}
                                {% embed molecule('merchant-product-offer-item', 'MerchantProductOfferWidget') with {
                                    data: {
                                        isChecked: data.productView.productOfferReference is same as(productOffer.productOfferReference),
                                        radioGroupName: 'product_offer_reference',
                                        productOfferReference: productOffer.productOfferReference | default,
                                        merchantName: productOffer.merchantStorage.name | default,
                                        merchantUrl: productOffer.merchantStorage.merchantUrl | default,
                                        price: productOffer.price.price | default(null),
                                        currencyIsoCode: productOffer.price.currency.code | default(null),
                                        isRadioButtonVisible: isRadioButtonVisible,
                                    },
                                    embed : {
                                        currentProductPrice: productOffer.price,
                                    },
                                } only %}
                                    {% block price %}
                                        {% widget 'CurrentProductPriceVolumeWidget' args [embed.currentProductPrice] only %}
                                            {% block priceTable %}{% endblock %}
                                        {% nowidget %}
                                            {{ parent() }}
                                        {% endwidget %}
                                    {% endblock %}
                                {% endembed %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
