{% extends template('widget') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    productOfferViewCollection: _widget.productOfferViewCollection,
} %}

{% block template %}
    {% if data.productOfferViewCollection %}
        <div class="grid grid--left grid--justify">
            <div class="col col--sm-12 col--md-12">
                <ul class="list">
                {% for productOfferView in data.productOfferViewCollection  %}
                    <ul class="list">
                        <li class="list__item spacing-y">
                            <a href="{{ productOfferView.merchantProfileView.merchantUrl }}"
                               style="background-color:#D3D3D3;">
                                {{ productOfferView.merchantProfileView.merchantName }}
                            </a>
                        </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
