{% extends template('widget') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    merchantProductOffers: _widget.merchantProductOffers,
    productView: _widget.productView,
} %}

{% block template %}
    {% set showRadioButton = data.merchantProductOffers | length > 1 %}
    {% if data.merchantProductOffers %}
        {% block content %}
            <div class="box box--dark box--spacingless spacing spacing--inner spacing-y">
                {% block contentInner %}
                    {% block title %}
                        <div>
                            <strong>{{ 'merchant_product_offer.sold_by' | trans }}</strong>
                        </div>
                    {% endblock %}

                    {% block productOfferList %}
                        {% for merchantProductOffer in data.merchantProductOffers  %}
                            {% block productOffer %}
                                {% embed molecule('merchant-product-offer-item', 'MerchantProductOfferWidget') with {
                                    data: {
                                        checked: data.productView.productOfferReference == merchantProductOffer.productOfferReference,
                                        radioGroupName: 'product_offer_reference',
                                        productOfferReference: merchantProductOffer.productOfferReference | default,
                                        merchantName: merchantProductOffer.merchantName | default,
                                        merchantUrl: merchantProductOffer.merchantUrl | default,
                                        price: merchantProductOffer.price.price | default(null),
                                        currencyIsoCode: merchantProductOffer.price.currency.code | default(null),
                                        shouldShowRadioButton: showRadioButton,
                                    },
                                    embed : {
                                        currentProductPrice: merchantProductOffer.price,
                                    }
                                } only %}
                                    {% block price %}
                                        {% widget 'CurrentProductPriceVolumeWidget' args [embed.currentProductPrice] only %}
                                            {% block priceTable %}{% endblock %}
                                        {% nowidget %}
                                            {{ parent() }}
                                        {% endwidget %}
                                    {% endblock %}
                                {% endembed %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
