{% extends template('widget') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    merchantProductViews: _widget.merchantProductViews,
    productView: _widget.productView,
} %}

{% block template %}
    {% if data.merchantProductViews %}
        {% block content %}
            <div class="box box--dark box--spacingless spacing spacing--inner spacing-y">
                {% block contentInner %}
                    {% block title %}
                        <div>
                            <strong>{{ 'merchant_product_offer.sold_by' | trans }}</strong>
                        </div>
                    {% endblock %}

                    {% block productOfferList %}
                        {% for merchantProductView in data.merchantProductViews  %}
                            {% block productOffer %}
                                {% set isSameMerchantOffer = data.productView.productOfferReference == merchantProductView.productOfferReference %}

                                {% if merchantProductView.productOfferReference != null %}
                                    {% embed molecule('merchant-product-offer-item', 'MerchantProductOfferWidget') with {
                                        data: {
                                            checked: isSameMerchantOffer,
                                            radioGroupName: 'product_offer_reference',
                                            productOfferReference: merchantProductView.productOfferReference | default,
                                            merchantName: merchantProductView.merchantName | default,
                                            merchantUrl: merchantProductView.merchantUrl | default,
                                            price: merchantProductView.price.price | default(null),
                                            currencyIsoCode: merchantProductView.price.currency.code | default(null),
                                            shouldShowRadioButton: data.merchantProductViews | length > 1,
                                        },
                                        embed : {
                                            currentProductPrice: merchantProductView.price,
                                        }
                                    } only %}
                                        {% block price %}
                                            {% widget 'CurrentProductPriceVolumeWidget' args [embed.currentProductPrice] only %}
                                                {% block priceTable %}{% endblock %}
                                            {% nowidget %}
                                                {{ parent() }}
                                            {% endwidget %}
                                        {% endblock %}
                                    {% endembed %}
                                {% else %}
                                    {% if widgetGlobalExists('MerchantProductWidget') %}
                                        {% if isSameMerchantOffer == false %}
                                            {% set isSameMerchantOffer = data.productView.merchantReference == merchantProductView.merchantReference %}
                                        {% endif %}
                                        {% embed molecule('merchant-product-item', 'MerchantProductWidget') with {
                                            data: {
                                                checked: isSameMerchantOffer,
                                                radioGroupName: 'merchant_reference',
                                                merchantReference: merchantProductView.merchantReference | default,
                                                merchantName: merchantProductView.merchantName | default,
                                                merchantUrl: merchantProductView.merchantUrl | default,
                                                price: merchantProductView.price.price | default(null),
                                                currencyIsoCode: merchantProductView.price.currency.code | default(null),
                                                shouldShowRadioButton: data.merchantProductViews | length > 1,
                                            },
                                            embed : {
                                                currentProductPrice: merchantProductView.price,
                                            }
                                        } only %}
                                            {% block price %}
                                                {% widget 'CurrentProductPriceVolumeWidget' args [embed.currentProductPrice] only %}
                                                    {% block priceTable %}{% endblock %}
                                                {% nowidget %}
                                                    {{ parent() }}
                                                {% endwidget %}
                                            {% endblock %}
                                        {% endembed %}
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
