{% extends template('widget') %}

{% define data = {
    locale: app.locale | slice(0, 2),
    productOfferViewCollection: _widget.productOfferViewCollection,
} %}

{% block template %}
    {% if data.productOfferViewCollection %}
        {% block content %}
            <div class="box box--dark box--spacingless spacing spacing--inner">
                {% block contentInner %}
                    {% block title %}
                        <div>
                            <strong>{{ "mearchant_product_offer.sold_by" | trans }}</strong>
                        </div>
                    {% endblock %}

                    {% block productOfferList %}
                        {% for productOfferView in data.productOfferViewCollection  %}
                            {% block productOffer %}
                                {% set merchantPrice = productOfferView.merchantProfileView.merchantPrice | default(12300) %}
                                {% set currentMerchantOffer = app.request.query.all['attribute']['product_offer_reference'] | default() %}
                                {% set isSameMerchantOffer= currentMerchantOffer == productOfferView.productOfferReference %}

                                {% embed molecule('merchant-product-offer-item', 'MerchantProductOfferWidget') with {
                                    data: {
                                        checked: isSameMerchantOffer,
                                        radioGroupName: 'product_offer_reference',
                                        offerReference: productOfferView.productOfferReference,
                                        merchantName: productOfferView.merchantProfileView.merchantName,
                                        merchantUrl: productOfferView.merchantProfileView.merchantUrl,
                                        merchantPrice: merchantPrice,
                                    },
                                    embed: {
                                        productOfferViewCollection: data.productOfferViewCollection,
                                    },
                                } only %}
                                    {% block radioCol %}
                                        {% if embed.productOfferViewCollection | length > 1 %}
                                            {{ parent() }}
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
