{% extends model('component') %}

{% define config = {
    name: 'shopping-list-navigation',
    tag: 'nav'
} %}

{% define data = {
    activeShoppingListId: 0,
    shoppingListCollection: required
} %}

{%- macro isActive(idShoppingList, activeShoppingListId) -%}
    {%- if idShoppingList == activeShoppingListId -%}menu__item--active{%- endif -%}
{%- endmacro -%}

{%- import _self as macros -%}

{% block body %}
    {% if data.shoppingListCollection|length %}
        <ul class="nested vertical menu">
            {% for shoppingList in data.shoppingListCollection %}
                <li class="menu__item {{ config.name }}__item {{macros.isActive(shoppingList.idShoppingList, data.activeShoppingListId)}}"><a href="{{ path('shopping-list/details', { idShoppingList: (shoppingList.idShoppingList ) })  }}">{{ shoppingList.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
