{% extends template('widget') %}

{% block body %}
    <div class="col col--sm-12 col--md-6 spacing-y--small">
        {% include atom('checkbox') with {
            attributes: {
                name: 'separate_product',
                value: 1,
                checked: true
            },
            data: {
                label: 'shared_cart_widget.add_product.separate' | trans
            }
        } only %}
    </div>
{% endblock %}
