parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#1 \$\w+ of function count expects array\|Countable, iterable<.+ItemTransfer> given.#'
        -
            identifier: missingType.iterableValue
