{% extends template('widget') %}

{% define data = {
} %}

{% block template %}
    {{parent()}}
{% endblock %}

{% block body %}
    <a href="{{ path('company/user/select') }}" data-id="change-company-user">{{ "business_on_behalf_widget.change_company_user" | trans }}</a>
{% endblock %}