{% extends model('component') %}

{% define config = {
    name: 'mini-cart-radio',
    tag: 'mini-cart-radio',
} %}

{% define data = {
    idCart: required,
    isDefault: required,
} %}

{% block body %}
    <form method="POST" action="{{ path('multi-cart/set-default', {idQuote: data.idCart}) }}" class="js-mini-cart-radio__form">
        <input id="multi_cart_set_default_form__token" name="multi_cart_set_default_form[_token]" type="hidden" value="{{ csrf_token('multi_cart_set_default_form') }}">
    </form>

    {% embed atom('radio') with {
        attributes: {
            name: 'cart-isDefault',
            checked: data.isDefault,
            'data-href': path('multi-cart/set-default', {idQuote: data.idCart}),
        },
        embed: {
            inputClass: config.jsName ~ '__input',
        },
    } only %}
        {% block inputClass %}{{ embed.inputClass }}{% endblock %}
    {% endembed %}
{% endblock %}
