{% extends template('widget') %}

{% define data = {
    ownerId: _widget.ownerId,
    ownerType: _widget.ownerType,
    returnUrl: _widget.returnUrl,
    customer: _widget.customer,
    taggedComments: _widget.taggedComments,
    commentAvailableTags: _widget.commentAvailableTags,
} %}

{% set commentListOptions = [] %}
{% set commentThreadSelectClass = 'js-comments-cart' %}

{% for key, comments in data.taggedComments %}
    {% set commentListOptions = commentListOptions | merge([key]) %}
{% endfor %}

{% block body %}
    {% block title %}
        <h5>{{ 'comment_widget.comments_to_cart' | trans }}</h5>
    {% endblock %}

    {% if data.taggedComments is not empty %}
        {% block selectCommentThread %}
            {% embed atom('select') with {
                modifiers: ['expand'],
                class: commentThreadSelectClass ~ ' spacing-bottom spacing-bottom--big',
                embed: {
                    commentListOptions: commentListOptions,
                },
            } only %}
                {% block options %}
                    {% for commentOption in embed.commentListOptions %}
                        <option value="{{ commentOption }}">{{ ('comment_widget.tags.' ~ commentOption) | trans }}</option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}

        {% block commentThreadList %}
            {% include molecule('comment-thread-list', 'CommentWidget') with {
                class: 'spacing-bottom spacing-bottom--medium',
                attributes: {
                    'comment-thread-select-selector': '.' ~ commentThreadSelectClass,
                },
                data: {
                    commentsThreadList: data.taggedComments,
                    commentAvailableTags: data.commentAvailableTags,
                    returnUrl: data.returnUrl,
                    idCustomer: data.customer.idCustomer,
                },
            } only %}
        {% endblock %}
    {% endif %}

    {% block newCommentForm %}
        {% include molecule('comment-form', 'CommentWidget') with {
            data: {
                formView: 'add',
                returnUrl: data.returnUrl,
                ownerId: data.ownerId,
                ownerType: data.ownerType,
                submit: {
                    text: 'comment_widget.form.add_comment' | trans,
                    action: path('comment/add'),
                },
            },
        } only %}
    {% endblock %}
{% endblock %}
