language: php
dist: bionic

git:
    depth: 1

php:
    - 7.4

cache:
    directories:
        - $HOME/.composer/cache

env:
    global:
        - APPLICATION_ENV=development
        - APPLICATION_STORE=DE

before_install:
    - phpenv config-rm xdebug.ini
    - nvm install 10

install:
    - composer install --no-interaction --prefer-dist --optimize-autoloader
    - npm ci
    - npm install -g git+https://github.com/spryker-sdk/frontend-sniffer.git#semver:^0.2.3

script:
    - chmod +x *.sh
    - bash travis_check_touched_modules.sh
    - frontend-sniffer --config ./ --path ../../ --level-restriction core
    - npm run formatter
    - npm run stylelint
    - npm run tslint

notifications:
    email: false
