{% extends model('component') %}

{% define config = {
    name: 'variant-configurator',
    tag: 'section'
} %}

{% define data = {
    superAttributes: [],
    selectedAttributes: [],
    availableAttributes: [],
    useExternalForm: false,
} %}

{% block component %}
    {% if data.superAttributes is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    {% set excludeParams = [] %}
    {% set transformedParams = {} %}
    {% set attributeKey = 'attribute' %}

    {% for key, value in app.request.query.all %}
        {% if key == attributeKey and value is iterable %}
            {% for attrKey, attrValue in value %}
                {% set transformedParams = transformedParams | merge({ ("#{attributeKey}[#{attrKey}]"): attrValue }) %}
            {% endfor %}
        {% else %}
            {% set transformedParams = transformedParams | merge({ (key): value }) %}
        {% endif %}
    {% endfor %}

    {% if not data.useExternalForm %}
        <form method="GET">
    {% endif %}

    <ul class="list">
        {% for name, values in data.superAttributes %}
            {% set selectedValue = data.selectedAttributes[name] | default %}
            {% set selectedValue = selectedValue in values ? selectedValue : null %}
            {% set isAvailable = true %}
            {% set formName = "#{attributeKey}[#{name}]" %}
            {% set excludeParams = excludeParams | merge([formName]) %}
            {% set optionResetUrl = transformedParams
                | filter((value, key) => key != formName)
                | map((value, key) => "#{key}=#{value}")
                | join('&')
            %}

            {% for selectedAttributeName, selectedAttributeValue in data.selectedAttributes | filter((v, k) => k != name) %}
                {% set selectedUrlParameter = [("#{attributeKey}[#{selectedAttributeName}]")| url_encode, selectedAttributeValue]|join('=') %}
                {% set optionResetUrl = [optionResetUrl, selectedUrlParameter] | join('&') %}
            {% endfor %}

            {% if name in data.availableAttributes | keys %}
                {% set values = data.availableAttributes[name] %}
            {% else %}
                {% set isAvailable = selectedValue is empty %}
            {% endif %}
                {% block variant %}
                    <li class="list__item spacing-y">
                        {% include molecule('variant', 'ProductDetailPage') with {
                            data: {
                                name: name,
                                formName: formName,
                                values: values,
                                selectedValue: selectedValue,
                                label: "product.attribute.#{name}" | trans,
                                isAvailable: isAvailable,
                                optionResetUrl: optionResetUrl
                            }
                        } only %}
                    </li>
                {% endblock %}
        {% endfor %}
    </ul>

    {% block requestParams %}
        {% for name, value in transformedParams %}
            {% if name not in transformedParams %}
                <input type="hidden" name="{{ name }}" value="{{ value }}" />
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% if not data.useExternalForm %}
        </form>
    {% endif %}
{% endblock %}
