{% extends model('component') %}

{% define config = {
    name: 'variant-configurator',
    tag: 'section'
} %}

{% define data = {
    superAttributes: [],
    selectedAttributes: [],
    availableAttributes: [],
    useExternalForm: false,
} %}

{% macro generateQueryString(data, parentKey = '') %}
    {% set queryString = '' %}

    {% for key, value in data %}
        {% set currentKey = parentKey ? "#{parentKey}[#{key}]" : key %}

        {% if value is iterable %}
            {% set queryString = "#{queryString}#{_self.generateQueryString(value, currentKey)}" %}
        {% else %}
            {% if value %}
                {% set queryString = "#{queryString}#{currentKey}=#{value}," %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {{- queryString -}}
{% endmacro %}

{% block component %}
    {% if data.superAttributes is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    {% set attributeKey = 'attribute' %}
    {% set transformedParams = _self.generateQueryString(app.request.query.all)
        | spaceless
        | split(',')
        | filter(param => param is defined and param | trim)
        | reduce((acc, param) => acc | merge({(param | split('=')[0]): (param | split('=')[1])}), {})
    %}

    {% if not data.useExternalForm %}
        <form method="GET">
    {% endif %}

    {% block variants %}
        <ul class="list">
            {% for name, values in data.superAttributes %}
                {% set selectedValue = data.selectedAttributes[name] | default %}
                {% set selectedValue = selectedValue in values ? selectedValue : null %}
                {% set isAvailable = true %}
                {% set formName = "#{attributeKey}[#{name}]" %}
                {% set optionResetUrl = transformedParams
                    | filter((value, key) => key != formName)
                    | map((value, key) => "#{key | url_encode}=#{value}")
                    | join('&')
                %}

                {% for selectedAttributeName, selectedAttributeValue in data.selectedAttributes | filter((v, k) => k != name) %}
                    {% set selectedUrlParameter = ["#{attributeKey}[#{selectedAttributeName}]" | url_encode, selectedAttributeValue] | join('=') %}

                    {% if selectedUrlParameter not in optionResetUrl %}
                        {% set optionResetUrl = [optionResetUrl, selectedUrlParameter] | join('&') %}
                    {% endif %}
                {% endfor %}

                {% if name in data.availableAttributes | keys %}
                    {% set values = data.availableAttributes[name] %}
                {% else %}
                    {% set isAvailable = selectedValue is empty %}
                {% endif %}
                    {% block variant %}
                        <li class="list__item spacing-y">
                            {% include molecule('variant', 'ProductDetailPage') with {
                                data: {
                                    name: name,
                                    formName: formName,
                                    values: values,
                                    selectedValue: selectedValue,
                                    label: "product.attribute.#{name}" | trans,
                                    isAvailable: isAvailable,
                                    optionResetUrl: optionResetUrl,
                                }
                            } only %}
                        </li>
                    {% endblock %}
            {% endfor %}
        </ul>
    {% endblock %}

    {% block requestParams %}
        {% for name, value in transformedParams %}
            {% if attributeKey not in name %}
                <input type="hidden" name="{{ name }}" value="{{ value }}" />
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% if not data.useExternalForm %}
        </form>
    {% endif %}
{% endblock %}
