{% extends model('component') %}

{% define config = {
    name: 'measurement-unit',
    tag: 'measurement-unit'
} %}

{% define data = {
    id: required,
    ajaxUrl: required
} %}

{% define attributes = {
    'data-ajax-selector': required
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider',
        attributes: {
            id: data.id,
            method: 'GET',
            url: data.ajaxUrl
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['small'],
        attributes: {
            'provider-selector': '#' ~ data.id
        }
    } only %}

    <div class="{{ config.jsName }}__wrapper"></div>
{% endblock %}
