{% extends model('component') %}

{% set config = {
    name: 'logo',
    tag: 'span'
} | merge(config | default({})) %}

{% set data = {
    url: data.url | default('/'),
    src: data.src | default('/assets/default/img/logo.svg')
} | merge(data | default({})) %}

{% block body %}
    <a href="{{data.url}}">
        <img src="{{data.src}}" />
    </a>
{% endblock %}
