{% extends template('widget') %}

{% define data = {
    quoteShareDetails: _widget.quoteShareDetails,
} %}

{% block body %}
    <div class="box">
        {% if data.quoteShareDetails is not empty %}
            <ul class="list list--bullet">
                {% for shareDetail in data.quoteShareDetails %}
                    <li class="list__item">
                        <strong>{{ shareDetail.customerName }}</strong>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
