{% extends template('widget') %}

{% define data = {
    quoteShareDetails: _widget.quoteShareDetails,
} %}

{% block body %}
    {% if data.quoteShareDetails is not empty %}
        <div class="box">
            {{ "multi_cart_page.cart_delete_confirmation.shared_with" | trans }}:
            <ul class="list list--bullet">
                {% for shareDetail in data.quoteShareDetails %}
                    <li class="list__item">
                        <strong>{{ shareDetail.customerName }}</strong>
                    </li>
                {% endfor %}
            </ul>
            <span class="text-alert">{{ "multi_cart_page.cart_delete_confirmation.from_all_of_them" | trans }}</span>
            <br><br>
        </div>
    {% endif %}
{% endblock %}
