@mixin configurable-bundle-page-configured-bundle-total($name: '.configured-bundle-total') {
    #{$name} {
        padding: 0.5rem;
        margin: 1rem 0.5rem;
        background: $setting-color-lighter;

        @content;
    }
}
