{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    cart: _view.cart,
    form: _view.quoteForm,
    formAction: url('multi-cart/update', {idQuote: _view.cart.idQuote}),
    title: 'multi_cart.form.edit_cart' | trans,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'page.multi_cart.shopping_cart.list.title' | trans,
                    url: url('multi-cart'),
                },
                {
                    label: data.cart.name,
                    url: url('multi-cart/update', {idQuote: data.cart.idQuote}),
                },
                {
                    label: 'page.multi_cart.shopping_cart.update.title' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'multi_cart.form.edit_cart_information' | trans,
                form: data.form,
                options: {
                    action: data.formAction
                },
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('cart'),
                    text: 'general.back.button' | trans
                }
            }
        } only %}
    </div>
{% endblock %}
