{% block cmsBlockTop %}
    <div class="row">
        {{ spyCmsBlock({category: idCategory, position: 'top'}) }}
    </div>
{% endblock %}

{% block cmsBlockMiddle %}
    <div class="row">
        {{ spyCmsBlock({category: idCategory, position: 'middle'}) }}
    </div>
{% endblock %}

{% block cmsBlockBottom %}
    <div class="row">
        {{ spyCmsBlock({category: idCategory, position: 'bottom'}) }}
    </div>
{% endblock %}
