{% block title %}
    <h3>{{ category.name }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        {{ spyCmsBlock({category: idCategory, position: 'top'}) }}
    </div>

    <div class="row">
        {{ spyCmsBlock({category: idCategory, position: 'middle'}) }}
    </div>
{% endblock %}

{% block footer %}
    {{ spyCmsBlock({category: idCategory, position: 'bottom'}) }}
{% endblock %}
