{% extends model('component') %}

{% define config = {
    name: 'suggestion-product'
} %}

{% define data = {
    product: required,
    image: data.product.images | first | default,
    alt: data.product.abstract_name | default(''),
    title: data.product.abstract_name | default(''),
    price: data.product.price | default,
    originalPrice: data.product.prices.ORIGINAL | default
} %}

{% block body %}
    <a class="grid js-suggestions-navigable js-suggestions-navigable-product {{ config.name }}__link" href="{{ data.product.url }}">
        <span class="col col--sm-3">
            {% if data.image %}
                {% include atom('thumbnail') with {
                    modifiers: ['smaller', 'has-border'],
                    attributes: {
                        alt: data.alt,
                        src: data.image.external_url_small,
                        title: data.title
                    },
                    class: config.name ~ '__thumbnail'
                } only %}
            {% endif %}
        </span>

        <span class="col col--sm-9 spacing spacing--inner">
            {{ data.product.abstract_name }}

            {% include molecule('price') with {
                data: {
                    amount: data.price | money,
                    originalAmount: data.originalPrice | money
                }
            } only %}
        </span>
    </a>
{% endblock %}