@mixin suggestion-product($name: '.suggestion-product') {
    #{$name} {

        &__link {
            color: $setting-color-black;

            &.is-active {
                color: $setting-color-main;
            }
        }

        &__thumbnail {
            margin: 0;
        }

        @content;
    }
}