{% extends model('component') %}

{% define config = {
    name: 'suggestion-product',
} %}

{% define data = {
    product: required,
    price: required,
    url: '',
    image: null,
    alt: '',
    title: '',
    originalPrice: null,
} %}

{% define attributes = {
    sku: data.product.add_to_cart_sku | default(data.product.abstract_sku),
} %}

{% block body %}
    <a class="grid js-suggest-search__item--navigable js-suggest-search__product-item--navigable {{ config.name }}__link" href="{{ data.url }}">
        <span class="col col--sm-3">
            {% if data.image %}
                {% set imageClasses = '' %}
                {% set imageModifiers = ['thumbnail', 'smaller', 'has-border'] %}

                {% block image %}
                    {% include molecule('lazy-image') with {
                        class: imageClasses,
                        modifiers: imageModifiers,
                        data: {
                            imageSrc: data.image.external_url_small,
                            imagePlaceholder: data.image.external_url_small,
                            imageTitle: data.alt,
                        },
                        extraAttributes: data.title ? {
                            title: data.title,
                        } : {},
                    } only %}
                {% endblock %}
            {% endif %}
        </span>

        <span class="col col--sm-9 spacing spacing--inner">
            {{ data.title }}

            {% if can('SeePricePermissionPlugin') %}
                {% include molecule('money-price') with {
                    data: {
                        amount: data.price,
                        originalAmount: data.originalPrice ?? null,
                    },
                } only %}
            {% else %}
                <br>
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
        </span>
    </a>
{% endblock %}
