{% extends template('widget') %}

{% define data = {
    idQuote: _widget.cart.idQuote,
} %}

{% block body %}
    <div class="box box--borderless">
        <a href="{{ path('multi-cart/clear', {idQuote: data.idQuote}) }}" class="button clear" data-init-single-click>
            {{ "multi_cart_widget.cart.action.clear" | trans }}
        </a>
    </div>
{% endblock %}
