@mixin shop-ui-select($name: '.select') {
    #{$name} {
        @include helper-effect-transition(border-color);
        display: inline-block;
        position: relative;
        max-width: 100%;
        background-color: $setting-color-white;
        border: 1px solid $setting-color-input-border;
        border-radius: 0;

        &__select {
            display: block;
            max-width: 100%;
            padding-left: 0.25rem;
            background-color: $setting-color-transparent;
            border: 0.25rem solid $setting-color-transparent;
            border-right-width: 1.5rem;
            border-radius: 0;
            z-index: $setting-zi-element + 1;
            appearance: none;

            &::-ms-expand {
                display: none;
            }

            &[disabled],
            &--disabled {
                background-color: $setting-color-lightest;
                cursor: not-allowed;
            }
        }

        &__caret {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.25rem;
            margin: auto;
            color: $setting-color-darker;
            z-index: $setting-zi-element;
            pointer-events: none;
        }

        &--expand,
        &--expand &__select {
            display: block;
            width: 100%;
        }

        &--naked {
            background-color: $setting-color-transparent;
            border: none;
        }

        &--error {
            border-color: map-get($setting-color-actions, alert);
        }

        &--error &__caret {
            color: map-get($setting-color-actions, alert);
        }

        @content;
    }
}
