@mixin shop-ui-select($name: '.select') {
    #{$name} {
        @include transition(border-color);
        display: inline-block;
        position: relative;
        max-width: 100%;
        background-color: $color-white;
        border: 1px solid $color-input-border;

        &__select {
            display: block;
            max-width: 100%;
            background-color: $color-transparent;
            border: .25rem solid $color-transparent;
            border-right-width: 1.5rem;
            z-index: 2;
            appearance: none;
            -webkit-appearance: none;

            &::-ms-expand {
                display: none;
            }
        }

        &__caret {
            position: absolute;
            top: 0;
            bottom: 0;
            right: .25rem;
            margin: auto;
            color: $color-darker;
            z-index: 1;
        }

        &--expand,
        &--expand &__select {
            display: block;
            width: 100%;
        }

        &--naked {
            background-color: $color-transparent;
            border: none;
        }

        &--error {
            border-color: map-get($color-actions, alert);
        }

        &--error &__caret {
            color: map-get($color-actions, alert);
        }

        @content;
    }
}
