@import '../styles/shared';

:host {
    display: block;
    background: $setting-color-gray-3;
    padding: 17px 30px 18px;

    @include helper-breakpoint(lg) {
        padding: 30px 30px 28px;
    }
}

.title {
    text-align: center;

    @include helper-breakpoint(sm, lg) {
        font-size: map-get($setting-font-size, default);
    }

    &__subtext {
        color: $setting-color-gray-7;
    }
}
