{% define data = {
    products: _view.data
} %}

{% if (data.products|length) %}
    <ul>
        {% for product in data.products %}
            <li data-id-product="{{ product.fkProduct }}">
                <b>{{ product.sku }}</b>: {{ product.name }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="no-results">
        <li>Item cannot be found</li>
    </ul>
{% endif %}
