@mixin shop-ui-autosuggest-input($name: '.autosuggest-input') {
    .holder {
        position: relative;
    }

    .dropdown {
        position: absolute;
        border: 1px solid red;
        z-index: 1000;
        background: white;
    }

    .hidden {
        display: none;
    }

    input:focus + .dropdown {
        display: block;
    }

    .autocomplete-item:hover {
        background-color: #00c4ff;
        cursor: pointer;
    }
}
