{% for filter in _view.facets %}
    {% if filter.values is not defined or filter.values|length > 0 %}
        <div class="callout">
            <h5>{{ ('product.filter.' ~ filter.name | lower) | trans }}</h5>
            {% include [
                '@CatalogPage/_partials/filters/' ~ filter.config.name ~ '.twig',
                '@CatalogPage/_partials/filters/' ~ filter.config.type ~ '.twig',
            ] %}
        </div>
    {% endif %}
{% endfor %}
