{% extends model('component') %}

{% define config = {
    name: 'product-option-of-cart-item'
} %}

{% define data = {
    options: []
} %}

{% block body %}
    {% if data.options is not empty %}
        <ul class="list list--expand list--plus">
            {% for option in data.options %}
                <li class="list__item">
                    {{ option.value | trans }}
                    <span class="float-right">{{ option.unitPrice | money }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
