<div class="product-label-group">
    {% for productLabelDictionaryItemTransfer in productLabelDictionaryItemTransfers %}
        {% include '@ProductLabelWidget/_partials/label.twig' with {
            productLabelDictionaryItemTransfer: productLabelDictionaryItemTransfer
        } %}
    {% endfor %}
</div>
