$setting-button-width: 1.875rem;

@mixin shop-ui-password-field($name: '.password-field') {
    #{$name} {
        position: relative;

        #{$name}__input {
            padding-right: $setting-button-width;
        }

        #{$name}__icon-hide {
            display: none;
        }

        &__button {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $setting-button-width;
            height: 100%;
            color: $setting-color-darker;
            cursor: pointer;
            border: none;
            background: none;

            &:hover,
            &:focus {
                color: $setting-color-darkest;
            }

            &--shown {
                #{$name} {
                    &__icon-show {
                        display: none;
                    }

                    &__icon-hide {
                        display: inline-block;
                    }
                }
            }
        }

        @content;
    }
}
