{% extends model('component') %}

{% define config = {
    name: 'active-filters',
} %}

{% define data = {
    orderSearchForm: required
} %}

{% block body %}

    {% set activeFilters = [] %}
    {% set dateFilters = ['dateFrom', 'dateTo'] %}
    {% set filtersIgnoreList = ['_token','searchGroup', 'searchText', 'isOrderItemsVisible'] %}

    {% for field in data.orderSearchForm.children %}
        {% if field.vars.value is not empty and field.vars.name not in filtersIgnoreList %}
            {% set fitlerValue = field.vars.name in dateFilters ?
                field.vars.value | date('d.m.Y H:i')
                : field.vars.value %}

            {% set activeFilters =  activeFilters | merge({(field.vars.label): fitlerValue}) %}
        {% endif %}
    {% endfor %}

    {% if (activeFilters | length) %}

        <div>
            <span class="title--bold">
                {{ 'customer.order_history.active_filters' | trans }}
            </span>
        </div>

        {% for filterName, filterValue in activeFilters %}
            <span class="title--bold">{{ filterName | trans }}</span>
            <span>{{ filterValue }}</span>
        {% endfor %}

    {% endif %}

{% endblock %}
