{% extends model('component') %}

{% define config = {
    name: 'sales-return-detail-table',
} %}

{% define data = {
    returnItems: [],
    currencyIsoCode: null,
    reurnItemsCount: null
} %}

{% block body %}
    <ul>
        <li>
            {{ 'sales_return.items_to_return' | trans }}:
            <strong>{{ data.reurnItemsCount }}</strong>
        </li>
        <li>
            {{ 'sales_return.remuneration_total' | trans }}:
            <strong>{{ data.returns.returnTotals.remunerationTotal | money(true, data.currencyIsoCode) }}</strong>
        </li>
    </ul>
{% endblock %}
