@mixin product-label-widget-flag($name: '.flag') {
    #{$name} {
        @include helper-font-size(small);
        @include helper-font-line-height(tight);
        margin-bottom: 0.5rem;
        color: $setting-color-text;

        &__text {
            display: inline-block;
            padding: 0.5rem;
            background: rgba($setting-color-light, 0.5);
        }

        &__icon {
            color: $setting-color-main;
        }

        &--highlight,
        &--highlight &__icon {
            color: $setting-color-alt;
        }

        @content;
    }
}
