{% extends model('component') %}

{% define config = {
    name: 'flag',
} %}

{% define data = {
    text: '',
    additionalClass: '',
} %}

{% block body %}
    <div class="{{ config.name }}__content">
        <span class="{{ config.name }}__text {{ data.additionalClass }}">
            {% include atom('icon') with {
                modifiers: ['small'],
                class: config.name ~ '__icon',
                data: {
                    name: 'bookmark',
                },
            } only %}
                {{ data.text }}
        </span>
    </div>
{% endblock %}
