{% extends model('component') %}

{% define config = {
    name: 'flag',
} %}

{% define data = {
    text: '',
    textClass: '',
} %}

{% define attributes = {
    'data-config-name': config.name,
} %}

{% block body %}
    <div class="{{ config.name }}__content">
        <span class="{{ config.name }}__text">
            {% include atom('icon') with {
                modifiers: ['small'],
                class: config.name ~ '__icon',
                data: {
                    name: 'bookmark',
                },
            } only %}
            <span class="{{ data.textClass }}">{{ data.text }}</span>
        </span>
    </div>
{% endblock %}
