{% extends model('component') %}

{% define config = {
    name: 'product-quick-add-fields'
} %}

{% define data = {
    form: required
} %}

{% block body %}
    {% do data.form.sku.setRendered %}

    <div class="form__field col col--sm-12 search-field">
        {% widget 'ProductConcreteSearchWidget' args [
            'ajax-provider' ~ config.name,
            data.form.sku.vars.full_name,
        ] only %}
        {% endwidget %}
    </div>

    <div class="form__field col col--sm-12 quantity-field">
        {{ form_widget(data.form.children.quantity, {
            attr: {
                class: config.jsName ~ '__quantity',
                min: 1,
                step: 1,
                placeholder: 'cart.quick_add_to_cart.quantity' | trans
            }}
        ) }}
    </div>
{% endblock %}
