{% extends model('component') %}

{% define config = {
    name: 'product-quick-add-fields'
} %}

{% define data = {
    form: required,
    vertical: false
} %}

{% block body %}
    {% do data.form.sku.setRendered %}

    <div class="col col--sm-12 {{ data.vertical ? 'spacing-bottom' : 'col--md-8 spacing-right spacing-right--inner' }}">
        {% widget 'ProductConcreteSearchWidget' args [
            'ajax-provider' ~ config.name,
            data.form.sku.vars.full_name,
        ] only %}
        {% endwidget %}
    </div>

    <div class="col col--sm-12 {{ data.vertical ? 'spacing-bottom' : 'col--md-4 spacing-right spacing-right--inner' }}">
        {{ form_widget(data.form.children.quantity, {
            attr: {
                class: config.jsName ~ '__quantity',
                min: 1,
                step: 1,
                placeholder: 'cart.quick_add_to_cart.quantity' | trans
            }}
        ) }}
    </div>
{% endblock %}
