@mixin quick-order-page-quick-order-row($name: '.quick-order-row') {
    #{$name} {
        &__message {
            padding: 0.5rem;
            background-color: $setting-color-white;
            z-index: $setting-zi-notification-area;

            &--error {
                border: 1px solid map-get($setting-color-actions, 'alert');
                color: map-get($setting-color-actions, 'alert');
            }

            &--warning {
                border: 1px solid map-get($setting-color-actions, 'warning');
                color: map-get($setting-color-actions, 'warning');
            }
        }

        @content;
    }
}
