@mixin product-search-widget-product-quick-add-form($name: '.product-quick-add-form') {
    #{$name} {
        &--row {
            padding: map-get($setting-spacing, 'default');
            background-color: $setting-color-lighter;
        }

        &__title {
            &--row {
                @include helper-font-size(default);
                font-weight: bold;
            }
        }

        @content;
    }
}

/**
 * @deprecated use product-search-widget-product-quick-add-form mixin instead.
 */
@mixin product-quick-add-widget-product-quick-add-form($name: '.product-quick-add-form') {
    @include product-search-widget-product-quick-add-form();

    #{$name} {
        @content;
    }
}
