{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    form: _view.cartToShoppingListForm,
    cart: _view.cart,
    backUrl: app.request.headers.get('referer') | default(url('shopping-list')),
    title: 'customer.account.shopping_list.create_from_cart.title' | trans,
    activePage: 'shoppingList'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list.shopping_cart' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% widget 'CreateShoppingListFromCartWidget' args [data.cart.idQuote] only %}{% endwidget %}
    </div>
{% endblock %}
