@mixin shop-ui-title($name: '.title') {
    #{$name} {
        @each $i in (1, 2, 3, 4, 5, 6) {
            &--h#{$i} {
                @include helper-font-size($i);
                @include helper-font-line-height($i);
            }
        }

        @each $name, $value in $setting-font-weight {
            &--#{$name} {
                font-weight: $value;
            }
        }

        @each $name, $value in $setting-color-actions {
            &--#{$name} {
                color: $value;
            }
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--bottom-divider {
            border-bottom: 0.063rem solid $setting-color-lighter;
        }

        &--link {
            color: $setting-color-main;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        @content;
    }
}
