{# @deprecated Use molecule product-item instead. #}
{% extends molecule('card') %}

{% define config = {
    name: 'product-card',
    tag: 'article'
} %}

{% define data = {
    name: required,
    abstractId: required,
    url: required,
    imageUrl: required,
    price: null,
    originalPrice: null,
    currencyIsoCode: null,
} %}

{% block content %}
    {% block labels %}
        {% widget 'ProductAbstractLabelWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductAbstractLabelWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use ProductAbstractLabelWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block groups %}
        {% widget 'ProductGroupWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductGroupWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use ProductGroupWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block name %}
        <strong>{{data.name}}</strong>
    {% endblock %}

    {% block sku %}{% endblock %}

    {% block rating %}
        {% widget 'DisplayProductAbstractReviewWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductAbstractReviewWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use DisplayProductAbstractReviewWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block price %}
        <p>
            {% if can('SeePricePermissionPlugin') and data.price %}
                {% include molecule('money-price') with {
                    data: {
                        amount: data.price,
                        originalAmount: data.originalPrice is empty ? null : data.originalPrice,
                        currencyIsoCode: data.currencyIsoCode,
                    }
                } only %}
            {% else %}
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
        </p>
    {% endblock %}
{% endblock %}
