@mixin component-product-card($name: '.product-card') {
    #{$name} {
        &__container {
            padding-bottom: spacing(7);
        }

        &__actions-container {
            position: absolute;
            bottom: spacing();
            left: spacing();
            right: spacing();
            margin: auto;
        }
    }
}
