{% extends molecule('card') %}

{% define config = {
    name: 'product-card',
    tag: 'article'
} %}

{% define data = {
    name: required,
    abstractId: required,
    url: required,
    imageUrl: required,
    price: required,
    originalPrice: null
} %}

{% block content %}
    {% block labels %}
        {% widget 'ProductAbstractLabelWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductAbstractLabelWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use ProductAbstractLabelWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block groups %}
        {% widget 'ProductGroupWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductGroupWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use ProductGroupWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block name %}
        <strong>{{data.name}}</strong>
    {% endblock %}

    {% block rating %}
        {% widget 'ProductAbstractReviewWidget' args [data.abstractId] only %}
        {% elsewidget 'ProductAbstractReviewWidgetPlugin' args [data.abstractId] only %} {# @deprecated Use ProductAbstractReviewWidget instead. #}
        {% endwidget %}
    {% endblock %}

    {% block price %}
        <p>
            {% include molecule('price') with {
                data: {
                    amount: data.price | money,
                    originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                }
            } only %}
        </p>
    {% endblock %}
{% endblock %}
