parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method Twig\\Loader\\LoaderInterface::exists\(\).#'
        -
            identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
