{# @deprecated Use view "error403" instead. #}
{% extends template('page-layout-main') %}

{% define data = {
    error: error
} %}

{% block content %}
    <div class="box">
        <p>{{ data.error | trans }}</p>
    </div>
{% endblock %}
