{% extends model('component') %}

{% define config = {
    name: 'product-carousel',
    tag: 'section'
} %}

{% define data = {
    product: required
} %}

{% block body %}
    {% if widgetExists('ProductImageWidgetPlugin123') %}
        {{ widget('ProductImageWidgetPlugin', data.product) }} {# @deprecated Use molecule('simple-carousel') instead. #}
    {% else %}
        {% embed molecule('simple-carousel') with {
            data: {
                slides: data.product.images | default([])
            }
        } only %}
            {% block slide %}
                <div class="text-center">
                    {% include atom('thumbnail') with {
                        modifiers: ['bigger'],
                        attributes: {
                            itemprop: 'image',
                            src: slide.externalUrlLarge
                        }
                    } only %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% widget 'ProductAbstractLabelWidget' args [data.product.idProductAbstract] only %}
    {% elsewidget 'ProductAbstractLabelWidgetPlugin' args [data.product] only %} {# @deprecated Use ProductAbstractLabelWidget instead. #}
    {% endwidget %}
{% endblock %}
