{% extends template('page-layout-main') %}

{% define data = {
    cart: _view.cart,
    form: _view.quoteForm,
    formAction: url('multi-cart/update', {quoteName: _view.cart.name}),
    title: 'cart.cart' | trans,
} %}

{% block breadcrumbs %}
    {{ widget('CheckoutBreadcrumbWidgetPlugin', data.cart) }}
{% endblock %}

{% block content %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'multi_cart.form.edit_cart' | trans,
                form: data.form,
                options: {
                    action: data.formAction
                },
                submit: {
                    enable: true
                },
            }
        } only %}
    </div>
{% endblock %}
