{% extends model('component') %}

{% define config = {
    name: 'cart-comment-info',
    tag: 'cart-comment-info',
} %}

{% define data = {
    comment: required,
} %}

{% block body %}
    <p>{{ data.comment.customer.firstName }} {{ data.comment.customer.lastName }}</p>
    <p class="text-secondary">{{ data.comment.createdAt | formatDateTime }}</p>
    <p>{{ data.comment.message }}</p>
{% endblock %}
