{% extends model('component') %}

{% define config = {
    name: 'suggest-search',
    tag: 'suggest-search',
} %}

{# @deprecated property "input-selector" is deprecated: use "input-class-name" instead. #}
{% define attributes = {
    'suggestion-url': required,
    'input-selector': '',
    'input-class-name': '',
    'debounce-delay': 500,
    'throttle-delay': 200,
    'letters-trashold': 2,
} %}

{% block body %}
    <div class="box is-hidden {{ config.name }}__container {{ config.jsName }}__container"></div>

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['suggestion-url'],
        },
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['big'],
        attributes: {
            'provider-class-name': config.jsName ~ '__ajax-provider',
        },
    } only %}
{% endblock %}
