{% extends model('component') %}

{% define config = {
    name: 'suggest-search',
    tag: 'suggest-search'
} %}

{% define data = {
    suggestionUrl: required,
    inputSelector: required
} %}

{% define attributes = {

} %}

{% block body %}
    <div class="box is-hidden {{ config.name }}__container {{ config.jsName }}-container"></div>

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '-provider',
        attributes: {
            method: 'post',
            baseSuggestUrl: data.suggestionUrl,
            url: data.suggestionUrl,
            inputSelector: data.inputSelector
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['big'],
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '-provider'
        }
    } only %}
{% endblock %}