{% extends model('component') %}

{% define config = {
    name: 'share-list-item',
} %}

{% define data = {
    name: required,
    shareForm: required
} %}

{% block body %}
    <div class="grid grid--middle">
        <div class="col col--sm-6 col--md-7">
            <label>{{ data.name }}</label>
        </div>
        <div class="col col--sm-6 col--md-5">
            {{ form_row(data.shareForm) }}
        </div>
    </div>
{% endblock %}
