{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    isMultiCartAllowed: _widget.isMultiCartAllowed
} %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}
    <div class="box">
        {% include molecule('cart-operations', 'MultiCartWidget') with {
            data: data
        } only %}
    </div>
    {% endif %}
{% endblock %}
