{% extends template('widget') %}

{% define data = {
    carts: _widget.cartCollection,
    isMultiCartAllowed: _widget.isMultiCartAllowed
} %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}
        <div class="box text-right">
            <a class="button" href="{{url('multi-cart/create')}}" title="{{ 'multi_cart_widget.cart.add' | trans }}">{{ 'multi_cart_widget.cart.add' | trans }}</a>
        </div>
        {% if data.carts is not empty and data.carts|length > 1 %}
            <div class="box">
                {% include molecule('cart-table', 'MultiCartWidget') with {
                    data: {
                        carts: data.carts
                    }
                } only %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
