{% extends model('component') %}

{% define config = {
    name: 'filter-range',
} %}

{% define data = {
    parameter: required,
    min: required,
    activeMin: required,
    max: required,
    activeMax: required,
    numberFormatConfig: {},
} %}

{% set inputAttributes = {
    min: data.min,
    max: data.max,
    'decimal-rounding': 0,
} | merge(data.numberFormatConfig) %}

{% block body %}
    <h3 class="title--h6">{{ ('product.filter.' ~ data.filter.name | lower) | trans }}</h3>

    <div class="grid grid--justify spacing-top">
        <div class="col col--sm-5">
            <label>
                {{ 'catalog.filter.rangeFrom'|trans }}

                {% include molecule('formatted-number-input') with {
                    modifiers: ['expand'],
                    data: {
                        inputName: data.parameter ~ '[min]',
                        inputValue: data.activeMin,
                    },
                    attributes: inputAttributes,
                } only %}
            </label>
        </div>

        <div class="col col--sm-5">
            <label>
                {{ 'catalog.filter.rangeTo'|trans }}

                {% include molecule('formatted-number-input') with {
                    modifiers: ['expand'],
                    data: {
                        inputName: data.parameter ~ '[max]',
                        inputValue: data.activeMax,
                    },
                    attributes: inputAttributes,
                } only %}
            </label>
        </div>
    </div>
{% endblock %}
