$color-main: #e2694a !default; 

$color-white: #ffffff !default;
$color-black: #000000 !default;

$color-light: #dddddd !default;
$color-lighter: #E7EAEC !default;
$color-lightest: #F3F3F4 !default;

$color-dark: #dddddd !default;
$color-darker: #878787 !default;
$color-darkest: #676A6C !default;

$color-bg: $color-white !default;
$color-text: $color-darker !default;
$color-input-border: $color-lighter !default;
