{% extends model('component') %}

{% define config = {
    name: 'tag',
    tag: 'span',
} %}

{% define data = {
    text: '',
    textClass: '',
} %}

{% define attributes = {
    'data-label-tag-type': '',
} %}

{% block body %}
    <span class="{{ config.name }}__text {{ data.textClass }}">{{ data.text }}</span>
{% endblock %}
