{% extends model('component') %}

{% define config = {
    name: 'tag',
} %}

{% define data = {
    text: '',
    additionalClass: '',
} %}

{% block body %}
    <span class="{{ config.name }}__text {{ data.additionalClass }}">{{ data.text }}</span>
{% endblock %}
