{% set price = price | default(_widget.product.price) %}
{% set priceOriginal = priceOriginal | default(_widget.product.prices.ORIGINAL | default(null)) %}

{% if price is not empty %}
    <p>
        {% include molecule('price') with {
            data: {
                amount: price | money,
                originalAmount: priceOriginal is not empty ? priceOriginal | money : null
            }
        } only %}
    </p>
{% endif %}



