@mixin shop-ui-ajax-loader($name: '.ajax-loader') {
    #{$name} {
        @include helper-effect-transition();
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0.5rem;
        background-color: rgba($setting-color-lighter, 0.5);
        z-index: $setting-zi-ajax-loader;

        &__spinner {
            animation-name: spin-to;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        &__label {
            margin-left: 0.5rem;
        }

        &--solid-bg {
            background-color: $setting-color-white;
        }

        &--big &__label {
            @include helper-font-size(big);
        }

        &--bottom {
            top: auto;
        }

        &--dynamic {
            z-index: $setting-zi-ajax-dynamic-loader;
        }

        &--viewport-centered {
            display: block;

            #{$name}__layout {
                display: inline-block;
                position: sticky;
                top: 50%;
                margin-left: 50%;
                transform: translate(-50%);
            }
        }

        &--static:not(.is-invisible) {
            position: static;
        }

        @content;
    }
}
