{% extends model('component') %}

{% define config = {
    name: 'ajax-loader',
    tag: 'ajax-loader',
} %}

{% define data = {
    label: null,
    showSpinnerOnLoad: false,
} %}

{# @deprecated property "provider-selector" is deprecated: use "provider-class-name" instead. #}
{% define attributes = {
    'provider-selector': 'ajax-provider',
    'provider-class-name': '',
} %}

{% block class %}{{parent()}} {% if not data.showSpinnerOnLoad %}is-invisible{% endif %} grid grid--center grid--middle{% endblock %}

{% block body %}
    {% set spinnerModifiers = 'big' in modifiers ? ['big'] : [] %}

    <span class="grid grid--middle">
        {% include atom('icon') with {
            class: config.name ~ '__spinner',
            modifiers: spinnerModifiers,
            data: {
                name: 'spinner',
            },
        } only %}
        {% if data.label %}
            <span class="{{config.name}}__label">{{data.label}}</span>
        {% endif %}
    </span>
{% endblock %}
