{% extends template('widget') %}

{% define data = {
    product: required,
} %}

{% set class = class | default %}

{% block body %}
    <div class="{{ class }}">
        {% include molecule('product-item') with {
            data: {
                product: data.product,
                sku: '',
            },
        } only %}
    </div>
{% endblock %}
