{% extends template('page-layout-main') %}

{% define data = {
    return: _view.return,
    returnItemsCount: _view.returnItemsCount,
} %}

{% block body %}
    {% set BarcodeWidget = findWidget('BarcodeWidget', [data.return.returnReference]) %}

    {% widget BarcodeWidget only %}
        {% block body %}
            <td>{{ parent() }}</td>
        {% endblock %}
    {% endwidget %}
{% endblock %}
