parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#2 \$\w+ of class Twig\\TwigFunction constructor expects .+callable.+ given.#'
        -
            identifier: missingType.iterableValue
