parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#2 \$\w+ of class Twig\\TwigFunction constructor expects \(callable\(\): mixed\)\|null, array.+ given.#'
