{% extends template('page-layout-main') %}

{% define data = {
    forms: {
        login: _view.loginForm
    }
} %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12">
            {% include molecule('form') with {
                class: 'box',
                data: {
                    title: 'agent.login.title' | trans,
                    options: {
                        attr: {
                            'data-qa': 'agent-login-form',
                        },
                    },
                    form: data.forms.login,
                    layout: {
                        email: 'col col--sm-6',
                        password: 'col col--sm-6'
                    },
                    submit: {
                        enable: true,
                        text: 'forms.submit.login' | trans
                    }
                }
            } only %}

            {% widget 'MultiFactorAuthHandlerWidget' with {
                data: {
                    id: data.forms.login.vars.name,
                    url: '/multi-factor-auth/get-user-enabled-types',
                    formSelector: '[name="' ~ data.forms.login.vars.name ~ '"]',
                    isLoginFlow: 'true',
                    isJsEnabledHandler: 'true',
                }
            } only %}
            {% endwidget %}
        </div>
    </div>
{% endblock %}
