{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible
} %}

{% block template %}
    {% if data.isVisible %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <a href="{{ path('company/user/select') }}" data-id="change-company-user">{{ "business_on_behalf_widget.select_business_unit" | trans }}</a>
{% endblock %}
