{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible,
    isCompanyUserChangeAllowed: _widget.isCompanyUserChangeAllowed,
} %}

{% block template %}
    {% if data.isVisible and data.isCompanyUserChangeAllowed %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <a href="{{ path('company/user/select') }}">{{ 'business_on_behalf_widget.change_company_user' | trans }}</a>
{% endblock %}
