{% extends model('component') %}

{% define config = {
    name: 'product-cart-items-list',
    tag: 'product-cart-items-list',
} %}

{% define data = {
    cart: required,
    cartItems: required,
    isQuoteEditable: required,
    attributes: [],
    isUpsellingProductsViaAjaxEnabled: false
} %}

 {% define attributes = {
     'provider-class-name': 'ajax-provider',
 } %}


{% block body %}
    {% if data.isUpsellingProductsViaAjaxEnabled is not empty %}
        <h3>isUpsellingProductsViaAjaxEnabled</h3>
        {% include molecule('ajax-provider') with {
            class: config.jsName ~ '__ajax-provider',
            attributes: {
                'fetch-on-load': true,
                url:  path('cart/get-cart-items'),
            },
        } only %}

        {% include molecule('ajax-loader') with {
            modifiers: ['big'],
            attributes: {
                'provider-class-name': config.jsName ~ '__ajax-provider',
            },
        } only %}

        {% include molecule('ajax-renderer') with {
            attributes: {
                'provider-class-name': config.jsName ~ '__ajax-provider',
                'target-class-name': config.jsName ~ '__container'  ,
                'mount-after-render': true,
            },
        } only %}
    {% endif %}
    <div class="boxtest  {{ config.name }}__container {{ config.jsName }}__container">
        {% if data.isUpsellingProductsViaAjaxEnabled is empty %}
            <h3>isUpsellingProductsViaAjaxEnabled empty<h3>
            {% for cartItem in data.cartItems %}
                {% block cartItem %}
                    {% if not cartItem.configuredBundleItem | default %}
                        {% include molecule('product-cart-item', 'CartPage') with {
                            data: {
                                product: cartItem,
                                cart: data.cart,
                                isQuoteEditable: data.isQuoteEditable,
                                attributes: data.attributes[cartItem.sku] | default([]),
                            },
                        } only %}
                    {% endif %}
                {% endblock %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
