@mixin product-packaging-unit-widget-packaging-unit-cart($name: '.packaging-unit-cart') {
    #{$name} {
        &__item {
            &:not(:last-child) {
                margin-bottom: map-get($setting-spacing, 'small');
            }
        }

        &__value {
            padding: 0.25rem 0.5rem;
            border: 1px solid $setting-color-input-border;
        }

        @content;
    }
}

/**
 * @deprecated use product-packaging-unit-widget-packaging-unit-cart mixin instead.
 */
@mixin product-packaging-unit-packaging-unit-cart($name: '.packaging-unit-cart') {
    @include product-packaging-unit-widget-packaging-unit-cart();

    #{$name} {
        @content;
    }
}
