{% extends template('widget') %}

{% define data = {
    shoppingListCollection: _widget.shoppingListCollection,
    isActivePage: _widget.isActivePage,
    activeShoppingListId: _widget.activeShoppingListId,
} %}

{% set itemClass = data.isActivePage ? ' menu__item--active' %}
{% set shoppingListCollectionLength = data.shoppingListCollection | length %}
{% set itemClass = itemClass ~ (shoppingListCollectionLength ? ' menu__item--has-children-list') %}

{% block body %}
    <li class="menu__item {{ itemClass }}">
        {% block content %}
            {% block link %}
                <a href="{{ path('shopping-list') }}" data-id="sidebar-shopping-list">{{ 'shopping_list.shopping_list' | trans }}</a>
            {% endblock %}

            {% if shoppingListCollectionLength %}
                {% include molecule('shopping-list-navigation', 'ShoppingListWidget') with {
                    data: {
                        activeShoppingListId: data.activeShoppingListId,
                        shoppingListCollection: data.shoppingListCollection,
                    },
                } only %}
            {% endif %}
        {% endblock %}
    </li>
{% endblock %}
