{% extends model('component') %}

{% define config = {
    name: 'filter-section',
    tag: 'section',
} %}

{% define data = {
    facets: [],
    filteredFacets: [],
    filterPath: null,
    categories: [],
    isEmptyCategoryFilterValueVisible: null,
    parentJsName: '',
} %}

{% block body %}
    {% set facets = data.filteredFacets is not empty ? data.filteredFacets : data.facets %}

    {% for filter in facets %}
        {% set filterHasValues = filter.values is not defined or filter.values | length > 0 %}

        {% if filterHasValues %}
            {% block filters %}
                <h6>{{ ('product.filter.' ~ filter.name | lower) | trans }}</h6>

                {% include [
                    molecule('filter-' ~ filter.config.name, 'CatalogPage'),
                    molecule('filter-' ~ filter.config.type, 'CatalogPage')
                ] ignore missing with {
                    data: {
                        filterPath: data.filterPath,
                        categories: data.categories,
                        filter: filter,
                        parameter: filter.config.parameterName | default(''),
                        min: filter.min | default(0),
                        max: filter.max | default(0),
                        activeMin: filter.activeMin | default(0),
                        activeMax: filter.activeMax | default(0),
                        isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible,
                        parentJsName: data.parentJsName,
                    },
                } only %}
            {% endblock %}

            <hr>
        {% endif %}
    {% endfor %}

    <button type="button" class="button button--expand button--small {{ data.parentJsName }}__trigger">
        {{ 'catalog.filter.button' | trans }}
        {% include atom('icon') with {
            data: {
                name: 'filter',
            },
        } only %}
    </button>
{% endblock %}
