<div class="details">
    @if (data$ | async; as data) {
    <div class="details__col details__col--info">
        <div class="details__info">
            <div class="details__image-overlay">
                <div class="image-overlay__container">
                    <img [src]="data.product.image" />
                </div>
            </div>

            <span class="details__text">
                {{ 'details.sku' | translate: { value: data.configurator.sku } }}
            </span>

            <span class="details__price">
                {{ data.configurator.price | configurePrice | currency: data.configurator.currency_code }}
                {{ data.configurator.currency_code }}
            </span>

            <button class="button" (click)="onSubmit()">
                {{ 'buttons.submit' | translate }}
            </button>

            <span class="details__text">
                {{ 'details.info' | translate }}
            </span>
        </div>
    </div>

    <div class="details__col details__col--configurator">
        <app-product-configurator #configurator></app-product-configurator>
    </div>
    }
</div>
