<div class="grid grid--with-gutter">
    <div class="col col--sm-12 col--lg-6 col--with-gutter">
        <div class="image-overlay">
            <img src="./dist/assets/images/detail.png" alt="Product image">
        </div>
    </div>
    <div class="details col col--sm-12 col--lg-6 col--with-gutter">
        <h1 class="title">{{ 'product.title' | translate }}</h1>
        <div>SKU: {{ productData.sku }}</div>
        <ul class="details__list">
            <li *ngIf="productData.price" class="details__list-item">
                <h3>{{ 'product.priceItem' | translate }}:</h3>
                <span class="price">{{ setPrice() | currency: productData.currency_code }}</span>
            </li>
            <li class="details__list-item">
                <h3>{{ 'product.quantity' | translate }}:</h3>
                <strong class="quantity">x {{ productData.quantity }}</strong>
            </li>
            <li *ngIf="productData.available_quantity" class="details__list-item">
                <h3>{{ 'product.availableQuantity' | translate: { value: productData.available_quantity } }}</h3>
            </li>
        </ul>

        <form class="grid grid--with-gutter" method="post" [action]="productData.submit_url" (submit)="onSubmit($event)">
            <div class="col col--sm-12 col--md-6 col--with-gutter product-form__field">
                <label class="label" for="date">{{ 'fields.date' | translate }}</label>

                <input
                    id="date"
                    type="date"
                    name="date"
                    [min]="today | date: 'yyyy-MM-dd'"
                    max="2100-12-31"
                    (change)="onDateChange($event)"
                    [value]="setDate(productData.display_data.Date) | date: 'yyyy-MM-dd'"
                />
            </div>
            <div class="col col--sm-12 col--md-6 col--with-gutter product-form__field">
                <label class="label" for="daytime">{{ 'fields.options' | translate }}</label>
                <select id="daytime" (change)="onDayTimeChange($event)">
                    <option
                        *ngFor="let value of dayTimeOptions; let i = index"
                        [value]="i > 0 ? i - 1 : ''"
                        [selected]="productData.configuration.time_of_day == i - 1"
                    >
                        {{ value | translate }}
                    </option>
                </select>
            </div>
            <div *ngIf="productData.price" class="col col col--sm-12 col--with-gutter product-form__field">
                <div class="product-form__total grid grid--justify">
                    <div class="col">{{ 'product.totalPrice' | translate }}:</div>
                    <div class="col">
                        <div>{{ setPrice() * productData.quantity | currency: productData.currency_code }}</div>
                    </div>
                </div>
            </div>
            <div class="col col--sm-12">
                <input name="sourceType" type="hidden" [value]="productData.source_type">
                <input name="sku" type="hidden" [value]="productData.sku">
                <input name="productConfigurationInstance[configuratorKey]" type="hidden" [value]="productData.configurator_key">
                <input name="itemGroupKey" type="hidden" [value]="productData.item_group_key">
                <input type="hidden" name="productConfigurationInstance[configuration]" [value]="productData.configuration | json">
                <input type="hidden" name="productConfigurationInstance[displayData]" [value]="productData.display_data | json">
                <input *ngIf="productData.available_quantity" type="hidden" name="productConfigurationInstance[availableQuantity]" [value]="productData.available_quantity">

                <ng-template [ngIf]="productData.price">
                    <input type="hidden" name="productConfigurationInstance[prices][EUR][priceData]" [value]="productData.volume_prices | json">
                    <input type="hidden" name="productConfigurationInstance[prices][EUR][GROSS_MODE][DEFAULT]" [value]="productData.price">
                    <input type="hidden" name="productConfigurationInstance[prices][EUR][NET_MODE][DEFAULT]" [value]="productData.price - 5000">
                </ng-template>

                <ng-template [ngIf]="productData.timestamp && productData.checkSum">
                    <input name="timestamp" type="hidden" [value]="productData.timestamp">
                    <input name="checkSum" type="hidden" [value]="productData.checkSum">
                </ng-template>
            </div>
            <div class="col col--sm-12 col--with-gutter product-form__field" style="display: none;">
                <input type="checkbox" name="productConfigurationInstance[isComplete]" [checked]="isComplete()">
            </div>
            <div class="col col col--sm-12 col--with-gutter product-form__actions">
                <a [href]="productData.back_url" class="product-form__button product-form__button--cancel">{{ 'buttons.cancel' | translate }}</a>
                <button class="product-form__button">{{ 'buttons.submit' | translate }}</button>
            </div>
        </form>
    </div>
</div>
