@mixin shop-ui-label($name: '.label') {
    #{$name} {
        &--required {
            &::after {
                content: '*';
                margin-left: .2rem;
                color: $setting-color-main;
            }
        }

        @content;
    }
}
