{% extends model('component') %}

{% define config = {
    name: 'submit-shopping-list',
    tag: 'submit-shopping-list'
} %}

{% define data = {
    shoppingListOptions: required
} %}

{% block body %}
    <div>
        {% include atom('select') with {
            modifiers: ['expand'],
            attributes: {
                name: 'idShoppingList'
            },
            data: {
                options: data.shoppingListOptions
            }
        } only %}
    </div>

    <button type="submit" name="addToShoppingList" class="button button--expand button--success {{ config.jsName }}">
        {{ 'Add to shopping list' | trans }}
    </button>
{% endblock %}
