{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    businessUnitsTree: _view.businessUnitsTree,
    title: 'company.account.business_unit' | trans,
    activePage: 'business-unit',
    currentBreadcrumb: 'Business Units'
} %}

{% block companyContent %}
    <div class="box text-right">
        <a class="button" href="{{url('company/business-unit/create')}}">{{ 'company.account.business_unit.add' | trans }}</a>
    </div>

    <div class="box">
        {% if data.businessUnitsTree is empty %}
            <p>{{ 'company.account.business_unit.no_units' | trans }}</p>
        {% else %}
            {% for node in data.businessUnitsTree %}
                {% include molecule('business-unit-chart-item', 'CompanyPage') with {
                    data: {
                        node: node
                    }
                } only %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
