@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        position: relative;
        display: inline-block;

        &__container {
            display: block;
        }

        &__box {
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            border: 1px solid $setting-color-input-border;
            background-color: $setting-color-white;
            margin-right: 0.25rem;
            text-align: center;
            vertical-align: top;
        }

        &__check {
            @include helper-visibility-invisible;
            @include helper-effect-transition;
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            width: 0.75rem;
            height: 0.75rem;
            background-color: $setting-color-main;
        }

        &__input {
            @include helper-visibility-invisible;
            position: absolute;

            &:active {
                & + #{$name}__box {
                    border-color: $setting-color-main;
                }
            }

            &:checked {
                & ~ #{$name}__check {
                    @include helper-visibility-visible;
                }
            }
        }

        &--expand {
            display: block;
        }

        &--error &__box {
            border-color: map-get($setting-color-actions, alert);
        }

        &:active &__box,
        &--active &__box {
            border-color: $setting-color-main;
        }

        &[disabled] &__box,
        &--disabled &__box {
            background-color: $setting-color-lighter;
            cursor: not-allowed;
        }

        @content;
    }
}
