@mixin component-checkbox($name: '.checkbox') {
    #{$name} {
        display: inline-block;

        &__box {
            display: inline-block;
            width: spacing(2.5);
            height: spacing(2.5);
            border: 1px solid $color-input-border;
            background-color: $color-white;
            margin-right: spacing(.5);
            text-align: center;
            vertical-align: top;
        }

        &__input {
            @include is-invisible;
            position: absolute;
        }

        &__check {
            @include is-invisible;
            @include transition-visibility;
            position: absolute;
            top: spacing(.5);
            left: spacing(.5);
            width: spacing(1.5);
            height: spacing(1.5);
            background-color: $color-main;
        }

        &__input:checked + &__check {
            @include is-visible;
        }

        &--expand {
            display: block;
            width: 100%;
        }

        @content;
    }
}
