@import '../../../styles/settings';
@import '../../../styles/helpers';

$a-checkbox-size: 20px;

@mixin checkbox($name: '.checkbox') {
    #{$name} {
        float: left;
        display: inline-block;
        width: $a-checkbox-size;
        height: $a-checkbox-size;
        border: 1px solid $color-input-border;
        background-color: $color-white;
        margin-right: 4px;
        text-align: center;
        overflow: hidden;

        &__input {
            @include is-invisible;
            position: absolute;
        }

        &__check {
            @include is-invisible;
            @include transition-visibility;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: $color-main;
        }

        &__input:checked + &__check {
            @include is-visible;
        }

        @content;
    }
}
