{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    title: 'quote_request_page.quote_request' | trans,
    form: _view.quoteRequestEditItemsConfirmForm,
    quoteRequest: _view.quoteRequestEditItemsConfirmForm.vars.value,
    quoteRequestReference: _view.quoteRequestReference
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: path('customer/overview'),
                },
                {
                    label: 'quote_request_page.quote_request' | trans,
                    url: path('quote-request')
                },
                {
                    label: '#' ~ data.quoteRequest.quoteRequestReference,
                    url: path('quote-request/details', {quoteRequestReference: data.quoteRequest.quoteRequestReference})
                },
                {
                    label: 'quote_request_page.quote_request.actions.edit' | trans,
                    url: path('quote-request/edit', {quoteRequestReference: data.quoteRequest.quoteRequestReference})
                },
                {
                    label: 'quote_request_page.quote_request.actions.edit_items' | trans,
                }
            ]
        }
    } only %}
{% endblock %}

{% block content %}

    <div class="box">
        {{ 'quote_request_page.quote_request.edit_items_confirm' | trans({
            '%link%': url('quote-request/edit', {quoteRequestReference: data.quoteRequestReference}),
            '%reference%': data.quoteRequestReference,
        }) | raw }}
        {% include molecule('form') with {
            data: {
                form: data.form,
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('quote-request/edit', {quoteRequestReference: data.quoteRequest.quoteRequestReference}),
                    text: 'general.back.button' | trans
                }
            }
        } only %}
    </div>

{% endblock %}
