{% block rating %}
    {% include '@ProductReviewWidget/_product-detail-page/_partials/product-rating.twig' with {
        'productReviewStorageTransfer': _widget.productReviewStorageTransfer,
        'maximumRating': _widget.maximumRating
    } %}
{% endblock %}

{% block reviews %}
    <div class="row">
        <div class="small-12 columns">
            {{ render(path('product-review/submit', {'idProductAbstract': _widget.idProductAbstract})) }}
            {{ render(path('product-review/index', {'idProductAbstract': _widget.idProductAbstract})) }}
        </div>
    </div>
{% endblock %}
