{% extends model('component') %}

{% define config = {
    name: 'product-concrete-list',
} %}

{% define data = {
    selectedSlotId: required,
    form: required,
    productConcreteCriteriaFilter: required,
} %}

{% block body %}
    {% widget 'ProductConcreteSearchGridWidget' args [data.productConcreteCriteriaFilter] %}
        {% block body %}
            {% if data.products is not empty %}
                {% for product in data.products %}
                    {% include molecule('product', 'ProductSearchWidget') with {
                        data: {
                            product: product,
                            form: data.form.createView,
                            selectedSlotId: data.selectedSlotId,
                        },
                    } only %}
                {% endfor %}
            {% else %}
                <p>{{ 'product_search_widget.search.no_results' | trans }}</p>
            {% endif %}
        {% endblock %}
    {% endwidget %}
{% endblock %}
