parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
#        For compatibility with Symfony 5.4+
        - message: '#interface Symfony\\\\Component\\\\Form\\\\DataTransformerInterface is not generic#'

