{% extends model('component') %}

{% define config = {
    name: 'cart-to-shopping-list'
} %}

{% define data = {
    quote: required,
} %}

{% block body %}
    <a href="{{ url('shopping-list/create-from-exist-cart', {'idQuote': (data.quote.idQuote)}) }}">
        {{ 'widget.shopping_list.multi_cart.to_shopping_list' | trans }}
    </a>
{% endblock %}
