{% extends model('component') %}

{% define config = {
    name: 'cart-to-shopping-list'
} %}

{% define data = {
    quote: required,
} %}


{% block body %}
    {% set linkClasses = '' %}

    {% block link %}
        <a class="{{ linkClasses }}" href="{{ url('shopping-list/create-from-exist-cart', {idQuote: (data.quote.idQuote)}) }}">
            {% block linkInner %}
                {{ 'widget.shopping_list.multi_cart.to_shopping_list' | trans }}
            {% endblock %}
        </a>
    {% endblock %}
{% endblock %}
