{% extends template('widget') %}

{% define data = {
    concreteProductId: _widget.product.idProductConcrete,
    isAvailable: _widget.product.available
} %}

{%- block isAvailable -%}
    {%- define data = {
        concreteProductId: _widget.product.idProductConcrete,
        isAvailable: _widget.product.available
    } -%}

    {{- data.concreteProductId and data.isAvailable -}}
{%- endblock -%}

{% block template %}
    {% if data.concreteProductId is not empty and not data.isAvailable %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <p class="text-alert">{{ "product.detail.out_of_stock" | trans }}</p>
{% endblock %}
