{% extends template('widget') %}

{% define data = {
    product: product | default(_widget.product.idProductAbstract)
} %}

{% block body %}
    <div class="box">
        {{ spyCmsBlock({ product: data.product }) }}
    </div>
{% endblock %}
