$color-main: #2199e8 !default; 
$color-alt: #e2694a !default;

$color-transparent: rgba(0, 0, 0, 0);

$color-white: #ffffff !default;
$color-light: #dddddd !default;
$color-lighter: #efefef !default;
$color-lightest: #f4f4f4 !default;

$color-black: #000000 !default;
$color-dark: #cccccc !default;
$color-darker: #777777 !default;
$color-darkest: #333333 !default;

$color-bg: $color-lightest !default;
$color-text: $color-darkest !default;
$color-input-border: $color-lighter !default;
$color-shadow: rgba(0, 0, 0, .1);

$color-action: (
    success: #4FC2A0,
    warning: #F29133,
    alert: #B2171A
);
