$setting-icon-sizes: (
    icon-size-default: 1rem,
    icon-size-smaller: 0.5rem,
    icon-size-small: 0.75rem,
    icon-size-big: 1.5rem,
    icon-size-bigger: 2rem,
    icon-size-biggest: 3rem
) !default;
