$setting-zi-element: initial !default;
$setting-zi-element-floating: 350 !default;

$setting-zi-notification-area: 600 !default;
$setting-zi-side-drawer: 500 !default;
$setting-zi-header: 400 !default;

$setting-zi-search-suggestions: 700 !default;

$setting-zi-navigation-top: 800 !default;
