@mixin component-form-field($name: '.form-field') {
    #{$name} {
        margin: .25rem .5rem;

        &__label {
            @include font-size(small);

            &--required {
                &::after {
                    content: '*';
                    margin-left: .2rem;
                    color: $color-main;
                }
            }
        }

        &__error-list {
            @include font-size(small);
            color: map-get($color-actions, alert);
        }

        &--spacing {
            padding: .5rem 0;
        }

        @content;
    }
}
