{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    title: 'customer.account.shopping_list' | trans,
    activePage: 'shoppingList'
} %}

{% block title %}
    <div class="shopping-list-info shopping-list-info--reset">
        <h3 class="shopping-list-info__name">{{ data.title }}</h3>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            }]
        }
    } only %}
{% endblock %}
