{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    title: 'customer.account.shopping_list' | trans,
    activePage: 'shoppingList',
} %}

{% block title %}
    <h3 class="text-break">{{ data.title }}</h3>
{% endblock %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            }],
        },
    } only %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% block customerContentInner %}{% endblock %}
    </div>
{% endblock %}
