{% extends model('component') %}

{% define config = {
    name: 'address-item-form-field-list',
} %}

{% define data = {
    items: required,
} %}

{% block body %}
    <div class="grid grid--middle">
        {% for item in data.items %}
            {% set companyBusinessUnitShippingAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['shippingAddress', item.vars.data]) %}
            {% set isCompanyBusinessUnitShippingAddressApplicable = companyBusinessUnitShippingAddressWidget and companyBusinessUnitShippingAddressWidget.isApplicable %}
            {% set hasShippingAddresses = item.shippingAddress.id_customer_address is defined %}
            {% set hasShippingAddressesApplicable = hasShippingAddresses %}

            {% if embed.isCompanyBusinessUnitShippingAddressApplicable %}
                {% set hasShippingAddressesApplicable = true %}
            {% endif %}

            {% set itemName = item.vars.data.name | default %}
            {% set itemQuantity = item.vars.data.quantity | default %}
            {% set imageUrl = item.vars.data.images is not empty ? item.vars.data.images[0].externalUrlSmall : '' %}
            {#{% set hiddenClass = item.shippingAddress.id_customer_address is defined ? 'is-hidden' : '' %}#}

            <div class="col col--sm-1 spacing spacing--inner">
                {% include atom('thumbnail') with {
                    modifiers: ['small'],
                    attributes: {
                        alt: itemName,
                        src: imageUrl,
                        title: itemName,
                    },
                } only %}
            </div>

            <div class="col col--sm-2 spacing spacing--inner">
                <p><strong>{{ itemName }}</strong></p>
                <p>{{ ('customer.order.item_quantity' | trans) }}: {{ itemQuantity }}</p>
            </div>

            {% if hasShippingAddressesApplicable %}
                <div class="col col--sm-3 spacing spacing--inner">
                    {% if isCompanyBusinessUnitShippingAddressApplicable %}
                        {% widget embed.companyBusinessUnitShippingAddressWidget %}{% endwidget %}

                        {% if hasShippingAddresses %}
                            {% do item.shippingAddress.id_customer_address.setRendered %}
                            {% do item.shippingAddress.id_company_unit_address.setRendered %}
                        {% endif %}
                    {% else %}
                        {{ form_widget(item.shippingAddress.id_customer_address) }}
                    {% endif %}
                </div>
            {% endif %}

            <div class="col col--sm-12">
                {% include molecule('form') with {
                    class: 'js-address__item-shipping ' ~ (hasShippingAddressesApplicable ? ' is-hidden ' : '') ~ ' js-address__item-shipping--' ~ loop.index,
                    data: {
                        form: item.shippingAddress,
                        enableStart: false,
                        enableEnd: false,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-2',
                            first_name: 'col col--sm-12 col--lg-5',
                            last_name: 'col col--sm-12 col--lg-5',
                            address1: 'col col--sm-12 col--md-8 col--lg-10',
                            address2: 'col col--sm-12 col--md-4 col--lg-2',
                            zip_code: 'col col--sm-6 col--lg-4',
                            city: 'col col--sm-6 col--lg-4',
                            iso2_code: 'col col--sm-12 col--lg-4',
                        },
                    },
                } only %}

                {% if item.shippingAddress.id_customer_address is defined %}
                    {% include molecule('address-form-toggler', 'CustomerPage') ignore missing with {
                        attributes: {
                            'trigger-selector': '[name="' ~ item.shippingAddress.id_customer_address.vars.full_name ~ '"]' | default(''),
                            'target-selector': '.js-address__item-shipping--' ~ loop.index,
                        },
                    } only %}
                {% endif %}

                {% if item.isAddressSavingSkipped is defined %}
                    {% include molecule('save-new-address', 'CustomerPage') ignore missing with {
                        class: 'spacing is-hidden',
                        data: {
                            form: item,
                        },
                        attributes: {
                            'shipping-address-toggler-selector': item.shippingAddress.id_customer_address is defined ? '[name="' ~ item.shippingAddress.id_customer_address.vars.full_name ~ '"]' : '',
                            'save-address-toggler-selector': '[name="' ~ item.isAddressSavingSkipped.vars.full_name ~ '"]',
                        },
                    } only %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
