{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    form: _view.form,
    formAction: url('company-user-invitation/overview'),
    activePage: 'companyUserInvitation'
} %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'customer.account.edit_address_information' | trans,
                form: data.form,
                options: {
                    action: data.formAction
                },
                layout: {
                    invitations_list: 'col col--sm-12 col--lg-2',
                },
                submit: {
                    enable: true
                }
            }
        } only %}
    </div>
{% endblock %}