@mixin util-float() {
    .float-left {
        float: left;
        z-index: $zi-element + 1;
    }

    .float-right {
        float: right;
        z-index: $zi-element + 1;
    }

    .float-none {
        float: none;
    }

    .float-clear {
        @include clearfix;
    }
}
