/**
 * Provides global class names for the elements' float alignment.
 */
@mixin util-float() {
    .clear {
        @include helper-ui-clearfix;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .float-none {
        float: none;
    }
}
