@mixin util-float() {
    .clear {
        @include helper-ui-clearfix;
    }

    .float-left {
        float: left;
        z-index: $setting-zi-element + 1;
    }

    .float-right {
        float: right;
        z-index: $setting-zi-element + 1;
    }

    .float-none {
        float: none;
    }
}
