@mixin helper-space($selector, $sides) {
    $space-big: 1.5rem;
    $space-default: 0.8rem;
    $space-small: 0.3rem;


    #{'.space-' + $selector + "-big"} {
        @each $side in $sides {
            #{'margin-' + $side}: $space-big;
        }
    }
    #{'.space-' + $selector + "-default"} {
        @each $side in $sides {
            #{'margin-' + $side}: $space-default;
        }
    }
    #{'.space-' + $selector + "-small"} {
        @each $side in $sides {
            #{'margin-' + $side}: $space-small;
        }
    }
}

@mixin util-space() {


    $side: (
        t: 'margin-top',
        b: 'margin-bottom',
        l: 'margin-left',
        r: 'margin-right'
    );

    @include helper-space('top', ('top'));
    @include helper-space('bottom', ('bottom'));
    @include helper-space('left', ('left'));
    @include helper-space('right', ('right'));
    @include helper-space('x', ('left', 'right'));
    @include helper-space('y', ('top', 'bottom'));

}
