
.text-small {
    @include font-size(small);
}

.text-big {
    @include font-size(big);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
