/**
 * Provides global class names for text styling.
 */
@mixin util-text() {
    .text-small {
        @include helper-font-size(small);
    }

    .text-big {
        @include helper-font-size(big);
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-alt {
        color: $setting-color-alt;
    }

    .text-secondary {
        color: $setting-color-dark;
    }

    .text-break {
        word-break: break-word;
    }

    @each $action, $setting-color-action in $setting-color-actions {
        @include util-text-action($action, $setting-color-action);
    }
}

/**
 * Provides class name for text styling with color property specified by parameters.
 * @param {String} $action Sets class name postfix.
 * @param {Color} $setting-color-action Sets color property.
 * @content Extendable mixin.
 */
@mixin util-text-action($action, $setting-color-action) {
    .text-#{$action} {
        color: $setting-color-action;
    }

    @content;
}
