@mixin util-text() {
    .text-small {
        @include font-size(small);
    }

    .text-big {
        @include font-size(big);
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-alt {
        color: $color-alt;
    }

    .text-secondary {
        color: $color-dark;
    }

    @each $action, $color-action in $color-actions {
        @include util-text-action($action, $color-action);
    }
}

@mixin util-text-action($action, $color-action) {
    .text-#{$action} {
        color: $color-action;
    }

    @content;
}
