.is-hidden {
    display: none;

    @each $breakpointA, $edgesA in $grid-breakpoints {
        $edgeMin: edge-min($edgesA);
        $edgeMax: edge-max($edgesA);

        &-#{$breakpointA}-only {
            @if $edgeMax == null {
                @include media-min($edgeMin) {
                    display: none;
                }
            } @else {
                @include media-between($edgeMin, $edgeMax) {
                    display: none;
                }
            }
        }

        @each $breakpointB, $edgesB in $grid-breakpoints {
            @if edge-min($edgesB) > edge-min($edgesA) {
                $edgeMin: edge-min($edgesA);
                $edgeMax: edge-max($edgesB);

                &-#{$breakpointA}-#{$breakpointB} {
                    @if $edgeMax == null {
                        @include media-min($edgeMin) {
                            display: none;
                        }
                    } @else {
                        @include media-between($edgeMin, $edgeMax) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.is-visible {
    @include is-visible;
}

.is-invisible {
    @include is-invisible;
}

.is-scrollable {
    overflow-x: auto;
}
