@mixin util-visibility() {
    .is-hidden {
        display: none;

        @each $breakpoint-a, $edges-a in $setting-grid-breakpoints {
            $edge-min: helper-grid-edge-min($edges-a);
            $edge-max: helper-grid-edge-max($edges-a);

            &-#{$breakpoint-a}-only {
                @if $edge-max == null {
                    @include helper-grid-media-min($edge-min) {
                        display: none;
                    }
                } @else {
                    @include helper-grid-media-between($edge-min, $edge-max) {
                        display: none;
                    }
                }
            }

            @each $breakpoint-b, $edges-b in $setting-grid-breakpoints {
                @if helper-grid-edge-min($edges-b) > helper-grid-edge-min($edges-a) {
                    $edge-min: helper-grid-edge-min($edges-a);
                    $edge-max: helper-grid-edge-max($edges-b);

                    &-#{$breakpoint-a}-#{$breakpoint-b} {
                        @if $edge-max == null {
                            @include helper-grid-media-min($edge-min) {
                                display: none;
                            }
                        } @else {
                            @include helper-grid-media-between($edge-min, $edge-max) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .is-visible {
        @include helper-visibility-visible;
    }

    .is-invisible {
        @include helper-visibility-invisible;
    }

    .is-scrollable {
        overflow-y: auto;
    }

    .is-not-scrollable {
        overflow-y: hidden;
    }
}
