{% extends model('component') %}

{% define config = {
    name: 'filter-enumeration',
} %}

{% define data = {
    filter: null,
    isMultiSelect: null
} %}

{% set isMultiSelect = data.isMultiSelect is null ? (data.filter.config.isMultiValued | default(false)) : false %}
{% set activeValues = isMultiSelect ? data.filter.activeValue : [data.filter.activeValue] %}
{% set inputComponent = isMultiSelect ? atom('checkbox') : atom('radio') %}

{% block body %}
    <h3 class="title--h6">{{ ('product.filter.' ~ data.filter.name | lower) | trans }}</h3>

    <ul class="menu">
        {% for filterValue in data.filter.values %}
            <li class="menu__item">
                {% include inputComponent with {
                    attributes: {
                        name: data.filter.config.parameterName ~ (isMultiSelect ? '[]' : ''),
                        value: filterValue.value,
                        checked: (filterValue.value in activeValues)
                    },
                    data: {
                        label: filterValue.value ~ ' (' ~ filterValue.docCount | executeFilterIfExists('formatInt', app.locale) ~ ')'
                    }
                } only %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
