{% extends template('widget') %}

{% define data = {
    widgets: _widget.widgetList,
    cart: _widget.cart,
    carts: _widget.cartCollection,
    isMultiCartAllowed: _widget.isMultiCartAllowed
} %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}
        {% widget 'SharedCartShareWidget' args [data.cart] only %}
        {% elsewidget 'SharedCartShareWidgetPlugin' args [data.cart] only %} {# @deprecated Use SharedCartShareWidget instead. #}
        {% endwidget %}
        <div class="box">
            <h3 class="float-left">{{ 'multi_cart_widget.cart.list' | trans }}</h3>
            <span class="float-right">
                <a class="button" href="{{url('multi-cart/create')}}" title="{{ 'multi_cart_widget.cart.add' | trans }}">{{ 'multi_cart_widget.cart.add' | trans }}</a>
            </span>
            {% if data.carts is not empty and data.carts | length > 0 %}
                    {% include molecule('cart-table', 'MultiCartWidget') with {
                        data: {
                            carts: data.carts,
                            widgets: data.widgets
                        }
                    } only %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
