{% if productRelations %}
<div class="row">
    <div class="small-12 columns">
        <div class="callout">
            <h3>{{ name }}</h3>
            <div class="row align-spaced">
                <div class="small-11 columns">
                    <div class="carousel" data-component="carousel">
                    {% for relation in productRelations %}

                        {{ widget('ProductWidgetPlugin', relation) }}

                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
