{% set title = title %}
{% set productCollection = productCollection %}

{% if productCollection %}
<div class="row">
    <div class="small-12 columns">
        <div class="callout">
            <h3>{{ title }}</h3>
            <div class="row align-spaced">
                <div class="small-11 columns">
                    <div class="carousel" data-component="carousel">
                    {% for product in productCollection %}

                        {{ widget('ProductWidgetPlugin', product) }}

                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
