@mixin shopping-list-page-shopping-list-message($name: '.shopping-list-message') {
    #{$name} {
        &__title {
            color: map-get($setting-color-actions, 'alert');
        }

        &__text {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @content;
    }
}
