{# @var data.servicePoints \Generated\Shared\Transfer\ServicePointTransfer[] #}

{% extends template('widget') %}

{% define data = {
    servicePoints: servicePoints,
    offset: offset,
    limit: limit,
    nbResults: nbResults,
    searchRoute: searchRoute,
    searchString: searchString,
    serviceTypeKey: serviceTypeKey,
    serviceTypeUuid: serviceTypeUuid,
    shipmentTypeUuid: shipmentTypeUuid,
    itemGroupKeys: itemGroupKeys,
} %}

{%- block body -%}
    {% if data.servicePoints %}
        {% if data.offset > 0 or data.nbResults <= data.limit %}
            {% block servicePointList %}
                {% set productOfferServicePointAvailabilityWidget = findWidget('ProductOfferServicePointAvailabilityWidget', [
                    servicePoints,
                    itemGroupKeys,
                    data.serviceTypeUuid,
                    data.shipmentTypeUuid,
                ]) %}

                {% for servicePoint in data.servicePoints %}
                    {% include molecule('service-point', 'ServicePointWidget') with {
                        data: {
                            servicePoint: servicePoint,
                            availabilityGlossaryKey: productOfferServicePointAvailabilityWidget.productOfferServicePointAvailabilities[servicePoint.uuid] | default,
                        },
                    } only %}
                {% endfor %}
            {% endblock %}
        {% else %}
            {% set queryStringObject = {
                'serviceTypeKey': data.serviceTypeKey,
                'serviceTypeUuid': data.serviceTypeUuid,
                'shipmentTypeUuid': data.shipmentTypeUuid,
                'itemGroupKeys': data.itemGroupKeys,
                'searchString': data.searchString,
                'limit': data.limit,
            } %}

            {% block scroll %}
                {% include molecule('endless-scroll') with {
                    data: {
                        content: block('servicePointList'),
                    },
                    attributes: {
                        url: path(data.searchRoute),
                        'result-offset': data.offset + data.limit,
                        'result-limit': data.limit,
                        'result-total': data.nbResults,
                        'query-range': queryStringObject | url_encode ~ '&offset',
                    },
                } only %}
            {% endblock %}
        {% endif %}
    {% else %}
        {% block emptyText %}
            <div class="spacing spacing--big text-center">
                {{ 'service_point_widget.no_results' | trans }}
            </div>
        {% endblock %}
    {% endif %}
{%- endblock -%}
