{% extends template('main') %}

{% set name = 'main-layout' %}
{% set locale = app.locale | slice(0, 2) %}
{% set title = title | default('global.spryker.shop') | trans %}
{% set metaDescription = metaDescription | default('') | trans %}
{% set metaKeywords = metaKeywords | default('') | trans %}

{% block body %}
    {% block outside %}{% endblock %}

    {# {% include organism('sidebar') only %} #}
    
    <div class="grid grid--container">
        <div class="box box--borderless">
            {% block page_start %}{% endblock %}

            {% include organism('header') only %}

            <main>
                {% block content %}{% endblock %}
            </main>

            {% include organism('footer') %}
        </div>
    </div>
{% endblock %}
