{% if _widget.languages is defined and _widget.languages|length > 0 %}
    <form method="GET" action="" data-component="language-switch">
        <select name="" onchange="this.form.action='/' + this.value + '/'; this.form.submit()">
            {% for language in _widget.languages %}
                <option value="{{ language }}" {{ (language == currentLanguage) ? 'selected' : ''}}>{{ language }}</option>
            {% endfor %}
        </select>
    </form>
{% endif %}
