{% extends template('base') %}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {# {% include organism('sidebar') only %} #}
    
    <div class="container">
        {% block page_start %}{% endblock %}

        {% block header %}
            {% include organism('header') only %}
        {% endblock %}

        {% block pageInfo %}
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr class="box__separator" />
                
                {% block title %}
                    <h3>{{title}}</h3>
                {% endblock %}
            </div>
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include organism('footer') only %}
        {% endblock %}

        <p class="text-center text-small">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            <br>Aenean commodo ligula eget dolor. Aenean massa.
            <br>&copy; ACME Company
        </p>
    </div>

    {% block iconSprite %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
