{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible,
    productConfigurationInstance: _widget.productConfigurationInstance | default,
    productConfigurationTemplate: _widget.productConfigurationTemplate | default,
} %}

{% block body %}
    {% set isComplete = data.productConfigurationInstance.isComplete %}
    {% set configurationLabel = isComplete ? 'product_configuration_widget.complete' : 'product_configuration_widget.not_complete' %}
    {% set configurationStatus = isComplete ? 'configured' : 'not-configured' %}

    {% include molecule('status') with {
        class: 'spacing-bottom',
        data: {
            label: configurationLabel | trans,
            status: 'waiting',
        }
    } only %}

    {% if isComplete %}
        {% set productConfigurationTemplate = data.productConfigurationTemplate %}

        {% if productConfigurationTemplate.path and productConfigurationTemplate.data is defined %}
            {% include productConfigurationTemplate.path with {
                data: {
                    options: productConfigurationTemplate.data,
                },
            } only %}
        {% else %}
            <div>
                {{ data.productConfigurationInstance.displayData }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
