/**
 * Returns 0 or the first value from the $edges list.
 * @param {List} $edges [$setting-breakpoints] List length must be less than or equal to 2.
 * @return {Base}
 */
@function helper-breakpoint-edge-min($edges) {
    @if length($edges) > 0 {
        @return nth($edges, 1);
    }

    @return 0;
}

/**
 * Returns null or the last value from the $edges list.
 * @param {List} $edges [$setting-breakpoints] List length must be less than or equal to 2.
 * @return {Base}
 */
@function helper-breakpoint-edge-max($edges) {
    @if length($edges) > 1 {
        @return nth($edges, 2);
    }

    @return null;
}

/**
 * Sets screen media query with min-width set to $min parameter.
 * @param $min {Number} [0]
 * @content Extends mixin with properties for media query.
 */
@mixin helper-breakpoint-media-min($min: 0) {
    @media only screen and (min-width: $min) {
        @content;
    }
}

/**
 * Sets screen media query with breakpoints range passed as parameters.
 * @param {Number} $min [0]
 * @param {Number} $max [$setting-grid-max-width]
 * @content Extends mixin with properties for media query.
 */
@mixin helper-breakpoint-media-between($min: 0, $max: $setting-grid-max-width) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

/**
 * Sets screen media query with max-width set to $max parameter.
 * @param {Number} $max [$setting-grid-max-width]
 * @content Extends mixin with properties for media query.
 */
@mixin helper-breakpoint-media-max($max: $setting-grid-max-width) {
    @media only screen and (max-width: $max) {
        @content;
    }
}

/**
 * Sets screen media query with breakpoints range passed to parameters or
 * with min-width query if only one parameter is passed.
 * @param {Number} $max [$setting-grid-max-width]
 * @content Extends mixin with properties for media query.
 */
@mixin helper-breakpoint($min-bp, $max-bp: null) {
    $edges-min: map-get($setting-breakpoints, $min-bp);
    $edge-min: helper-breakpoint-edge-min($edges-min);

    @if $max-bp == null {
        @include helper-breakpoint-media-min($edge-min) {
            @content;
        }
    } @else {
        $edges-max: map-get($setting-breakpoints, $max-bp);
        $edge-max: helper-breakpoint-edge-max($edges-max);

        @if $edge-max == null {
            @include helper-breakpoint-media-min($edge-min) {
                @content;
            }
        } @else {
            @include helper-breakpoint-media-between($edge-min, $edge-max) {
                @content;
            }
        }
    }
}
