@mixin font-size($size) {
    font-size: map-get($font-size, $size);
}

@mixin font-weight($weight) {
    font-weight: map-get($font-weight, $weight);
}

@mixin line-height($height) {
    line-height: map-get($font-line-height, $height);
}
