/**
 * Sets font-size property from font size settings map - $setting-font-size according to the passed map key.
 * @param {String | Number} $size
 */
@mixin helper-font-size($size) {
    font-size: map-get($setting-font-size, $size);
}

/**
 * Sets font-weight property from font weight settings map - $setting-font-weight according to the passed map key.
 * @param {String} $weight
 */
@mixin helper-font-weight($weight) {
    font-weight: map-get($setting-font-weight, $weight);
}

/**
 * Sets line-height property from line-height settings map - $setting-font-line-height according to the passed map key.
 * @param {String | Number} $height
 */
@mixin helper-font-line-height($height) {
    line-height: map-get($setting-font-line-height, $height);
}
