/**
 * Provides global class names with spacing properties set from $setting-spacing map.
 * @param {String} $name Main selector name.
 * @param {List} $sides [[]] List of sides to set properties.
 */
@mixin helper-spacing($name, $sides: []) {
    #{$name} {
        @each $spacing-name, $spacing-value in $setting-spacing {
            @if $spacing-name == 'default' {
                @if length($sides) == 0 {
                    margin: $spacing-value;
                } @else {
                    @each $side in $sides {
                        margin-#{$side}: $spacing-value;
                    }
                }
            } @else {
                &--#{$spacing-name} {
                    @if length($sides) == 0 {
                        margin: $spacing-value;
                    } @else {
                        @each $side in $sides {
                            margin-#{$side}: $spacing-value;
                        }
                    }
                }
            }
        }

        @content;
    }

    #{$name}--inner {
        @each $spacing-name, $spacing-value in $setting-spacing {
            @if $spacing-name == 'default' {
                @if length($sides) == 0 {
                    margin: 0;
                    padding: $spacing-value;
                } @else {
                    @each $side in $sides {
                        margin-#{$side}: 0;
                        padding-#{$side}: $spacing-value;
                    }
                }
            } @else {
                @at-root #{$name}--inner#{$name}--#{$spacing-name} {
                    @if length($sides) == 0 {
                        margin: 0;
                        padding: $spacing-value;
                    } @else {
                        @each $side in $sides {
                            margin-#{$side}: 0;
                            padding-#{$side}: $spacing-value;
                        }
                    }
                }
            }
        }

        @content;
    }
}
