/**
 * Adds clearing for element with floated child elements.
 */
@mixin helper-ui-clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @content;
}

/**
 * Adds a box-shadow with basic values.
 */
@mixin helper-ui-shadow() {
    box-shadow: 0 2px 5px 1px $setting-color-shadow;

    @content;
}
