/**
 * Forces element visibility.
 */
@mixin helper-visibility-visible {
    pointer-events: all;
    visibility: visible;
    opacity: 1;

    @content;
}

/**
 * Forces element invisibility.
 */
@mixin helper-visibility-invisible {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    @content;
}

/**
 * Forces element invisibility with accessibility support.
 */
@mixin helper-accessible-visibility-invisible {
    clip: rect(0, 0, 0, 0);
    pointer-events: none;

    @content;
}

/**
 * Forces element visibility with accessibility support.
 */
@mixin helper-accessible-visibility-visible {
    clip: auto;
    pointer-events: auto;

    @content;
}
