@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        @include helper-font-size(small);
        text-align: center;

        &__item {
            display: inline-block;
        }

        &__step {
            display: inline-block;
            padding: 0.25rem 0.5rem;

            &--current {
                background-color: $setting-color-main;
                color: $setting-color-white;
            }

            &--disabled {
                color: $setting-color-dark;
            }
        }
    }
}
