<aside id="aside" class="hide-for-large __aside" tabindex="-1" data-component="aside">
        {% include "@ShopLayout/layout/partials/mobile-navigation.twig" %}
        {% block aside %}{% endblock %}
    </aside>
    <div class="__aside-closing-bar">
        <a class="close-button">&times;</a>
    </div>
