$shop-ui-form-field-margin: 0.5rem;

@mixin shop-ui-form($name: '.form') {
    #{$name} {
        & & {
            padding-left: $shop-ui-form-field-margin;
            padding-right: $shop-ui-form-field-margin;
        }

        &__fields {
            margin-left: - $shop-ui-form-field-margin;
            margin-right: - $shop-ui-form-field-margin;
        }

        &__field {
            padding: $shop-ui-form-field-margin;
        }

        &__actions {
            text-align: right;
        }

        &__action {
            margin-top: $shop-ui-form-field-margin;
            margin-left: $shop-ui-form-field-margin;
        }

        &--inline &__container {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
        }

        &--inline &__fields {
            float: left;
            flex-grow: 1;
            flex-basis: auto;
        }

        &--inline &__actions {
            flex-grow: 0;
            flex-basis: auto;
        }

        &--inline &__field {
            padding-bottom: 0;
            padding-right: 0;
        }

        &--extend {
            width: 100%;
        }

        @content;
    }
}
