{% extends model('component') %}

{% define config = {
    name: 'sales-configured-bundle-cart-note',
} %}

{% define data = {
    bundle: required,
} %}

{% block body %}
    <div>{{ 'configurable_bundle_cart_note.cart_note' | trans }} {{ data.bundle.cartNote }}</div>
{% endblock %}
