{% extends model('component') %}

{% define config = {
    name: 'product-item-attributes',
    tag: 'ul',
} %}

{% define data = {
    list: required,
} %}

{% block body %}
    {% for key, attribute in data.list %}
        {% block listItem %}
            <li itemprop="additionalProperty" itemscope itemtype="https://schema.org/PropertyValue">
                {%- block listItemContent -%}
                    <span itemprop="name">{{ key }}</span>: <span itemprop="value">{{ attribute }}</span>
                {%- endblock -%}
            </li>
        {% endblock %}
    {% endfor %}
{% endblock %}
