{% extends model('component') %}

{% define config = {
    name: 'url-generator-mask',
    tag: 'url-generator-mask'
} %}

{% define data = {
    group: required,
    label: required
} %}

{% define attributes = {
    idQuote: required,
    permissionOption: required
} %}

{% block body %}
    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider-' ~ attributes.permissionOption,
        attributes: {
            method: 'POST',
            url: '/cart/create-link/' ~ attributes.idQuote ~ '/' ~ attributes.permissionOption
        }
    } only %}

    {% include molecule('ajax-loader') with {
        modifiers: ['big'],
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '__provider-' ~ attributes.permissionOption
        }
    } only %}

    {% include molecule('ajax-renderer') with {
        attributes: {
            'provider-selector': '.' ~ config.jsName ~ '__provider-' ~ attributes.permissionOption,
            'target-selector': '.' ~ config.jsName ~ '__actions-' ~ attributes.permissionOption
        }
    } only %}

    {% include molecule('toggler-radio') with {
        class: config.jsName ~ '__trigger-' ~ attributes.permissionOption,
        data: {
            label: data.label
        },
        attributes: {
            checked: false,
            name: data.group,
            'target-selector': '.' ~ config.jsName ~ '__actions-' ~ attributes.permissionOption,
            'class-to-toggle': 'is-hidden'
        }
    } only %}

    <form class="form form--inline {{ config.jsName }}__actions-{{ attributes.permissionOption }}"></form>
{% endblock %}
