{% block top %}
    <div class="row">
        {{ spyCmsBlock({category: _widget.idCategory, position: 'top'}) }}
    </div>
{% endblock %}

{% block middle %}
    <div class="row">
        {{ spyCmsBlock({category: _widget.idCategory, position: 'middle'}) }}
    </div>
{% endblock %}

{% block bottom %}
    <div class="row">
        {{ spyCmsBlock({category: _widget.idCategory, position: 'bottom'}) }}
    </div>
{% endblock %}
