{% extends template('widget') %}

{% define data = {
    configuredBundle: _widget.configuredBundle,
    form: _widget.configurableBundleCartNoteForm,
    idQuote: _widget.quote.idQuote
} %}

{% block body %}
    {% set canWrite = (not is_granted('ROLE_USER') or can('WriteSharedCartPermissionPlugin', data.idQuote)) %}

    {% if canWrite %}
        {% include molecule('form') with {
            data: {
                form: data.form,
                options: {
                    action: url('configurable-bundle-cart-note/add')
                },
                submit: {
                    enable: true,
                    text: 'configurable_bundle_cart_note.form.save' | trans
                }
            }
        } only %}
    {% elseif data.form.cartNote.vars.value is not empty %}
        <div class="form">
            {{ 'cart_note.checkout_page.item_note' | trans }}: {{ data.form.cartNote.vars.value }}
        </div>
    {% endif %}
{% endblock %}
