{% extends model('component') %}

{% define config = {
    name: 'merchant-relation-request-filters',
} %}

{% define data = {
    merchantRelationRequestSearchForm: required,
    jsPrefix: required,
} %}

{% block body %}
    <div class="form__fields grid grid--bottom">
        {% block filters %}
            {% for filter in data.merchantRelationRequestSearchForm.filters.children %}
                <div class="form__field col col--sm-12 col--lg-4">
                    {{ form_row(filter, {
                        attr: {
                            class: data.jsPrefix ~ filter.vars.name ~ '-target',
                        }})
                    }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block submitFilters %}
            <div class="form__field col col--right">
                <button name="buttonSubmit" class="button button--success">
                    {{ 'merchant_relation_request.merchant_notification.apply' | trans }}
                </button>
            </div>
         {% endblock %}
    </div>
{% endblock %}
