{% extends model('component') %}

{% define config = {
    name: 'summary-item-remove',
    tag: 'div'
} %}

{% define data = {
    groupKey: required,
    sku: required
} %}

{% block body %}
    <a class="float-left" href="{{ path('cart/remove', {'sku': data.sku, 'groupKey': data.groupKey }) }}">
        &times; {{ 'remove' | trans }}
    </a>
{% endblock %}
