{% block isAvailable -%}
    {{ (_widget.product.isVariant and _widget.product.available) ? 1 : 0}}
{%- endblock %}

{% block outOfStock %}
    {% if not _widget.product.available %}
        <p>
            <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
        </p>
    {% endif %}
{% endblock %}
