{% block isAvailable -%}
    {{ (_widget.product.idProductConcrete and _widget.product.available) ? 1 : 0 }}
{%- endblock %}

{% block outOfStock %}
    {% if _widget.product.idProductConcrete and not _widget.product.available %}
        <div class="row">
            <div class="small-12 columns">
                <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
            </div>
        </div>
    {% endif %}
{% endblock %}
