<button type="submit" class="button expanded success js-add-to-cart-button" {{ (not _widget.view.data.product.isVariant or not _widget.view.data.product.available) ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;">
    <i class="fa fa-cart-plus"></i>{{ 'page.detail.add-to-cart' | trans }}
</button>

{% if not _widget.view.data.product.available %}
    <p>
        <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
    </p>
{% endif %}
