parameters:
    level: 8
    ignoreErrors:
        - '#Method .+ has parameter \$builder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface.#'
        - '#Method .+ return type has no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface.#'
    reportUnmatchedIgnoredErrors: false
