{% extends template('page-layout-main') %}

{% define data = {
    title: 'availability_notification.successfully_unsubscribed'|trans,
    activePage: 'availabilityNotification'
} %}

{% block content %}
    <div class="box">
        <p>{{ 'availability_notification.successfully_unsubscribed_text'|trans }}</p>
    </div>
{% endblock %}
