{% extends model('component') %}

{% define config = {
    name: 'readonly-bundled-cart-note',
} %}

{% define data = {
    bundle: required,
} %}

{% block body %}
    {% if data.bundle.cartNote is not empty %}
        {% block bundleCartNote %}
            <h6 class="{{ config.name }}__title">{{ 'configurable_bundle_cart_note.cart_note' | trans }}</h6>
            <p class="spacing spacing--reset">{{ data.bundle.cartNote | escape | nl2br }}</p>
        {% endblock %}
    {% endif %}
{% endblock %}
