{% extends template('widget') %}

{% define data = {
    title: _widget.title,
    form: _widget.form,
    submitUrl: _widget.submitUrl,
    submitButtonTitle: _widget.submitButtonTitle,
} %}

{% define config = {
    name: 'quick-order-form',
    tag: 'div',
} %}

{% block body %}
    <div>
        {% embed molecule('form') with {
            data: {
                title: data.title,
                form: data.form,
                options: {
                    action: url(data.submitUrl),
                },
                submitButtonTitle: data.submitButtonTitle
            }
        } only %}
            {% block fields %}
                {% include molecule('product-quick-add-fields', 'ProductQuickAddWidget') with {
                    class: "full-width",
                    data: {
                        form: data.form
                    }
                } only %}
            {% endblock %}

            {% block actions %}
                    <button type="submit" class="button button--expand button--success">
                        {{ data.submitButtonTitle }}
                    </button>
            {% endblock %}
        {% endembed %}
    </div>
    <hr>
{% endblock %}