{% extends model('component') %}

{% define config = {
    name: 'access-labels',
    tag: 'div'
} %}

{% define data = {
    hasWritePermission: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <span class="{{ config.name }}__full-access">{{ 'customer.account.shopping_list.permissions.FULL_ACCESS' | trans }}</span>
    {% else %}
        <span class="{{ config.name }}__read-only">{{ 'customer.account.shopping_list.permissions.READ_ONLY' | trans }}</span>
    {% endif %}
{% endblock %}
