{% extends template('page-layout-wishlist', 'WishlistPage') %}

{% define data = {
    wishlists: _view.wishlistCollection.wishlists,
    wishlistForm: _view.wishlistForm
} %}

{% block customerContent %}
    <div class="box">
        <h4 class="space-bottom-default">{{ 'customer.account.wishlist.overview.title' | trans }}</h4>

        {% if data.wishlists|length %}

            {% include molecule('wishlist-overview-table', 'WishlistPage') with {
                data: {
                    wishlists: data.wishlists,
                    wishlistForm: data.wishlistForm
                }
            } only %}

        {% else %}
            <div class="text-center space-y-big">
                <h6>{{ 'customer.account.wishlist.overview.empty' | trans }}</h6>
            </div>
        {% endif %}

    </div>
{% endblock %}
