@mixin cart-page-cart-item-price($name: '.cart-item-price') {
    #{$name} {
        @include helper-breakpoint(lg) {
            padding: 0 1rem;
        }

        &__options {
            @include helper-font-size(small);
            padding-bottom: .5rem;

            @include helper-breakpoint(lg) {
                padding-top: .5rem;
            }
        }

        @content;
    }
}
