@mixin cart-page-cart-summary($name: '.cart-summary') {
    #{$name} {
        &__subheader {
            margin-bottom: .5rem;
        }

        &__item {
            width: 100%;
            overflow: hidden;
            padding-bottom: .5rem;
        }

        @content;
    }
}
