{% extends model('component') %}

{% define config = {
    name: 'shopping-list-remote-form-submit',
    tag: 'shopping-list-remote-form-submit',
} %}

{% define data = {
    label: required,
    buttonClass: 'button button--alert',
    idShoppingList: required,
    idShoppingListItem: required,
} %}

{% define attributes = {
    'form-holder-class-name': 'js-page-layout-main',
    'form-name': 'removeItemForm_' ~ data.idShoppingListItem,
    'form-action': path('shopping-list/remove-item', {'idShoppingList': data.idShoppingList, 'idShoppingListItem': data.idShoppingListItem }),
    'form-token': csrf_token('shopping_list_remove_item_form'),
    'field-name': 'shopping_list_remove_item_form[_token]',
} %}

{% block body %}
        <button type="button" class="{{ data.buttonClass }} {{ config.jsName }}__submit" target-form-id="{{ attributes['form-name'] }}">{{ data.label }}</button>
        {% block additionalContent %}{% endblock %}
{% endblock %}
