{% if _widget.product.prices.ORIGINAL is defined %}
    <span class="stat catalog-price__price-reduced">{{ _widget.product.defaultPrice | money }}</span> <span class="catalog-price__price-original">{{ _widget.product.prices.ORIGINAL | money }}</span>
{% else %}
    <span class="stat">{{ _widget.product.defaultPrice | money }}</span>
{% endif %}
