<p>
    {% if _widget.product.defaultPrice is not null %}
        {% if _widget.product.prices.ORIGINAL is defined and _widget.product.prices.ORIGINAL %}
            <span class="stat catalog-price__price-reduced">
                {{ _widget.product.defaultPrice | money }}</span> <span class="catalog-price__price-original">{{ _widget.product.prices.ORIGINAL | money }}
            </span>
        {% else %}
            <span class="stat">{{ _widget.product.defaultPrice | money }}</span>
        {% endif %}
    {% endif %}
</p>
