{% extends model('component') %}

{% define config = {
    name: 'display-delivery-method',
    tag: 'ul',
} %}

{% define data = {
    carrierName: required,
    name: required,
    storeCurrencyPrice: required,
    currencyIsoCode: required,
} %}

{% block class %}
    list
{% endblock %}

{% block body %}
    <li class="list__item">{{ data.carrierName }}</li>
    <li class="list__item">
        {{ data.name }}
        {{ data.storeCurrencyPrice | money(true, data.currencyIsoCode) }}
    </li>
{% endblock %}
