{% extends molecule('price') %}

{% set name = 'price-reduced' %}
{% set amountReduced = data.amountReduced %}

{% block body %}    
    <span class="stat catalog-price__price-reduced">{{ amountReduced }}</span> 
    {{parent()}}
{% endblock %}

