{% extends template('widget') %}

{% define data = {
    form: _widget.form,
    order: _widget.order,
    isVisible: _widget.isVisible,
    returnUrl: _widget.returnUrl,
} %}

{% set buttonClasses = 'link' %}

{% block body %}
    {% if data.isVisible %}
        {{ form_start(data.form, {'action': path('order/cancel', {
            'orderReference': data.order.orderReference,
            'returnUrl': data.returnUrl
        })}) }}

        {% block formContent %}
            <button class="{{ buttonClasses }}">{{ 'order_cancel_widget.cancel_order' | trans }}</button>
        {% endblock %}

        {{ form_end(data.form) }}
    {% endif %}
{% endblock %}
