{% extends template('page-layout-wishlist', 'WishlistPage') %}

{% define data = {
    wishlistCollection: _view.wishlistCollection,
    wishlists: _view.wishlistCollection.wishlists,
    wishlistForm: _view.wishlistForm
} %}

{% block customerContent %}
    <div class="box">
        <h4>{{ 'customer.account.wishlist.overview.title' | trans }}</h4>

        {% include molecule('add-wishlist', 'WishlistPage') with {
            data: {
                wishlistForm: data.wishlistForm
            }
        }  only %}

        <hr>

        {% if data.wishlists is not empty %}

            {% include molecule('wishlist-overview-table', 'WishlistPage') with {
                data: {
                    wishlists: data.wishlists

                }
            } only %}

        {% else %}
            <div class="text-center space-y-big">
                <h6>{{ 'customer.account.wishlist.overview.empty' | trans }}</h6>
            </div>
        {% endif %}

    </div>
{% endblock %}