{% extends model('component') %}

{% define config = {
    name: 'quote-info-row',
    tag: 'p'
} %}

{% define data = {
    title: required,
    value: required,
    status: null
} %}

{% block body %}
    <strong>{{ data.title | trans }}</strong>:
    <span class="{{ config.name }}__value {{ data.status ? config.name ~ '__value--' ~ data.status : '' }}">
        {{ data.value }}
    </span>
{% endblock %}
