@mixin component-notification-area($name: '.notification-area') {
    #{$name} {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: $zi-notification-area;

        @content;
    }
}
