parameters:
    level: 7
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
    ignoreErrors:
        - '#PHPDoc tag @param for parameter \$arguments with type array is not subtype of native type array<int, mixed>#'
        - '#Class Symfony\\Bridge\\Twig\\Form\\TwigRenderer not found.#'
        - '#Instantiated class Silex\\Provider\\TwigServiceProvider not found.#'
        - '#Call to an undefined method Spryker\\Yves\\Kernel\\FactoryInterface#'
        - '#Return typehint of method SprykerShop\\Yves\\ShopApplication\\ShopApplicationFactory::createSilexTwigServiceProvider\(\) has invalid type Silex\\Provider\\TwigServiceProvider.#'
        - '#Parameter \#1 \$app of class Spryker\\Yves\\Kernel\\ControllerResolver\\YvesFragmentControllerResolver constructor expects Silex\\Application, Spryker\\Service\\Container\\ContainerInterface given.#'
        - '#Instantiated class .+NativePasswordEncoder not found.#'
        - '#Comparison operation "<" between [1-9] and 3 is always (true|false).#'
        - '#Method .+\\WidgetTagTwigPlugin::openWidgetContext\(\) should return .+\\WidgetInterface\|null but returns .+\\WidgetPluginInterface\|.+\\WidgetInterface\|null.#'
        - '#Parameter \#2 \$string of function explode expects string, string\|false given.#'
        - '#^Call to function method_exists\(\) with Symfony\\Component\\HttpKernel\\Event\\ViewEvent and#'
        - '#Call to an undefined method Symfony\\Component\\HttpKernel\\Event\\ViewEvent\:\:isMainRequest\(\).#'
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker-shop/Bundles/ShopApplication/src/SprykerShop/Yves/ShopApplication/Plugin/AbstractTwigExtensionPlugin.php'
