parameters:
    checkMissingIterableValueType: false
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
    ignoreErrors:
        - '#PHPDoc tag @param for parameter \$arguments with type array is not subtype of native type array<int, mixed>#'
        - '#Class Symfony\\Bridge\\Twig\\Form\\TwigRenderer not found.#'
        - '#Instantiated class Silex\\Provider\\TwigServiceProvider not found.#'
        - '#Call to an undefined method Spryker\\Yves\\Kernel\\FactoryInterface#'
        - '#Return typehint of method SprykerShop\\Yves\\ShopApplication\\ShopApplicationFactory::createSilexTwigServiceProvider\(\) has invalid type Silex\\Provider\\TwigServiceProvider.#'
        - '#Parameter \#1 \$app of class Spryker\\Yves\\Kernel\\ControllerResolver\\YvesFragmentControllerResolver constructor expects Silex\\Application, Spryker\\Service\\Container\\ContainerInterface given.#'
    reportUnmatchedIgnoredErrors: false
