{% extends model('template') %}

{% define data = {
    messages: _view.messages | default([]),
    form: _view.form,
    minQuantity: _view.minQuantity | default(null),
    maxQuantity: _view.maxQuantity | default(null),
    quantityInterval: _view.quantityInterval | default(1),
    isDisabled: _view.isDisabled,
    verticalLayout: _view.verticalLayout | default(true),
} %}

{% block template %}
    {% embed molecule('product-quick-add-fields', 'ProductSearchWidget') with {
        data: {
            messages: data.messages,
            minQuantity: data.minQuantity,
            maxQuantity: data.maxQuantity,
            quantityInterval: data.quantityInterval,
            form: data.form,
            isDisabled: data.isDisabled,
            verticalLayout: data.verticalLayout,
        }
    } only %}
        {% block body %}
                {{ form_widget(data.form.children.quantity, {
                    required: true,
                    attr: {
                        class: config.jsName ~ '__quantity',
                        min: data.minQuantity,
                        max: data.maxQuantity,
                        step: data.quantityInterval,
                        disabled: data.isDisabled,
                        value: data.minQuantity,
                        placeholder: 'product_quick_add_widget.form.quantity' | trans
                    }}
                ) }}

            {% if data.messages is not empty %}
                <div class="col col--sm-12 {{ config.name }}__error spacing-bottom spacing-bottom--big">
                    {% for errorMessage in data.messages %}
                        {{ errorMessage.value | trans }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
