{% extends template('widget') %}

{% define data = {
    disabled: _widget.disabled,
    isMultiCartAllowed: _widget.isMultiCartAllowed,
    carts: _widget.carts
} %}

{% block body %}
    {% if data.isMultiCartAllowed %}
        <div class="grid grid--right grid--justify">
            <div class="col col--sm-6 col--md-5 col--right">
            {% if data.carts %}
                {% include molecule('add-to-cart-selector', 'MultiCartWidget') with {
                    data: {
                        carts: data.carts,
                        disabled: data.disabled
                    }
                } only %}
            {% endif %}
            </div>
        </div>
        {% if widgetExists('SharedCartAddSeparateProductWidgetPlugin') %}
            {{ widget('SharedCartAddSeparateProductWidgetPlugin') }} {# @deprecated Use molecule('shared-cart-add-product-as-separate-item', 'SharedCartWidget') instead. #}
        {% else %}
            {% include molecule('shared-cart-add-product-as-separate-item', 'SharedCartWidget') ignore missing only %}
        {% endif %}
    {% endif %}
{% endblock %}
