{% extends template('widget') %}

{% define data = {
    disabled: _widget.disabled,
    isMultiCartAllowed: _widget.isMultiCartAllowed,
    carts: _widget.carts
} %}

{% block body %}
    {% if data.isMultiCartAllowed %}
    <div class="grid grid--right">
        <div class="col col--sm-6 col--right">
        {% if data.carts %}
            {% include molecule('add-to-cart-selector', 'MultiCartWidget') with {
                data: {
                    carts: data.carts,
                    disabled: data.disabled
                }
            } only %}
        {% endif %}
        </div>
    </div>
    {% widget 'SharedCartAddSeparateProductWidget' only %}
    {% elsewidget 'SharedCartAddSeparateProductWidgetPlugin' only %} {# @deprecated Use SharedCartAddSeparateProductWidget instead. #}
    {% endwidget %}
    {% endif %}
{% endblock %}
