{% extends "@ShopLayout/layout/layout.twig" %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li>{{ 'quick-order.page-title' | trans }}</li>
{% endblock %}
