{% extends template('widget') %}

{% define data = {
    price: _widget.product.price,
    originalPrice: _widget.product.prices.ORIGINAL | default(null)
} %}

{% block render %}
    {% if data.price is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <p>
        {% include molecule('price') with {
            data: {
                amount: data.price | money,
                originalAmount: data.originalPrice is empty ?: (data.originalPrice | money)
            }
        } only %}
    </p>
{% endblock %}
