{% extends template('widget') %}

{% define data = {
    price: _widget.product.price,
    originalPrice: _widget.product.prices.ORIGINAL | default(null)
} %}

{% block body %}
    <p>
        {% if data.price is not empty %}
            {% include molecule('price') with {
                data: {
                    amount: data.price | money,
                    originalAmount: data.originalPrice is empty ?: (data.originalPrice | money)
                }
            } only %}
        {% else %}
            {{ 'customer.access.cannot_see_price' | trans }}
        {% endif %}
    </p>
{% endblock %}
