{% extends template('widget') %}

{% define data = {
    productQuantityStorage: _widget.productQuantityStorage,
    quantity: _widget.quantity,
    groupKey: _widget.groupKey,
    sku: _widget.sku,
} %}

{% block body %}
    <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.sku }) }}">
        {% include molecule('quantity-input') with {
            data: {
                maxQuantity: data.productQuantityStorage.quantityMax,
                value: data.quantity,
                minQuantity: data.productQuantityStorage.quantityMin,
                step: data.productQuantityStorage.quantityInterval,
            },
        } only %}
        <input type="hidden" value="{{ data.groupKey }}" name="groupKey" />
    </form>
{% endblock %}
