{% extends model('component') %}

{% define config = {
    name: 'user-share-list'
} %}

{% define data = {
    shareDetailsForm: required,
    shared: required
} %}

{% block body %}

    {% if data.shared is not empty %}
        <div class="box spacing spacing-bottom--big">
            <ul class="list">
                {% for shareDetail in data.shared %}
                    <li class="list__item box spacing--bottom spacing-bottom--small">
                        <div class="grid grid--middle">
                            <div class="col--sm-6 col--md-9">
                                <strong class="label label-info"> {{ shareDetail.vars.value.customerName }}</strong>
                            </div>
                            <div class="col--sm-6 col--md-3">
                                {{ form_widget(shareDetail.quotePermissionGroup) }}
                                {{ form_errors(shareDetail.quotePermissionGroup) }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock body %}
