{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.companyRoleForm,
    permissions: _view.permissions,
    idCompanyRole: _view.idCompanyRole,
    companyRolePermissionAssignFormCloner: _view.companyRolePermissionAssignFormCloner,
    companyRolePermissionUnassignFormCloner: _view.companyRolePermissionUnassignFormCloner,

    title: 'company.account.company_role' | trans,
    activePage: 'role'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview'),
                },
                {
                    label: data.title,
                    url: url('company/company-role')
                },
                {
                    label: 'company.account.company_role.edit_information' | trans({
                        '%role_name%' : data.form.vars.value.name,
                    }),
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'company.account.company_role.edit_information' | trans({
                    '%role_name%' : data.form.vars.value.name,
                }),
                form: data.form,
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('company/company-role'),
                    text: 'general.back.button' | trans
                }
            }
        } only %}

        {% include molecule('permission-table', 'CompanyPage') with {
            data: {
                permissions: data.permissions,
                idCompanyRole: data.idCompanyRole,
                companyRolePermissionAssignFormCloner: data.companyRolePermissionAssignFormCloner,
                companyRolePermissionUnassignFormCloner: data.companyRolePermissionUnassignFormCloner,
                actions: {
                    configure: true,
                    switch: true
                }
            }
        } only %}
    </div>
{% endblock %}
