@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;
        display: flex;
        flex-direction: column;

        &__name {
            @include helper-font-weight(bold);
            color: $setting-color-text;
        }

        &__actions {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-end;

            &--spacingless {
                margin-top: 0;
            }
        }

        @content;
    }
}
