<div class="row">
    <div class="small-12 large-6 columns">
        {% include '@ProductSetDetailPage/_product-set-detail-page/_partials/images.twig' %}
    </div>

    <div class="small-12 large-6 columns">
        {% include '@ProductSetDetailPage/_product-set-detail-page/_partials/products.twig' %}
    </div>
</div>

{% if _view.productSet.description %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'product.attribute.long_description' | trans }}</h5>
                <p>{{ _view.productSet.description }}</p>
            </div>
        </div>
    </div>
{% endif %}
