{% extends model('component') %}

{% define config = {
    name: 'shopping-list-permission',
    tag: 'div'
} %}

{% define data = {
    hasWritePermission: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <span class="{{ config.name }}--full">{{ 'customer.account.shopping_list.permissions.FULL_ACCESS' | trans }}</span>
    {% else %}
        <span>{{ 'customer.account.shopping_list.permissions.READ_ONLY' | trans }}</span>
    {% endif %}
{% endblock %}
