{% extends model('component') %}

{% define config = {
    name: 'shopping-list-permission',
    tag: 'span',
} %}

{% define data = {
    hasWritePermission: required,
} %}

{% block body %}
    {% set fullAccessClasses = config.name ~ '__full' %}

    {% block content %}
        {% if data.hasWritePermission %}
            <span class="{{ fullAccessClasses }}">{{ 'customer.account.shopping_list.permissions.FULL_ACCESS' | trans }}</span>
        {% else %}
            <span>{{ 'customer.account.shopping_list.permissions.READ_ONLY' | trans }}</span>
        {% endif %}
    {% endblock %}
{% endblock %}
