{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.idProductAbstract,
    form: _widget.form,
    showSuccessMessage: false,
    action: 'product-review/create',
    reviews: _widget.productReviews,
    summary: _widget.summary,
    ratingMaxValue: _widget.maximumRating,
    hasCustomer: _widget.hasCustomer,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _widget.pagination.currentPage,
        paginationPath: app.request.getPathInfo(),
        maxPage: _widget.pagination.maxPage,
        showAlwaysFirstAndLast: true,
        anchor: 'product-reviews'
    }
} %}

{% block rating %}
    <hr>
    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        modifiers: ['expand'],
        data: {
            value: _widget.productReviewStorageTransfer.averageRating | default(0),
            maxValue: _widget.maximumRating
        },
        attributes: {
            readonly: true
        }
    } only %}
{% endblock %}

{% block body %}
    <div class="box">
        {% include molecule('toggler-click') with {
            attributes: {
                'trigger-class-name': 'js-review__new-review-trigger',
                'target-class-name': 'js-review__new-review-form-target',
            },
        } only %}

        {% include molecule('toggler-hash') with {
            attributes: {
                'trigger-hash': '#review',
                'target-class-name': 'js-review__new-review-form-target',
                'add-class-when-hash-in-url': false,
            },
        } only %}

        {% if is_granted('ROLE_USER') %}
            <a id="review"></a>
            <button class="button float-right js-review__new-review-trigger">
                {{ 'product_review.submit.add_a_review' | trans }}
            </button>
        {% else %}
            <a class="button float-right" href="{{ path('login') }}">
                {{ 'product_review.submit.add_a_review' | trans }}
            </a>
        {% endif %}
    </div>

    {% if is_granted('ROLE_USER') %}
        <div class="is-hidden js-review__new-review-form-target">
            {% if data.showSuccessMessage %}
                <div class="box box--success">
                    {{ 'product_review.submit.success' | trans }}
                </div>
            {% endif %}

            {% include molecule('new-review-form', 'ProductReviewWidget') with {
                data: {
                    form: data.form,
                    action: url(data.action, {idProductAbstract: data.idProductAbstract})
                }
            } only %}
        </div>
    {% endif %}

    {% include organism('review-summary', 'ProductReviewWidget') with {
        data: {
            reviews: data.reviews,
            summary: data.summary,
            ratingMaxValue: data.ratingMaxValue,
            hasCustomer: data.hasCustomer,
            pagination: data.pagination
        }
    } only %}
{% endblock %}
