{% extends model('component') %}

{% define config = {
    name: 'quick-order-text-order-form',
} %}

{% define data = {
    textOrderForm: required,
} %}

{% block body %}
    {% block title %}
        <h5>{{ 'quick-order.paste-order.title' | trans }}</h5>
    {% endblock %}

    {% block text %}
        <p>{{ 'quick-order.paste-order.description' | trans }}</p>
    {% endblock %}

    {% block textOrderForm %}
        {% include molecule('form') with {
            data: {
                form: data.textOrderForm,
                enableStart: false,
                enableEnd: false,
            },
        } only %}
    {% endblock %}

    {% block button %}
        <button name="textOrder" class="button button--expand button--success">
            {{ 'quick-order.paste-order.button.verify' | trans }}
        </button>
    {% endblock %}
{% endblock %}
