{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    title: 'quote_request_page.quote_request' | trans,
    quoteRequest: _view.quoteRequest
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'quote_request_page.quote_request' | trans,
                    url: url('quote-request')
                },
                {
                    label: '#' ~ data.quoteRequest.quoteRequestReference,
                }
            ]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="box">
        {#TODO implement in next story#}
    </div>
{% endblock %}
