{% extends template('page-layout-main') %}

{% define data = {
    pages: required,
} %}

{% block content %}
    <form method="GET" class="grid js-form-input-default-value-disabler__catalog-form">
        {% block form %}

        {% endblock %}
    </form>
{% endblock %}
