{% extends template('page-layout-main') %}

{% define data = {
    pages: required,
} %}

{% block content %}
    <form method="GET" class="grid" data-default-value-form>
        {% block form %}{% endblock %}
    </form>
{% endblock %}
