{% extends model('component') %}

{% define config = {
    name: 'view-mode-switch',
} %}

{% define data = {
    requestUri: app.request.requestUri,
} %}

{% set gridHref = path('change-view-mode', { mode: 'grid', 'referer-url': data.requestUri }) %}
{% set listHref = path('change-view-mode', { mode: 'list', 'referer-url': data.requestUri }) %}

{% block body %}
    <ul class="menu menu--inline">
        <li class="menu__item">
            <a href="{{ gridHref }}">
                {% include atom('icon') with {
                    data: {
                        name: 'th-large',
                    },
                } only %}
                {{ 'catalog.view.mode.grid' | trans }}
            </a>
        </li>
        <li class="menu__separator"></li>
        <li class="menu__item">
            <a href="{{ listHref }}">
                {% include atom('icon') with {
                    data: {
                        name: 'th-list',
                    },
                } only %}
                {{ 'catalog.view.mode.list' | trans }}
            </a>
        </li>
    </ul>
{% endblock %}
