{% extends model('component') %}

{% define config = {
    name: 'order-measurement-unit',
    tag: 'order-measurement-unit'
} %}

{% define data = {
    id: required,
    ajaxUrl: required
} %}

{% block body %}
    {% include molecule('ajax-loader') with {
        modifiers: ['small'],
        attributes: {
            'provider-selector': '#' ~ data.id
        }
    } only %}

    <div class="{{ config.jsName }}__wrapper"></div>
{% endblock %}
