{% extends template('widget') %}

{% define data = {
    productAbstract: _widget.productAbstract,
} %}

{% block body %}
    <a href="#" id="ajaxButton"
       class="button button--success"
       data-csrf-token="{{ csrf_token('add-to-cart-ajax') }}"
       data-sku="{{ data.productAbstract["add_to_cart_sku"] }}"
       data-url="{{ path('cart/addAjax', {'sku': data.productAbstract['add_to_cart_sku']}) }}"
    >
        <svg class="icon" data-qa="component icon">
            <use xlink:href="#:cart-plus"></use>
        </svg>
    </a>


{% endblock %}
