{% extends template('page-layout-main') %}

{% define data = {
    activePage: 'sales-return'
} %}

{% set breadcrumbExtension = [] %}

{% block breadcrumbs %}
    {% set breadcrumbSteps = [
        {
            label: 'customer.account' | trans,
            url: path('customer/overview'),
        },
        {
            label: 'sales_return.list.title' | trans,
            url: path('sales-return'),
        },
    ] %}
    {% set breadcrumbSteps = breadcrumbSteps | merge(breadcrumbExtension) %}

    {% include molecule('breadcrumb') with {
        data: {
            steps: breadcrumbSteps,
        },
    } only %}
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12 col--md-3">
            {% block customerNavigation %}
                {% widget 'CustomerNavigationWidget' args [data.activePage] only %}
                {% elsewidget 'CustomerNavigationWidgetPlugin' args [data.activePage] only %} {# @deprecated Use CustomerNavigationWidget instead. #}
                {% endwidget %}
            {% endblock %}
        </div>

        <div class="col col--sm-12 col--md-9">
            {% block salesReturnContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
