@mixin customer-page-order-detail-table($name: '.order-detail-table') {
    #{$name} {
        &__content {
            padding-top: 0.5rem;
            margin-bottom: 1rem;
        }

        &__item {
            padding: 1rem;
            margin: 0 0.5rem 1rem;
            border: 1px solid $setting-color-lighter;

            &--column-item {
                margin-left: 0;
                margin-right: 0;
            }
        }

        @content;
    }
}
