$search-tab-border: 1px solid $setting-color-lighter;

@mixin tabs-widget-search-tabs($name: '.search-tabs') {
    #{$name} {
        text-align: center;
        border-left: $search-tab-border;
        border-bottom: $search-tab-border;

        &__item {
            display: inline-block;
            padding: 0.75rem 2rem;
            border-top: $search-tab-border;
            border-right: $search-tab-border;

            @include helper-breakpoint(md) {
                width: auto;
                min-width: inherit;
            }

            &--active {
                position: relative;
                background-color: $setting-color-white;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: calc(100% + 1px);
                    height: 2px;
                    background-color: $setting-color-white;
                }
            }
        }

        @content;
    }
}

/**
 * @deprecated use tabs-widget-search-tabs mixin instead.
 */
@mixin catalog-page-search-tabs($name: '.search-tabs') {
    @include tabs-widget-search-tabs();

    #{$name} {
        @content;
    }
}
