{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    view: _view,
    title: 'company.account.address.delete_confimation_page' | trans,
    activePage: 'address',
    companyUnitAddress: _view.companyUnitAddress,
    companyBusinessUnits: _view.companyUnitAddress.companyBusinessUnitCollection.companyBusinessUnits|default([]),
    idCompanyBusinessUnit: _view.idCompanyBusinessUnit,
} %}

{% block companyContent %}
    <div class="box">
        {% include molecule('address-delete-message', 'CompanyPage') with {
            data: {
                companyUnitAddress: data.companyUnitAddress,
                companyBusinessUnits: data.companyBusinessUnits,
                idCompanyBusinessUnit: data.idCompanyBusinessUnit
            }
        } only %}
    </div>
{% endblock %}
