{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    title: 'company.account.address.delete_confimation_page' | trans,
    activePage: 'business-unit',
    companyUnitAddress: _view.companyUnitAddress,
    companyBusinessUnits: _view.companyUnitAddress.companyBusinessUnits.companyBusinessUnits | default([]),
    idCompanyBusinessUnit: _view.idCompanyBusinessUnit,
    cancelUrl: _view.cancelUrl,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                },
                {
                    label: 'company.account.business_unit' | trans,
                    url: url('company/business-unit')
                },
                {
                    label: 'company.account.business_unit.delete.confirmation.warning' | trans
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        {% include molecule('address-delete-message', 'CompanyPage') with {
            data: {
                companyUnitAddress: data.companyUnitAddress,
                companyBusinessUnits: data.companyBusinessUnits,
                idCompanyBusinessUnit: data.idCompanyBusinessUnit,
                cancelUrl: data.cancelUrl
            }
        } only %}
    </div>
{% endblock %}
