{% if products is defined %}
    <div class="grid grid--stretch">
        {% for product in products if product.available %}
            {{ widget('ProductGroupWidgetPlugin', product) }}
        {% endfor %}
    </div>
{% endif %}

{% if product is defined %}
    {{ widget('ProductGroupWidgetPlugin', product) }}
{% endif %}

