@mixin shop-ui-box($name: '.box') {
    #{$name} {
        @include clearfix;
        padding: .5rem;
        margin: .5rem;
        background-color: $color-white;
        border: 1px solid $color-lighter;

        hr,
        &__separator {
            position: relative;
            display: block;
            margin-top: .5rem;
            margin-bottom: .5rem;
            border-bottom: 1px solid $color-lighter;
            left: - .5rem;
            width: calc(100% + #{1rem});
        }

        &--borderless {
            border-color: $color-transparent;
        }

        &--stretch {
            height: calc(100% - 1rem);
        }

        & + & {
            margin-top: 1rem;
        }

        @content;
    }
}
