@mixin component-box($name: '.box') {
    #{$name} {
        @include clearfix;
        padding: spacing();
        margin: spacing();
        background-color: $color-white;
        border: 1px solid $color-lighter;
        
        &__separator {
            display: block;
            margin-top: spacing();
            margin-bottom: spacing();
            border-bottom: 1px solid $color-lighter;
            left: - spacing();
            width: calc(100% + #{spacing(2)});
        }

        &--borderless {
            box-shadow: none;
        }

        &--stretch {
            height: calc(100% - #{spacing(2)});
        }

        & + #{$name} {
            margin-top: spacing(2);
        }

        @content;
    }
}

@mixin component-box-in-grid($name: '.box') {
    // #{$name} + .grid,
    // #{$name} + .col {
    //     margin-top: -8px;
    // }

    // .grid + #{$name},
    // .col + #{$name} {
    //     margin-top: 0px;
    // }

    // @content;
}
