@mixin shop-ui-box($name: '.box') {
    #{$name} {
        @include helper-ui-clearfix;
        padding: map-get($setting-spacing, 'default');
        margin: map-get($setting-spacing, 'default');
        background-color: $setting-color-white;
        border: 1px solid $setting-color-lighter;

        &__separator {
            display: block;
            margin: map-get($setting-spacing, 'default') -#{map-get($setting-spacing, 'default')};
            border-bottom: 1px solid $setting-color-lighter;
        }

        &--borderless {
            border-color: $setting-color-transparent;
        }

        &--spacingless {
            padding: 0;
            margin: 0;

            #{$name}__separator {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &--stretch {
            height: calc(100% - 1rem);
        }

        &--dark {
            background-color: $setting-color-lightest;
        }

        @each $action, $setting-color-action in $setting-color-actions {
            @include shop-ui-box-action($action, $setting-color-action);
        }

        @content;
    }
}

@mixin shop-ui-box-action($action, $setting-color-action) {
    &--#{$action} {
        background-color: helper-color-light($setting-color-action);
        border-color: $setting-color-action;
        color: helper-color-dark($setting-color-action);
    }

    @content;
}
