{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
{% endblock %}

{% block title %}
    <h3>{{ 'global.search.results'|trans }} "<strong>{{ _view.searchString }}</strong>"</h3>
{% endblock %}

{% block content %}
    {% include "@CatalogPage/_partials/catalog.twig" with {paginationPath: app.request.attributes.get('_route')} %}
{% endblock %}
