{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    roles: _view.companyRoleCollection,

    pagination: {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'company/company-role',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true
    },

    title: 'company.account.company_role' | trans,
    activePage: 'role',
    currentBreadcrumb: 'company.account.company_role'
} %}

{% block companyContent %}
    <div class="box text-right">
        <a class="button" href="{{url('company/company-role/create')}}">{{ 'company.account.company_role.add' | trans }}</a>
    </div>

    {% if data.roles is not empty %}
        <div class="box">
            {% include molecule('role-table', 'CompanyPage') with {
                data: {
                    roles: data.roles,
                    actions: {
                        view: false,
                        update: true,
                        delete: true
                    }
                }
            } only %}
            <hr class="box__separator">
            {% include molecule('pagination') with {
                data: data.pagination
            } only %}
        </div>
    {% endif %}
{% endblock %}
