{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    title: 'company.account.overview' | trans,
    company: _view.company | default(false),
    defaultBillingAddress: _view.defaultBillingAddress | default(false)
} %}

{% block companyContent %}
    <div class="box">
        <h5>{{ 'company.account.overview' | trans }}</h5>

        <hr class="box__separator">

        {% include molecule('overview-info', 'CompanyPage') with {
            data: {
                company: data.company,
                defaultBillingAddress: data.defaultBillingAddress
            }
        } only %}
    </div>
{% endblock %}
