{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    title: 'company.account.overview' | trans,
    company: _view.company,
    defaultBillingAddress: _view.defaultBillingAddress
} %}

{% block companyContent %}
    <div class="box">
        <h5>{{ 'company.account.overview' | trans }}</h5>

        <hr />

        {% include molecule('overview-info', 'CompanyPage') with {
            data: {
                companyName: data.company.name,
                defaultBillingAddress: data.defaultBillingAddress
            }
        } only %}
    </div>
{% endblock %}
