{% extends model('component') %}

{% define config = {
    name: 'invitation-link',
} %}

{% block body %}
    {% if can('ManageCompanyUserInvitationPermissionPlugin') %}
        <a class="button button-success" href="{{ path('company/user-invitation') }}">{{ 'company.user.invitation.invite_users' | trans }}</a>
    {%  endif %}
{% endblock %}
