{% extends template('page-layout-main') %}

{% block content %}

    <div class="small-12 columns">
        <div class="row">
            <div class="medium-9 columns">
                {% include "@QuickOrderPage/views/quick-order/partials/items-form.twig"  with {'form': _view.itemsForm, 'rowsNumber': _view.rowsNumber} %}
            </div>
            <div class="medium-3 columns">
                {% include "@QuickOrderPage/views/quick-order/partials/text-order-form.twig"  with {'form': _view.textOrderForm} %}
            </div>
        </div>
    </div>

{% endblock %}
