{% extends template('page-layout-main') %}

{% block headTitle %}{{ 'quick-order.page-title' | trans }}{% endblock %}

{% block title %}<h3>{{ 'quick-order.page-title' | trans }}</h3>{% endblock %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{ label: 'quick-order.page-title' | trans, withChevron: false }]
        }
    } only %}
{% endblock %}

{% define data = {
    forms: {
        items: _view.itemsForm,
        textOrder: _view.textOrderForm
    }
} %}

{% block content %}
    <div class="grid">
        <div class="col col--sm-12 col--md-8">
            {% include molecule('quick-order-form', 'QuickOrderPage') with {
                class: 'box',
                data: {
                    form: data.forms.items
                }
            } only %}
        </div>
        <div class="col col--sm-12 col--md-4">
            <div class="box">
                <h5>{{ 'quick-order.paste-order.title' | trans }}</h5>
                <p>{{ 'quick-order.paste-order.description' | trans }}</p>
                {% include molecule('form') with {
                    data: {
                        form: data.forms.textOrder,
                        options: {attr: { validate: true }},
                        submit: {
                            enable: true,
                            text: 'quick-order.paste-order.button.verify' | trans
                        }
                    }
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
