{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    backUrl: _view.backUrl,
    shoppingList: _view.shoppingList,
    sharedCompanyUsers: _view.sharedCompanyUsers,
    sharedCompanyBusinessUnits: _view.sharedCompanyBusinessUnits,
    shoppingListDeleteForm: _view.shoppingListDeleteForm,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'customer.account.shopping_list' | trans,
                    url: url('shopping-list'),
                },
                {
                    label: 'customer.account.shopping_list.overview.warning' | trans,
                },
            ],
        },
    } only %}
{% endblock %}

{% block customerNavigation %}
    {% widget 'CustomerNavigationWidget' args ['shoppingList', data.shoppingList.idShoppingList] only %}
    {% endwidget %}
{% endblock %}

{% set shoppingListMessageClasses = 'box' %}

{% block customerContent %}
    {% embed molecule('shopping-list-message', 'ShoppingListPage') with {
        class: shoppingListMessageClasses,
        data: {
            title: data.title,
            backUrl: data.backUrl,
            idShoppingList: data.shoppingList.idShoppingList,
            sharedCompanyUsers: data.sharedCompanyUsers,
            sharedCompanyBusinessUnits: data.sharedCompanyBusinessUnits,
        },
        embed: {
            shoppingListDeleteForm: data.shoppingListDeleteForm,
        }
    } only %}
        {% block deleteButton %}
            {{ form_start(embed.shoppingListDeleteForm, {'attr': {'class': 'link'}, 'action': url('shopping-list/delete', { 'idShoppingList': data.idShoppingList })}) }}
                <button data-init-single-click class="{{ deleteButtonClasses }}">{{ 'customer.account.shopping_list.overview.delete' | trans }}</button>
            {{ form_end(embed.shoppingListDeleteForm) }}
        {% endblock %}
    {%  endembed %}
{% endblock %}
