@mixin price-product-volume-widget-volume-price-table($name: '.volume-price-table') {
    #{$name} {
        @include helper-font-size(big);
        margin-bottom: 0.5rem;

        &__table,
        &__title,
        &__cell {
            border: 1px solid $setting-color-darker;
        }

        &__table {
            @include helper-font-size(small);
            text-align: center;
        }

        &__title {
            padding: 0.5rem 0.75rem;
            font-weight: bold;
            text-align: center;
        }

        &__cell {
            padding: 0.5rem 0.75rem;
        }

        @content;
    }
}

/**
 * @deprecated use price-product-volume-widget-volume-price-table mixin instead.
 */
@mixin shop-ui-volume-price-table($name: '.volume-price-table') {
    @include price-product-volume-widget-volume-price-table();

    #{$name} {
        @content;
    }
}
