{% extends model('component') %}

{% define config = {
    name: 'return-list-link',
    tag: 'li',
} %}

{% define data = {
    activeLinkClass: '',
} %}

{%- block extraClass %} menu__item{% endblock -%}

{% block body %}
    <a href="{{ path('return/list') }}" data-id="sidebar-sales-return" class="{{ data.activeLinkClass }}">{{ 'sales_return_widget.sales_return.list.title' | trans }}</a>
{% endblock %}
