{% extends template('widget') %}

{% define data = {
    shoppingListOptions: _widget.shoppingListOptions,
    isVisible: _widget.isVisible,
} %}

{% block template %}
    {% if data.isVisible %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <hr>
    {% block content %}
        <div class="grid grid--bottom grid--justify">
            {% block contentInner %}
                {% set selectModifiers = ['expand'] %}

                {% block selectContainer %}
                    <div class="col col--sm-12 col--md-3"></div>
                    <div class="col col--sm-12 col--md-2">
                        {% block select %}
                            {% if data.shoppingListOptions | length %}
                                {% include atom('select') with {
                                    modifiers: selectModifiers,
                                    data: {
                                        options: data.shoppingListOptions,
                                    },
                                    attributes: {
                                        name: 'idShoppingList',
                                    },
                                } only %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% set buttonClasses = 'button button--expand button--success' %}

                {% block buttonContainer %}
                    <div class="col col--sm-12 col--md-3">
                        {% block button %}
                            <button type="submit" name="addToShoppingList" class="{{ buttonClasses }}">
                                {{ 'shopping_list_add_items_widget.add_to_shopping_list' | trans }}
                            </button>
                        {% endblock %}
                    </div>
                    <div class="col col--sm-12 col--md-1"></div>
                    <div class="col col--sm-12 col--md-2"></div>
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
