{% extends template('widget') %}

{% define data = {
    formType: _widget.formType,
    isApplicable: _widget.isApplicable,
    addresses: _widget.addresses
} %}

{% block template %}
    {{ data.addresses }}

    <div>
        <button>{{ 'page.checkout.address.use_selected_address' | trans }}</button>
        <label>
            <input type="checkbox">
            {{ 'page.checkout.address.different_delivery_address' | trans }}
        </label>
    </div>

    <input type="hidden" name="addressesForm[address_type][id_customer_address]">
{% endblock %}
