{% extends model('component') %}

{% define config = {
    name: 'new-review-form',
} %}

{% define data = {
    form: required,
    action: required,
} %}

{% block body %}
    {% embed molecule('form') with {
        class: 'box',
        data: {
            title: 'product_review.submit.add_a_review' | trans,
            form: data.form,
            options: {
                action: data.action
            },
            layout: {
                'nickname': 'col col--sm-12 col--lg-4',
                'summary': 'col col--sm-12 col--lg-8'
            },
            submit: {
                enable: true
            }
        }
    } only %}
        {% block field %}
            {% if fieldName == 'rating' %}
                <div class="form__field col col--sm-12">
                    {% do field.setRendered %}

                    <label>
                        {{form_label(field)}}
                        {% include molecule('rating-selector', 'ProductReviewWidget') with {
                            modifiers: ['expand'],
                            data: {
                                maxValue: (field.vars.choices | length) - 1,
                                inputId: 'productReviewForm_rating',
                                inputName: 'productReviewForm[rating]'
                            }
                        } only %}
                        {{form_errors(field)}}
                    </label>
                </div>
            {% else %}
                {{parent()}}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
