@mixin quick-order-page-quick-order-form($name: '.quick-order-form') {
    #{$name} {
        * {
            z-index: initial;
        }

        &__list {
            width: 100%;

            &:not(:first-child) {
                border-top: 1px solid $setting-color-lighter;
            }
        }

        @content;
    }
}
