@mixin quick-order-page-quick-order-form($name: '.quick-order-form') {
    #{$name} {
        position: relative;

        &__list {
            width: 100%;
        }

        * {
            z-index: initial;
        }

        @content;
    }
}
