{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    shoppingListCollection: _view.shoppingListCollection,
    shoppingListForm: _view.shoppingListForm,
    labels: {
        addNewSubmitLabel: 'customer.account.shopping_list.overview.add_new' | trans,
        overviewTitle: 'customer.account.shopping_list.overview.title' | trans,
        emptyShoppingListsLabel: 'customer.account.shopping_list.overview.empty' | trans
    }
} %}

{% block customerNavigation %}
    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: data.activePage
        },
        embed: {
            shoppingListCollection: data.shoppingListCollection
        }
    } only %}
        {% block shoppingListNavigation %}
            {% include molecule('shopping-list-navigation', 'ShoppingListPage') with {
                data: {
                    shoppingListCollection: embed.shoppingListCollection
                }
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: data.labels.overviewTitle,
                form: data.shoppingListForm,
                layout: {
                    name: 'col col--sm-1 col--lg-8',
                },
                submit: {
                    enable: true,
                    text: data.labels.addNewSubmitLabel,
                }
            }
        } only %}

        {% if data.shoppingListCollection.shoppingLists | length %}
            {% include molecule('shopping-list-overview-table', 'ShoppingListPage') with {
                data: {
                    shoppingLists: data.shoppingListCollection.shoppingLists,
                    enableTableForm: true
                }
            } only %}
        {% else %}
            {{ data.labels.emptyShoppingListsLabel }}
        {% endif %}
    </div>
{% endblock %}
