{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    shoppingListCollection: _view.shoppingListCollection,
    shoppingListForm: _view.shoppingListForm,
    shoppingListResponse: _view.shoppingListResponse,
    labels: {
        addNewSubmitLabel: 'customer.account.shopping_list.overview.add_new' | trans,
        overviewTitle: 'customer.account.shopping_list.overview.title' | trans,
        emptyShoppingListsLabel: 'customer.account.shopping_list.overview.empty' | trans,
        newFormTitle: 'customer.account.shopping_list.overview.form.new' | trans
    }
} %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                form: data.shoppingListForm,
                submit: {
                    enable: true,
                    text: data.labels.addNewSubmitLabel,
                }
            }
        } only %}
        <hr/>
        {% if data.shoppingListCollection.shoppingLists | length %}
            {% include molecule('shopping-list-overview-table', 'ShoppingListPage') with {
                data: {
                    shoppingLists: data.shoppingListCollection.shoppingLists,
                    enableTableForm: true,
                    shoppingListResponse: data.shoppingListResponse
                }
            } only %}
        {% else %}
            {{ data.labels.emptyShoppingListsLabel }}
        {% endif %}
    </div>
{% endblock %}
