{% extends template('widget') %}

{% define data = {
    value: _widget.rating | default(0),
    maxValue: _widget.maximumRating,
    parentJsName: '',
} %}

{% block body %}
    <p>
        {% include molecule('rating-selector', 'ProductReviewWidget') with {
            data: {
                value: data.value,
                maxValue: data.maxValue,
                useHalfSteps: true,
                parentJsName: data.parentJsName,
            },
            attributes: {
                readonly: true,
            },
        } only %}
    </p>
{% endblock %}
