@mixin company-page-address-delete-message($name: '.address-delete-message') {
    #{$name} {
        &__delete-title {
            color: map-get($setting-color-actions, alert);
        }

        &__delete-message {
            @include helper-font-weight(bold);
        }

        &__address {
            color: $setting-color-main;
        }

        &__action {
            margin-right: map-get($setting-spacing, 'default');
        }

        @content;
    }
}
