@mixin shop-ui-list($name: '.list') {
    #{$name} {
        &__item {
            display: block;

            & > #{$name} {
                margin-left: 0.5rem;
            }
        }

        &--inline {
            display: inline-block;
        }

        &--inline > &__item {
            display: inline-block;
            margin: 0 0.5rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &--bullet &__item {
            &::before {
                content: '•';
                margin-right: 0.25rem;
            }
        }

        &--plus &__item {
            &::before {
                content: '+';
                margin-right: 0.25rem;
            }
        }

        &--alert {
            color: map-get($setting-color-actions, alert);
        }

        @content;
    }
}
