@mixin shop-ui-jumbotron($name: '.jumbotron') {
    #{$name} {
        &__container {
            height: 10rem;
            /* stylelint-disable function-comma-newline-after */
            background: linear-gradient(to left top,
                helper-color-dark($setting-color-main),
                helper-color-light($setting-color-main)) center/cover no-repeat;
            /* stylelint-enable */
            text-align: center;

            @include helper-breakpoint(md) {
                height: 15rem;
            }

            @include helper-breakpoint(xl) {
                height: 20rem;
            }
        }

        &__headline,
        &__sub-headline {
            color: $setting-color-white;
            text-shadow: 0 1px 3px $setting-color-darkest;
        }

        &__sub-headline {
            font-style: italic;
        }

        @content;
    }
}
