{% extends template('widget') %}

{% define data = {
    isOnBehalf: _widget.isOnBehalf,
    isCompanyUserChangeAllowed: _widget.isCompanyUserChangeAllowed,
    companyName: _widget.companyName,
    companyBusinessUnitName: _widget.companyBusinessUnitName,
    isVisible: _widget.isVisible,
} %}

{% block template %}
    {% if data.isVisible %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% set isFullCompanyInformation = data.isOnBehalf and data.companyName is not empty
        and data.companyBusinessUnitName is not empty %}
    {% set companyInformation = isFullCompanyInformation ?
        data.companyName ~ ' / ' ~ data.companyBusinessUnitName :
        'business_on_behalf_widget.no_selected_company' | trans %}

    {% if data.isCompanyUserChangeAllowed %}
        <a href="{{ path('company/user/select') }}">
            {{- companyInformation -}}
        </a>
    {% endif %}

    {% if not data.isCompanyUserChangeAllowed %}
        <span>{{ companyInformation }}</span>
    {% endif %}
{% endblock %}
