/**
 * Applies or overrides default styles of the HTML elements for a more predictable
 * and convenient behavior in different browsers.
 */
@mixin basic-reset() {
    * {
        @include helper-reset;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }

        &::before,
        &::after {
            box-sizing: border-box;
            color: inherit;
        }
    }

    html {
        @include helper-reset;
    }

    // HTML5 display-role reset for older browsers

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    form {
        display: block;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;

        &::before,
        &::after {
            content: none;
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-element {
        display: block;
    }
}
