body {
    @include font-size(default);
    @include font-weight(regular);
    @include line-height(default);
    color: $color-text;
    font-family: $font-family;
}

@each $i in (1, 2, 3, 4, 5, 6) {
    h#{$i} {
        @include font-size($i);
        @include line-height($i);
        margin: 32px 0 16px 0;
    }
}

a {
    color: $color-main;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

b,
strong {
    @include font-weight(bold);
}

i,
em,
cite {
    font-style: italic;
}

p,
ul,
ol,
blockquote,
iframe {
    margin: 16px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

