{% extends template('page-layout-quote-request', 'QuoteRequestPage') %}

{% define data = {
    quoteRequests: _view.quoteRequests
} %}

{% block customerContent %}
    <div class="box">
        {% if data.quoteRequests | length %}
            {% include molecule('quote-request-view-table', 'QuoteRequestPage') with {
                data: {
                    quoteRequests: data.quoteRequests,
                }
            } only %}
        {% else %}
            {{ 'quote_request_page.quote_request.view.empty' | trans }}
        {% endif %}
    </div>
{% endblock %}
