{% extends "@ShopLayout/layout/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block content %}

    <div class="row small-unstack" data-component="viewer">
        <div class="columns __checkout-proceed-as-method" data-viewer-id="user" data-viewer-default>
            {% include "@CompanyPage/register/partials/register-form.twig" with {'form': _view.registerForm} %}
        </div>

        <div class="columns __checkout-proceed-as-method" data-viewer-id="user" data-viewer-default>
            {% include "@CompanyPage/auth/partials/login-form.twig" with {'form': _view.loginForm} %}
        </div>
    </div>

{% endblock %}
