{% extends template('widget') %}

{% define data = {
    volumeProductPrices: _widget.volumeProductPrices,
} %}

{% block body %}
    {% if data.volumeProductPrices.volumePrices is defined and data.volumeProductPrices.volumePrices is not empty %}
        <table>
            <tr>
                <th>
                    {{ 'page.detail.volume_price.quantity'|trans }}
                </th>
                <th>
                    {{ 'page.detail.volume_price.price'|trans }}
                </th>
            </tr>
        {% for volumePrice in data.volumeProductPrices.volumePrices %}
            <tr>
                <td>
                    {{ volumePrice.quantity }}
                </td>
                <td>
                    {{ volumePrice.price|money }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
