{% extends model('component') %}

{% define config = {
    name: 'configuration-form',
} %}

{% define data = {
    form: required,
    productConfigurationRouteName: required,
    actionParams: {},
    submitButton: {
        class: 'button button--expand',
        iconName: 'wrench',
        iconModifiers: [],
    },
} %}

{% block body %}
    {{ form_start(data.form, {'action': path(data.productConfigurationRouteName, data.actionParams)}) }}
        {% block submitButton %}
            {% set submitButton = data.submitButton %}

            <button class="{{ submitButton.class }}">
                {% if submitButton.iconName %}
                    {% include atom('icon') with {
                        modifiers: submitButton.iconModifiers,
                        data: {
                            name: submitButton.iconName,
                        },
                    } only %}
                {% endif %}
                {{ 'product_configuration_widget.configure' | trans }}
            </button>
        {% endblock %}
    {{ form_end(data.form) }}
{% endblock %}
