{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url('cart') }}">{{ 'cart.cart'|trans }}</a></li>
    {% include '@CheckoutPage/_checkout-page/_partials/breadcrumb.twig' %}
{% endblock %}

{% block navigation %}{% endblock %}

{% block footer %}{% endblock %}
