parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method .+CustomerPageToSalesClientInterface::getPaginatedCustomerOrdersOverview\(\) invoked with 2 parameters, 1 required.#'
        - '#Parameter \#1 \$idCustomerAddress of method .+AddressTransfer::setIdCustomerAddress\(\) expects int\|null, string\|null given#'
        - '#Parameter \#1 \$quoteTransfer of method .+CheckoutAddressFormDataProvider::getOptions\(\) expects .+QuoteTransfer, .+AbstractTransfer given.#'
        - '#Parameter \#3 \$roles of class Symfony\\Component\\Security\\Core\\Authentication\\Token\\UsernamePasswordToken constructor expects array<string>, string given\.#'
