{% extends template('widget') %}

{% define data = {
    note: _widget.note,
} %}

{% block body %}
    {% if data.note.message is not null %}
        <div class="grid">
            <div class="col">{{ 'shopping_list.item_note' | trans }}</div>
            <div class="col">{{ data.note.message }}</div>
        </div>
    {% endif %}
{% endblock %}
