{% extends template('widget') %}

{% define data = {
    note: _widget.shoppingListItem.note | default(null),
} %}

{% block body %}
    {% if data.note is not null %}
        {% if data.note.message is not null %}
            <div class="grid">
                <div class="col">{{ 'shopping_list.item_note' | trans }}</div>
                <div class="col">&nbsp;{{ data.note.message }}</div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
