{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
{% endblock %}

{% block title %}
    <h3>{{ 'global.search.results'|trans }} "<strong>{{ searchString }}</strong>"</h3>
{% endblock %}

{% block content %}
    {% set cmsBlockTopPlaceholder %}{% block cmsBlockTop %}{% endblock %}{% endset %}
    {% set cmsBlockMiddlePlaceholder %}{% block cmsBlockMiddle %}{% endblock %}{% endset %}
    {% set cmsBlockBottomPlaceholder %}{% block cmsBlockBottom %}{% endblock %}{% endset %}

    {% include "@CatalogPage/_partials/catalog.twig" with {paginationPath: app.request.attributes.get('_route')} %}
{% endblock %}
