{% extends model('component') %}

{% define config = {
    name: 'special-opening-hours',
} %}

{% define data = {
    specialOpeningHours: required,
    itemsLimit: 0,
} %}

{% macro weekdayTime(weekday, weekdaysData, key) %}
    {% if weekday.timeFrom and weekday.timeTo %}
        {% set weekdayTime = weekday.timeFrom | date('H:i') ~ ' - ' ~ weekday.timeTo | date('H:i') %}
    {% else %}
        {% set weekdayTime = 'merchant_opening_hours.opening_hours_closed' | trans %}
    {% endif %}

    {% if key in weekdaysData | keys %}
        {% set complexTime = weekdaysData[key].time ~ ' | ' ~ weekdayTime %}

        {{ complexTime }}
    {% else %}
        {{ weekdayTime }}
    {% endif %}
{% endmacro %}

{% block body %}
    {% set weekdaysData = [] %}
    {% set todayTimestamp = "now" | date('Y-m-d') | date('U') %}
    {% set openingHoursCounter = 0 %}

    {% for openingHours in data.specialOpeningHours %}
        {% set dateTimestamp = (openingHours.date ~ ' ' ~ openingHours.timeTo) | date('U') %}
        {% set isWorkingDay = openingHours.timeFrom and openingHours.timeFrom %}
        {% set isNotPastdDay = (dateTimestamp >= todayTimestamp and openingHoursCounter < data.itemsLimit) or data.itemsLimit == 0 %}

        {% if isWorkingDay and isNotPastdDay %}
            {% set openingHoursCounter = openingHoursCounter + 1 %}
            {% set time = weekdaySchedule.weekdayTime(openingHours, weekdaysData, openingHours.date) %}
            {% set weekdaysData = weekdaysData | merge({
                (openingHours.date): {
                    note: openingHours.note | trans,
                    date: openingHours.date | date('d.m.Y, l'),
                    time: time,
                },
            }) %}
        {% endif %}
    {% endfor %}

    {% block schedule %}
        {% embed molecule('information-item', 'MerchantProfilePage') with {
            data: {
                title: 'merchant_opening_hours.special_opening_hours_title' | trans,
            },
            embed: {
                weekdaysData: weekdaysData,
            },
        } only %}
            {% block text %}
                {% for weekday in embed.weekdaysData %}
                    {% set title = weekday.note ? weekday.date ~ ' (' ~ weekday.note ~ ')' : weekday.date %}

                    <div>{{ title }}: {{ weekday.time }}</div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}

{% import _self as weekdaySchedule %}
