@mixin quick-order-quick-order-form-field-list($name: '.quick-order-form-field-list') {
    #{$name} {
        display: table;
        width: 100%;

        &__row {
            display: table-row;

            &:not(:last-child) {
                #{$name} {
                    &__col {
                        border-bottom: 1px solid $setting-color-lighter;
                    }
                }
            }
        }

        &__col {
            position: relative;
            display: table-cell;
            padding: map-get($setting-spacing, 'default');
            vertical-align: middle;

            &--quantity {
                width: 15%;
            }

            &--price {
                width: 20%;
            }

            &--remove {
                width: 8%;
            }
        }

        @content;
    }
}
