@mixin shop-ui-textarea($name: '.textarea') {
    #{$name} {
        @include helper-effect-transition(border-color);
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border: 1px solid $setting-color-input-border;
        max-width: 100%;

        &:focus {
            border-color: $setting-color-input-border-focus;
        }

        &::placeholder {
            color: $setting-color-dark;
        }

        &--expand {
            display: block;
            width: 100%;
        }

        &--error {
            border-color: map-get($setting-color-actions, alert);
        }

        &[disabled],
        &--disabled {
            background-color: $setting-color-lightest;
            cursor: not-allowed;
        }

        @content;
    }
}
