$setting-color-white: #fff;
$setting-color-black: #000;

$setting-color-gray-1: #f5f5f5;
$setting-color-gray-2: #f0f0f0;
$setting-color-gray-3: #e7eaee;
$setting-color-gray-4: #dadada;
$setting-color-gray-5: #dce0e5;
$setting-color-gray-6: #b7bec9;
$setting-color-gray-7: #8f8f8f;
$setting-color-gray-8: #4c4c4c;
$setting-color-gray-9: #2f2f2f;
$setting-color-gray-10: #e3e3e3;

$setting-color-green-1: #00c29f;
$setting-color-green-2: #189880;
$setting-color-green-3: #08725e;

$setting-color-transparent: rgba($setting-color-white, 0);
$setting-color-alpha-1: rgba($setting-color-gray-7, 0.05);

$setting-color-main:$setting-color-green-1;
$setting-color-bg: $setting-color-white;
$setting-color-text: $setting-color-gray-7;
$setting-color-input-border: $setting-color-gray-5;
$setting-color-input-border-hover: $setting-color-gray-6;
$setting-color-input-border-focus: $setting-color-green-2;
$setting-color-image-overlay: $setting-color-gray-2;
