{% set modifier = productLabelDictionaryItemTransfer.getFrontEndReference() | default(null) %}

<span class="product-label-flag">
    <span class="product-label-flag__content {% if modifier %}product-label-flag__content--{{ modifier }}{% endif %}">
        {{ productLabelDictionaryItemTransfer.getName() }}
    </span>
</span>
