{% extends template('widget') %}

{% define data = {
    idShoppingList: _widget.shoppingList.idShoppingList,
    isOwner: _widget.isOwner,
} %}

{% block body %}
    {% if data.isOwner == false %}
        {% set linkClasses = 'spacing-left spacing-left--small' %}

        {% block link %}
            <a class="{{ linkClasses }}" href="{{ url('shopping-list/dismiss-confirm', { idShoppingList: data.idShoppingList }) }}">
                {{- 'customer.account.shopping_list.overview.dismiss' | trans -}}
            </a>
        {% endblock %}
    {% endif %}
{% endblock %}
