{% extends template('widget') %}

{% define data = {
    product: _widget.product,
    viewMode: _widget.viewMode,
    eventRevealer: data.eventRevealer | default(null),
} %}

{% block body %}
    {% set productTemplate = molecule('product-item') %}
    {% set classWrap = 'col col--sm-12 col--md-6 col--xl-4' %}
    {% set class = 'box--stretch' %}

    {% if data.viewMode == 'list' %}
        {% set productTemplate = molecule('product-item-list') %}
        {% set classWrap = 'col col--sm-12' %}
        {% set class = '' %}
    {% endif %}

    <div class="{{ classWrap }}">
        {% embed productTemplate with {
            productTemplate: productTemplate,
            class: class,
            data: {
                product: data.product,
                name: data.product.abstract_name,
                image: data.product.images ? data.product.images.0.external_url_small,
                imageAlt: data.product.images ? data.product.images.0.alt_text | default,
                idProductAbstract: data.product.id_product_abstract,
                eventRevealer: data.eventRevealer,
            },
        } only %}
            {% block labels %}
                {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract]  with {
                    data: {
                        parentJsName: config.jsName,
                    },
                } only %}{% endwidget %}
            {% endblock %}

            {% block rating %}
                {% widget 'ProductReviewDisplayWidget' args [data.product.rating | default(0)] with {
                    data: {
                        parentJsName: config.jsName,
                    },
                } only %}{% endwidget %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
