{% extends model('component') %}

{% define config = {
    name: 'agent-control-bar',
    tag: 'agent-control-bar'
} %}

{% define data = {
    agent: required
} %}

{% block body %}
    <div class="container">
        <div class="box grid grid--middle">
            <div class="col col--md-4 col--sm-12">
                <span>{{ 'agent.control_bar.username' | trans({'%username%': data.agent.username}) }}</span>
            </div>
            <div class="col col--md-6 col--sm-12">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="?_switch_user=_exit">{{ 'agent.control_bar.logout_as_customer' | trans }}</a>
                {% else %}
                    <form method="GET" action="/">
                        <div class="grid">
                            <div class="col col--sm-10">
                                {% include molecule('autocomplete-form') with {
                                    attributes: {
                                        'suggestion-url': path('agent-widget/customer-autocomplete'),
                                        'render-template': '${first_name} - ${last_name} : ${email}',
                                        'value-key': 'email',
                                        'object-key': 'customers',
                                        'selected-value-key': '_switch_user'
                                    }
                                } only %}
                            </div>

                            <div class="col col--sm-2">
                                <button type="submit" class="button button-success">
                                    {{ 'agent.confirm_user_selection' | trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col col--md-2 col--xs-12 text-right">
                <a href="/agent/logout">{{ 'agent.control_bar.logout' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
