@mixin agent-widget-agent-control-bar($name: '.agent-control-bar') {
    #{$name} {
        position: relative;
        z-index: $setting-zi-header + 1;

        @content;
    }
}

/**
 * @deprecated use agent-widget-agent-control-bar mixin instead.
 */
@mixin agent-control-bar($name: '.agent-control-bar') {
    @include agent-widget-agent-control-bar();

    #{$name} {
        @content;
    }
}
