{% extends model('component') %}

{% define config = {
    name: 'address-item-form',
} %}

{% define data = {
    form: required,
    formBundle: required,
    shippingForm: required,
    jsAddressClass: '',
} %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="text-right spacing spacing--inner">
            <hr>
            <a href="{{url('customer/address')}}">{{ 'page.checkout.address.manage_your_addresses' | trans }}</a>
            <hr>
        </div>
    {% endif %}

    {% embed molecule('form') with {
        data: {
            form: data.form,
            enableStart: false,
            enableEnd: false,
        },
        embed: {
            jsName: config.jsName,
            shippingForm: data.shippingForm,
            jsAddressClass: data.jsAddressClass,
        },
    } only %}
        {% block fields %}
            <div class="col col--sm-12">
                {% include molecule('address-item-form-field-list', 'CheckoutPage') with {
                    data: {
                        items: data.form,
                        shippingForm: embed.shippingForm,
                        jsAddressClass: embed.jsAddressClass,
                    },
                } only %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed molecule('form') with {
        data: {
            form: data.formBundle,
            enableStart: false,
            enableEnd: false,
        },
        embed: {
            jsName: config.jsName,
            shippingForm: data.shippingForm,
            jsAddressClass: data.jsAddressClass,
        },
    } only %}
        {% block fields %}
            <div class="col col--sm-12">
                {% include molecule('address-bundle-item-form-field-list', 'CheckoutPage') with {
                    data: {
                        items: data.form,
                        shippingForm: embed.shippingForm,
                        jsAddressClass: embed.jsAddressClass,
                    },
                } only %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
