{% extends model('component') %}

{% set config = {
    name: 'filter-section',
    tag: 'section'
} | merge(config | default({})) %}

{% set data = {
    facets: data.facets | default(null),
    filterPath: data.filterPath | default(null),
    categories: data.categories | default([])
} | merge(data | default({})) %}

{%- block class -%}
    {{parent()}} box
{%- endblock -%}

{% block body %}
    {% for filter in data.facets %}
        {% set filterHasValues = filter.values is not defined or filter.values | length > 0 %}

        {% if filterHasValues %}
            <h6>{{ ('product.filter.' ~ filter.name | lower) | trans }}</h6>

            {% include [
                molecule('filter-' ~ filter.config.name),
                molecule('filter-' ~ filter.config.type)
            ] ignore missing with {
                data: {
                    filterPath: data.filterPath,
                    filter: filter,
                    categories: data.categories
                }
            } only %}

            <hr class="box__separator" />
        {% endif %}
    {% endfor %}

    <button type="submit" class="button button--expand button--small">
        {{ 'catalog.filter.button' | trans }}
        {% include atom('icon') with {
            data: {
                name: 'filter'
            }
        } only %}
    </button>
{% endblock %}
