@mixin cart-product-packaging-unit($name: '.cart-product-packaging-unit') {
    #{$name} {
        &__item {
            &:not(:last-child) {
                margin-bottom: map-get($setting-spacing, 'small');
            }
        }

        &__box {
            padding: 0.25rem 0.5rem;
            border: 1px solid $setting-color-input-border;
        }
    }
}
