{% extends molecule('product-item-list') %}

{% define config = {
    name: 'product-search-item',
} %}

{% block extraClass %} grid box{% endblock %}

{% block image %}
    {% set extraClass = '' %}
    {% set modifiers = ['small'] %}

    <div class="col col--sm-3 col--md-2 col--middle">
        {{ parent() }}
    </div>
{% endblock %}

{% block rating %}{% endblock %}

{% block price %}
    {% if can('SeePricePermissionPlugin') %}
        {% include molecule('money-price') with {
            data: {
                amount: data.product.price | default(null),
            },
        } only %}
    {% else %}
        {{ 'customer.access.cannot_see_price' | trans }}
    {% endif %}
{% endblock %}

{% block actionsContainer %}{% endblock %}
