{% extends "@ShopLayout/layout/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<div class="row small-unstack" data-component="viewer">
    <div class="columns __checkout-proceed-as-method" data-viewer-id="user" data-viewer-default>
        {% include "@CompanyPage/create/partials/create-form.twig" with {'form': _view.companyCreateForm} %}
    </div>
</div>

{% endblock %}
