{% extends template('layout-main') %}

{% block pageInfo %}{% endblock %}

{% block content %}    
    {% include molecule('jumbotron') with {
        class: 'box',
        data: {
            imageUrl: '/assets/default/img/home-banner.jpg'
        }
    } only %}

    {{ spyCmsBlock({name: 'Home Page'}) }}

    <div class="box">
        {{ spyCmsBlock({name: 'Teaser for home page'}) }}
    </div>
{% endblock %}
