@mixin shop-ui-search-form($name: '.search-form') {
    #{$name} {
        position: relative;

        &__submit {
            position: relative;
            z-index: $setting-zi-navigation-top;
        }

        @content;
    }
}
