parameters:
    ignoreErrors:
        - '#Call to an undefined method Generated\\Yves\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
        - '#Call to an undefined method Spryker\\Shared\\Kernel\\Transfer\\AbstractTransfer::getMerchantReference*\(\)#'
