@mixin component-header($name: '.header') {
    #{$name} {
        background-color: light($color-main);
        margin-bottom: spacing(2);
        z-index: $zi-header;

        &__row {
            padding: spacing();
        }

        &__navigation-main {
            z-index: $zi-header + 1;
        }

        @content;
    }
}
