@mixin shop-ui-header($name: '.header') {
    #{$name} {
        background-color: helper-color-light($setting-color-main);
        margin-bottom: 1rem;
        z-index: $setting-zi-header;

        &__row {
            padding: .5rem;
        }

        &__navigation-main {
            z-index: $setting-zi-header + 1;
        }

        @content;
    }
}
