@mixin component-header($name: '.header') {
    #{$name} {
        position: relative;
        background-color: light($color-main);
        margin-bottom: 1rem;
        z-index: $zi-header;

        &__row {
            padding: .5rem;
        }

        &__navigation-top {
            z-index: $zi-header + 3;
        }

        &__search-form {
            z-index: $zi-header + 2;
        }

        &__navigation-main {
            z-index: $zi-header + 1;
        }

        @content;
    }
}
