{% extends "@CompanyPage/layout.twig" %}

{% block title %}
    <h3>{{ 'company.account.company_user' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'company-user'} %}
{% endblock %}

{% block companyContent %}
    <div class="callout">
        <h5>{{ 'company.account.company_user.edit_information' | trans }}</h5>
        <hr>
        {% include "@CompanyPage/user/partials/form.twig" with {'form': _view.companyUserForm, 'formAction': url('company/user/create')} %}
    </div>
{% endblock %}
