@mixin cart-comments($name: '.cart-comments') {
    #{$name} {
        display: block;

        &__tabs {
            display: flex;
            justify-content: stretch;
        }

        &__tab {
            flex-grow: 1;
            flex-basis: 0;
        }

        &__action {
            width: 100%;
            padding: 0.25rem 0.5rem;
            background-color: $setting-color-white;
            border: 1px solid $setting-color-main;
            color: $setting-color-darkest;
            cursor: pointer;
        }

        &__content {
            max-height: 350px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        &__action-active {
            color: $setting-color-white;
            background-color: $setting-color-main;
        }

        &__content-item {
            display: none;
        }

        &__content-item-active {
            display: block;
        }

        &-main__form {
            padding-top: 0.75rem;
        }
    }
}