{% extends template('page-layout-main') %}

{% define data = {
    title: 'configurable_bundle_page.configurator.summary' | trans,
    form: _view.form,
    configurableBundleTemplateStorage: _view.configurableBundleTemplateStorage,
    products: _view.products
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'configurable_bundle_page.template_selection' | trans,
                url: path('configurable-bundle/configurator/template-selection'),
                withChevron: false
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="grid">

        <div class="col col--sm-12 col--md-3" class="button">
            {% include molecule('configurator-sidebar', 'ConfigurableBundlePage') with {
                data: {
                    form: data.form,
                    configurableBundleTemplateStorage: data.configurableBundleTemplateStorage,
                    isSummaryPageUnlocked: true
                }
            } only %}
        </div>

        <div class="col col--sm-12 col--md-9">
            {% include molecule('selected-product-list', 'ConfigurableBundlePage') with {
                data: {
                    form: data.form,
                    products: data.products,
                    configurableBundleTemplateStorage: data.configurableBundleTemplateStorage
                },
            } only %}

            {% include molecule('configurator-state-form', 'ConfigurableBundlePage') with {
                data: {
                    form: data.form.createView,
                    submitButtonText: 'configurable_bundle_page.configurator.add_to_cart' | trans,
                    submitButtonClass: 'button button--success',
                    action: path(
                        'configurable-bundle/configurator/summary', {
                            'idConfigurableBundleTemplate': data.configurableBundleTemplateStorage.idConfigurableBundleTemplate,
                        }
                    )
                },
            } only %}
        </div>

    </div>
{% endblock %}
