{% extends template('page-layout-main') %}

{% define data = {
    title: 'configurable_bundle_page.configurator.summary' | trans,
    form: _view.form,
    configurableBundleTemplateStorage: _view.configurableBundleTemplateStorage,
    products: _view.products,
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'configurable_bundle_page.template_selection' | trans,
                url: path('configurable-bundle/configurator/template-selection'),
                withChevron: false,
            }],
        },
    } only %}
{% endblock %}

{% block content %}
    <div class="grid">
        {% block summaryContentInner %}
            {% block summarySidebar %}
                <div class="col col--sm-12 col--md-3" class="button">
                    {% block summarySidebarInner %}
                        {% include molecule('configurator-sidebar', 'ConfigurableBundlePage') with {
                            data: {
                                form: data.form,
                                configurableBundleTemplateStorage: data.configurableBundleTemplateStorage,
                                isSeparateItemUnlocked: true,
                                isSeparateItemActive: true,
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block summaryProducts %}
                <div class="col col--sm-12 col--md-9">
                    {% block summaryProductsInner %}
                        {% include molecule('selected-product-list', 'ConfigurableBundlePage') with {
                            class: 'spacing-top',
                            data: {
                                form: data.form,
                                products: data.products,
                                configurableBundleTemplateStorage: data.configurableBundleTemplateStorage,
                            },
                        } only %}

                        {% block summaryForm %}
                            <div class="grid grid--right">
                                {% include molecule('configurator-state-form', 'ConfigurableBundlePage') with {
                                    class: 'spacing-x col col--sm-2',
                                    data: {
                                        form: data.form.createView,
                                        submitButtonText: 'configurable_bundle_page.configurator.add_to_cart' | trans,
                                        submitButtonClass: 'button button--expand button--success',
                                        method: 'POST',
                                        action: path(
                                            'configurable-bundle/configurator/add-to-cart', {
                                                'idConfigurableBundleTemplate': data.configurableBundleTemplateStorage.idConfigurableBundleTemplate,
                                            }
                                        ),
                                    },
                                } only %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
