{% extends template('widget') %}

{% block body %}
    <form method="POST" action="{{ path('quote-request/create-quote-request') }}">
        <button type="submit" class="button button--expand">
            {{ 'quote-request.request-for-quote' | trans }}
        </button>
    </form>
{% endblock %}
