{% extends model('component') %}

{% define config = {
    name: 'configurator-sidebar',
    tag: 'ul',
} %}

{% define data = {
    form: required,
    configurableBundleTemplateStorage: required,
    isSeparateItemUnlocked: required,
    selectedSlotId: null,
    isSeparateItemActive: false,
} %}

{%- block extraClass %} spacing-left spacing-top{% endblock -%}

{% block body %}
    {% for configurableBundleTemplateSlotStorage in data.configurableBundleTemplateStorage.slots %}
        {% set slotClasses = '' %}

        {% block slotItem %}
            <li class="{{ slotClasses }}">
                {% block slotItemInner %}
                    {% include molecule('configurator-state-form', 'ConfigurableBundlePage') with {
                        data: {
                            form: data.form.createView,
                            submitButtonText: configurableBundleTemplateSlotStorage.name | trans,
                            idConfigurableBundleTemplateSlot: configurableBundleTemplateSlotStorage.idConfigurableBundleTemplateSlot,
                            selectedSlotId: data.selectedSlotId,
                            submitButtonClass: 'button button--expand button--big-spaces',
                            isExtraClass: true,
                            action: path(
                                'configurable-bundle/configurator/slots', {
                                    'idConfigurableBundleTemplate': data.configurableBundleTemplateStorage.idConfigurableBundleTemplate,
                                    'idConfigurableBundleTemplateSlot': configurableBundleTemplateSlotStorage.idConfigurableBundleTemplateSlot,
                                }
                            ),
                        },
                    } only %}
                {% endblock %}
            </li>
        {% endblock %}
    {% endfor %}
    {% block summary %}
        {% set summaryClasses = '' %}

        {% block item %}
            <li class="{{ summaryClasses }}">
                {% block itemInner %}
                    {% set buttonExtraClass = data.isSeparateItemActive ? ' button--active' : ' button--unselected' %}
                    {% set buttonClasses = 'button button--expand button--big-spaces' ~ buttonExtraClass %}

                    {% include molecule('configurator-state-form', 'ConfigurableBundlePage') with {
                        data: {
                            form: data.form.createView,
                            submitButtonText: 'configurable_bundle_page.configurator.summary' | trans,
                            isSubmitButtonActive: data.isSeparateItemUnlocked,
                            submitButtonClass: buttonClasses,
                            isSeparateItem: true,
                            action: path(
                                'configurable-bundle/configurator/summary', {
                                    'idConfigurableBundleTemplate': data.configurableBundleTemplateStorage.idConfigurableBundleTemplate,
                                }
                            ),
                        },
                    } only %}
                {% endblock %}
            </li>
        {% endblock %}
    {% endblock %}
{% endblock %}
