{% extends model('component') %}

{% define config = {
    name: 'label-group',
} %}

{% define data = {
    labels: [],
    productItemJsName: '',
}  %}

{% block body %}
    {% set leftColumnComponents = [] %}
    {% set rightColumnComponents = [] %}
    {% set labelClass = data.productItemJsName ? data.productItemJsName ~ '__label' %}
    {% set labelTextClass = data.productItemJsName ? data.productItemJsName ~ '__label-text' %}

    {% for label in data.labels %}
        {% set componentName = 'flag' %}
        {% set componentModifiers = [label.type] %}

        {% if label.type == 'template:tag' %}
            {% set componentName = 'tag' %}
            {% set componentModifiers = [] %}
        {% endif %}

        {% set component = include(
            [
                molecule(componentName, 'ProductLabelWidget')
            ],
            {
                class: labelClass,
                modifiers: componentModifiers,
                data: {
                    text: label.text,
                    additionalClass: labelTextClass,
                },
            },
            with_context = false
        ) %}

        {% if label.type == 'template:tag' %}
            {% set leftColumnComponents = leftColumnComponents | merge([component]) %}
        {% else %}
            {% set rightColumnComponents = rightColumnComponents | merge([component]) %}
        {% endif %}
    {% endfor %}

    <div class="grid grid--justify">
        {% if leftColumnComponents is not empty %}
            <div class="col col--expand">{{ leftColumnComponents | join | raw }}</div>
        {% else %}
            <div class="col col--expand">
                {% include molecule('tag', 'ProductLabelWidget') with {
                    class: labelClass ~ ' is-hidden',
                    data: {
                        additionalClass: labelTextClass,
                    },
                } only %}
            </div>
        {% endif %}

        {% if rightColumnComponents is not empty %}
            <div class="col col--expand text-right">{{ rightColumnComponents | join | raw }}</div>
        {% else %}
            <div class="col col--expand text-right">
                {% include molecule('flag', 'ProductLabelWidget') with {
                    class: labelClass ~ ' is-hidden',
                    data: {
                        additionalClass: labelTextClass,
                    },
                } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}
