{% extends model('component') %}

{% set config = {
    name: 'label-group',
    tag: 'div'
} | merge(config | default({})) %}

{% set data = {
    labels: data.labels | default([])
} | merge(data | default({})) %}

{% block body %}
    {% set leftColumnComponents = [] %}
    {% set rightColumnComponents = [] %}

    {% for label in data.labels %}
        {% set componentName = 'flag' %}

        {% if label.type == 'template:tag' %}
            {% set componentName = 'tag' %}
        {% endif %}

        {% set component = include(
            [
                molecule(componentName, 'ProductLabelWidget')
            ],
            {
                data: {
                    text: label.text
                }
            },
            with_context = false
        ) %}

        {% if label.type == 'template:tag' %}
            {% set leftColumnComponents = leftColumnComponents | merge([component]) %}
        {% else %}
            {% set rightColumnComponents = rightColumnComponents | merge([component]) %}
        {% endif %}
    {% endfor %}

    <div class="grid grid--justify">
        <div class="col col--expand">{{leftColumnComponents | join('<br/>') | raw}}</div>
        <div class="col col--expand text-right">{{rightColumnComponents | join('<br/>') | raw}}</div>
    </div>
{% endblock %}
