@mixin shop-ui-link($name: '.link') {
    #{$name} {
        display: inline-block;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: $setting-color-main;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        @each $action, $setting-color-action in $setting-color-actions {
            @include shop-ui-link-action($action, $setting-color-action);
        }

        &--small {
            @include helper-font-size(small);
        }

        &--alt {
            @include helper-effect-transition(color);

            &:hover {
                text-decoration: none;
                color: helper-color-dark($setting-color-alt);
            }
        }

        &[disabled],
        &--disabled {
            color: $setting-color-dark;
            cursor: not-allowed;

            &:hover {
                color: $setting-color-dark;
                text-decoration: none;
            }
        }

        @content;
    }
}

@mixin shop-ui-link-action($action, $setting-color-action) {
    &--#{$action} {
        color: $setting-color-action;
    }

    @content;
}
