{% extends template('widget') %}

{% define data = {
    configuredBundle: _widget.configuredBundle
} %}

{% block body %}
    <div class="form">
        {{ 'cart_note.checkout_page.item_note' | trans }}: {{ data.configuredBundle.cartNote }}
    </div>
{% endblock %}
