{% extends template('widget') %}

{% define data = {
    salesOrderConfiguredBundle: _widget.salesOrderConfiguredBundle
} %}

{% block body %}
    <div class="form">
        {{ 'cart_note.checkout_page.item_note' | trans }}: {{ data.salesOrderConfiguredBundle.cartNote }}
    </div>
{% endblock %}
