{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    orders: _view.orderList,
    isOrderSearchEnabled: _view.isOrderSearchEnabled,
    isOrderSearchOrderItemsVisible: _view.isOrderSearchOrderItemsVisible,

    pagination: {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'customer/order',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true
    },

    title: 'customer.account.order_history' | trans,
    activePage: 'order'
} %}

{% block customerContent %}
    <div class="box">
        <h5>{{ 'customer.order.all_orders' | trans }}</h5>
        <hr>
        {% include molecule('order-table', 'CustomerPage') with {
            data: {
                orders: data.orders,
                isOrderSearchEnabled: data.isOrderSearchEnabled,
                isOrderSearchOrderItemsVisible: data.isOrderSearchOrderItemsVisible
            }
        } only %}
        <hr>
        {% include molecule('pagination') with {
            data: data.pagination
        } only %}
    </div>
{% endblock %}
