{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    orders: _view.orderList,
    isOrderSearchEnabled: _view.isOrderSearchEnabled,
    isOrderSearchOrderItemsVisible: _view.isOrderSearchOrderItemsVisible,
    orderSearchForm: _view.orderSearchForm | default(null),

    pagination: {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'customer/order',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true,
    },

    title: 'customer.account.order_history' | trans,
    activePage: 'order',
} %}

{% set jsPrefix = 'js-order-' %}

{% block customerContent %}
    <div class="box">
        <h5>{{ 'customer.order.all_orders' | trans }}</h5>

        {% if (data.orderSearchForm) %}
            {{ form_start(data.orderSearchForm) }}

            {% include molecule('order-filters', 'CustomerPage') with {
                data: {
                    orderSearchForm: data.orderSearchForm,
                    jsPrefix: jsPrefix,
                },
            } only %}

            {% include molecule('order-active-filters', 'CustomerPage') with {
                data: {
                    orderSearchForm: data.orderSearchForm,
                    jsPrefix: jsPrefix,
                },
            } only %}
        {% endif %}

        {% include molecule('order-table', 'CustomerPage') with {
            data: {
                orders: data.orders,
                orderSearchForm: data.orderSearchForm,
                isOrderSearchEnabled: data.isOrderSearchEnabled,
                isOrderSearchOrderItemsVisible: data.isOrderSearchOrderItemsVisible,
                jsPrefix: jsPrefix,
            }
        } only %}

        <hr>
        {% include molecule('pagination') with {
            data: data.pagination
        } only %}

        {% if (data.orderSearchForm) %}
            {{ form_end(data.orderSearchForm) }}
        {% endif %}
    </div>
{% endblock %}
