{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    title: 'page.multi_cart.shopping_cart.list.title' | trans,
    backUrl: app.request.headers.get('referer') | default(url('multi-cart')),
    activePage: 'multiCart'
} %}

{% block title %}
    <h3>{{ data.title }}</h3>
{% endblock %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans
            }]
        }
    } only %}
{% endblock %}
