{% if _widget.promotionProducts|length > 0 %}
    <div class="small-12 columns">
        <h1> {{ 'cart.promotion.items' | trans }}</h1>
        {% for product in _widget.promotionProducts %}
            {% include '@DiscountPromotionWidget/_cart-page/_partials/item.twig' %}
        {% endfor %}
    </div>
{% endif %}
