{% extends template('widget') %}

{% define data = {
    template: _widget.template,
    isComplete: _widget.isComplete,
    rawData: _widget.rawData
} %}


{% block body %}
    <div>
        {% if data.template.path and data.template.data is defined %}
            {% include data.template.path with {'data': data.template.data} only %}
        {% else %}
            {{ data.rawData }}
        {% endif %}
    </div>
    <div>
        {% if data.isComplete %}
            Complete
        {% else %}
            Not Complete
        {% endif %}
    </div>
{% endblock %}
