{% extends template('widget') %}

{% define data = {
    product: _widget.product,
} %}

{% block body %}
    <div class="col col--sm-12 col--md-6 col--lg-4">
        {% include molecule('product-item') with {
            data: {
                product: data.product,
                sku: '',
            },
        } only %}
    </div>
{% endblock %}
