{% extends model('component') %}

{% define config = {
    name: 'subtotal-price',
} %}

{% define data = {
    amount: required,
    currencyIsoCode: null,
    title: 'customer.account.shopping_list.subtotal' | trans,
} %}

{% block body %}
    <div class="grid grid--justify">
        {% block content %}
            {% set titleClasses = 'col' %}
            {% set priceClasses = 'col' %}

            {% block title %}
                <div class="title--h6 {{ titleClasses }}">
                    {{- data.title -}}
                </div>
            {% endblock %}

            {% block price %}
                {% include molecule('money-price') with {
                    class: priceClasses,
                    data: {
                        amount: data.amount,
                        currencyIsoCode: data.currencyIsoCode,
                    },
                } only %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
