@mixin shopping-list-widget-subtotal-price($name: '.subtotal-price') {
    #{$name} {
        background-color: $setting-color-lighter;

        @content;
    }
}

/**
 * @deprecated use shopping-list-widget-subtotal-price mixin instead.
 */
@mixin shopping-list-subtotal-price($name: '.subtotal-price') {
    @include shopping-list-widget-subtotal-price();

    #{$name} {
        @content;
    }
}
