{% extends template('page-layout-main') %}

{% define data = {
    title: 'configurable_bundle_page.configurator' | trans,
    form: _view.form,
    configurableBundleTemplateStorage: _view.configurableBundleTemplateStorage,
    selectedSlotId: _view.selectedSlotId | default(null),
    productConcreteCriteriaFilter: _view.productConcreteCriteriaFilter | default(null),
    selectedProduct: _view.selectedProduct | default(null),
    isSummaryPageUnlocked: _view.isSummaryPageUnlocked | default(false),
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'configurable_bundle_page.template_selection' | trans,
                url: path('configurable-bundle/configurator/template-selection'),
                withChevron: false,
            }],
        },
    } only %}
{% endblock %}

{% block content %}
    <div class="grid grid--stretch">
        {% block configuratorContent %}
            {% block configuratorSidebar %}
                <div class="col col--sm-12 col--md-3">
                    {% block configuratorSidebarInner %}
                        {% include molecule('configurator-sidebar', 'ConfigurableBundlePage') with {
                            data: {
                                form: data.form,
                                configurableBundleTemplateStorage: data.configurableBundleTemplateStorage,
                                isSeparateItemUnlocked: data.isSummaryPageUnlocked,
                                selectedSlotId: data.selectedSlotId,
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block configuratorProducts %}
                {% set wrapperClasses = data.selectedSlotId ? 'col col--sm-12 col--md-9' : 'grid grid--middle grid--center col col--save-spaces col--expand box' %}

                {% block configuratorProductsInner %}
                    <div class="{{ wrapperClasses }}">
                        {% block slotProducts %}
                            {% if data.selectedSlotId and data.selectedProduct %}
                                {% block configuratorSelectedItem %}
                                    {% include molecule('configurator-product', 'ConfigurableBundlePage') with {
                                        data: {
                                            product: data.selectedProduct,
                                            form: data.form.createView,
                                            selectedSlotId: data.selectedSlotId,
                                            name: data.selectedProduct.name,
                                            isSelected: true,
                                        },
                                    } only %}
                                {% endblock %}
                            {% endif %}

                            {% if data.selectedSlotId %}
                                {% block configuratorUnselectedProducts %}
                                    {% widget 'ProductConcreteSearchGridWidget' args [data.productConcreteCriteriaFilter] %}
                                        {% block body %}
                                            {% for product in data.products %}
                                                {% set form = data.form.createView %}

                                                {% if not data.form.slots[data.selectedSlotId] is defined or form.slots[data.selectedSlotId].vars.value.sku != product.sku %}
                                                    {% include molecule('configurator-product', 'ConfigurableBundlePage') with {
                                                        data: {
                                                            product: product,
                                                            form: form,
                                                            selectedSlotId: data.selectedSlotId,
                                                        },
                                                    } only %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if data.products is empty %}
                                                <p>{{ 'product_search_widget.search.no_results' | trans }}</p>
                                            {% endif %}
                                        {% endblock %}
                                    {% endwidget %}
                                {% endblock %}
                            {% endif %}

                            {% if not data.selectedSlotId %}
                                {% block chooseSlotMessage %}
                                    <div class="col col--sm-12 col--md-5">
                                        {% block chooseSlotMessageInner %}
                                            {% block chooseSlotMessageTitle %}
                                                <h5 class="text-center">{{ 'configurable_bundle_page.configurator.tip.header' | trans }}</h5>
                                            {% endblock %}

                                            {% block chooseSlotMessageText %}
                                                <p class="text-center">{{ 'configurable_bundle_page.configurator.tip.text' | trans }}</p>
                                            {% endblock %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
