{% extends template('page-layout-main') %}

{% define data = {
    title: 'configurable_bundle_page.configurator' | trans,
    form: _view.form,
    configurableBundleTemplateStorage: _view.configurableBundleTemplateStorage,
    selectedSlotId: _view.selectedSlotId | default(null),
    productConcreteCriteriaFilter: _view.productConcreteCriteriaFilter | default(null),
    selectedProduct: _view.selectedProduct | default(null),
    isSummaryPageUnlocked: _view.isSummaryPageUnlocked | default(false),
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'configurable_bundle_page.template_selection' | trans,
                url: path('configurable-bundle/configurator/template-selection'),
                withChevron: false,
            }],
        },
    } only %}
{% endblock %}

{% block content %}
    <div class="grid grid--stretch">
        {% block configuratorContent %}
            {% block configuratorSidebar %}
                <div class="col col--sm-12 col--md-3">
                    {% block configuratorSidebarInner %}
                        {% include molecule('configurator-sidebar', 'ConfigurableBundlePage') with {
                            data: {
                                form: data.form,
                                configurableBundleTemplateStorage: data.configurableBundleTemplateStorage,
                                isSeparateItemUnlocked: data.isSummaryPageUnlocked,
                                selectedSlotId: data.selectedSlotId,
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block configuratorProducts %}
                {% set wrapperClasses = data.selectedSlotId ? 'col col--sm-12 col--md-9' : 'grid grid--middle grid--center col col--save-spaces col--expand box' %}

                {% block configuratorProductsInner %}
                    <div class="{{ wrapperClasses }}">
                        {% if data.selectedSlotId and data.selectedProductConcrete %}
                            {% include molecule('configurator-product', 'ConfigurableBundlePage') ignore missing with {
                                data: {
                                    product: data.selectedProductConcrete,
                                    form: data.form.createView,
                                    selectedSlotId: data.selectedSlotId,
                                    name: data.selectedProductConcrete.localizedAttributes[0].name,
                                    isSelected: true,
                                },
                            } only %}
                        {% endif %}

                        {% if data.selectedSlotId %}
                            {% widget 'ProductConcreteSearchGridWidget' args [data.productConcreteCriteriaFilter] %}
                                {% block body %}
                                    {% for product in data.products %}
                                        {% include molecule('configurator-product', 'ConfigurableBundlePage') ignore missing with {
                                            data: {
                                                product: product,
                                                form: data.form.createView,
                                                selectedSlotId: data.selectedSlotId,
                                            },
                                        } only %}
                                    {% endfor %}

                                    {% if data.products is empty %}
                                        <p>{{ 'product_search_widget.search.no_results' | trans }}</p>
                                    {% endif %}
                                {% endblock %}
                            {% endwidget %}
                        {% endif %}

                        {% if not data.selectedSlotId %}
                            {% block chooseSlotMessage %}
                                <div class="col col--sm-12 col--md-5">
                                    {% block chooseSlotMessageInner %}
                                        {% block chooseSlotMessageTitle %}
                                            <h5 class="text-center">{{ 'configurable_bundle_page.configurator.tip.header' | trans }}</h5>
                                        {% endblock %}

                                        {% block chooseSlotMessageText %}
                                            <p class="text-center">{{ 'configurable_bundle_page.configurator.tip.text' | trans }}</p>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
