{% extends model('component') %}

{% set config = {
    name: 'breadcrumb-step',
    tag: 'li'
} | merge(config | default({})) %}

{% set data = {
    url: data.url | default(null),
    label: data.label | default(null),
    itemProp: data.itemProp | default(null),
    withChevron: data.withChevron | default(true)
} | merge(data | default({})) %}

{% set isLink = data.url is not empty %}

{% block body %}
    {% if isLink %}<a href="{{data.url}}">{% endif %}
    {% if data.itemProp %}<span itemprop="{{data.itemProp}}">{% endif %}
    {{data.label}}
    {% if data.itemProp %}</span>{% endif %}
    {% if isLink %}</a>{% endif %}
    
    {% if data.withChevron %}
        {% include atom('icon') with {
            modifiers: ['small'],
            class: config.name ~ '__separator',
            data: {
                name: 'angle-double-right'
            }
        } only %}
    {% endif %}
{% endblock %}
