@mixin shop-ui-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: inline-block;

        &__separator {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            color: $setting-color-light;
        }

        &--active {
            @include helper-font-weight(bold);
        }

        &--disabled:not(&--active) {
            color: $setting-color-dark;
        }

        @content;
    }
}
