@mixin component-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: inline-block;

        &__separator {
            margin-left: spacing(.5);
            margin-right: spacing(.5);
        }

        @content
    }
}
