@mixin component-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: inline-block;

        &:not(:first-child)::before {
            content: '>';
            margin: spacing();
        }
    }
}
