@mixin component-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: inline-block;

        &__separator {
            margin-left: spacing(.5);
            margin-right: spacing(.5);
            color: $color-light;
        }

        &--active {
            @include font-weight(bold);
        }

        &--disabled:not(&--active) {
            color: $color-dark;
        }

        @content
    }
}
