@mixin shopping-list-page-shopping-list-overview-table($name: '.shopping-list-overview-table') {
    #{$name} {
        &__name {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        @content;
    }
}
