{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    users: _view.companyUserCollection,
    currentCompanyUserId: _view.currentCompanyUser.idCompanyUser,

    pagination: {
        parameters: {},
        currentPage: _view.pagination.page,
        paginationPath: 'company/user',
        maxPage: _view.pagination.lastPage,
        showAlwaysFirstAndLast: true
    },

    title: 'company.account.company_user' | trans,
    activePage: 'users',
    currentBreadcrumb: 'company.account.company_user'
} %}

{% block companyContent %}
    <div class="box grid grid--right">
        {% include molecule('invitation-link', 'CompanyUserInvitationPage') ignore missing with {
            class: 'col spacing-right'
        } only %}

        {% if can('AddCompanyUserPermissionPlugin') %}
            <div class="col">
                <a class="button" href="{{url('company/user/create')}}">{{ 'company.account.company_user.add' | trans }}</a>
            </div>
        {%  endif %}
    </div>

    {% if data.users is not empty %}
        <div class="box">
            {% include molecule('user-table', 'CompanyPage') with {
                data: {
                    users: data.users,
                    currentCompanyUserId: data.currentCompanyUserId,
                    actions: {
                        update: true,
                        delete: true
                    }
                }
            } only %}
            <hr class="box__separator">
            {% include molecule('pagination') with {
                data: data.pagination
            } only %}
        </div>
    {% endif %}
{% endblock %}
