{# @deprecated Use view "error404" instead. #}
{% extends template('page-layout-main') %}

{% define data = {
    error: error
} %}

{% block content %}
    <div class="box">
        <h1>ERROR 404</h1>
        <p>{{ data.error }}</p>
    </div>
{% endblock %}
