{% extends model('component') %}

{% define config = {
    name: 'return-create-link',
} %}

{% define data = {
    idSalesOrder: required,
} %}

{% block body %}
        <a href="{{ path('sales-return-page/create', { idSalesOrder: (data.idSalesOrder)}) }}" class="button button--expand">
            {% block content %}
                {{ 'sales_return_page.button.create_return' | trans }}
            {% endblock %}
        </a>
{% endblock %}
