{% extends model('component') %}

{% define config = {
    name: 'share-list',
} %}

{% define data = {
    shareUnits: required,
    shareForm: required,
} %}

{% set hasSharedUnit = false %}
{% set hasNotSharedUnit = false %}

{% for unit in data.shareUnits if not hasSharedUnit or not hasNotSharedUnit %}
    {% if unit.idShoppingListPermissionGroup is not null %}
        {% set hasSharedUnit = true %}
    {% else %}
        {% set hasNotSharedUnit = true %}
    {% endif %}
{% endfor %}

{% block body %}
    {% if hasSharedUnit %}
        {% block sharedUnit %}
            <div class="box">
                {% block sharedUnitList %}
                    <ul class="{{ config.name }}__list">
                        {% block sharedUnitListInner %}
                            {% for key, unit in data.shareUnits if unit.idShoppingListPermissionGroup is not null %}
                                {% block shareListItemContainer %}
                                    {% set shareListItemClasses = 'spacing-y spacing-y--inner' %}
                                    {% set user = unit.companyUser is defined ?
                                        unit.companyUser.customer.firstName ~ ' '
                                        ~ unit.companyUser.customer.lastName ~ ' ('
                                        ~ unit.companyUser.companyBusinessUnit.name ~ ')' :
                                        unit.companyBusinessUnit.name
                                    %}

                                    {% block shareListItem %}
                                        {% include molecule('share-list-item', 'ShoppingListPage') with {
                                            class: shareListItemClasses,
                                            data: {
                                                name: user,
                                                shareForm: data.shareForm[key],
                                            },
                                        } only %}
                                    {% endblock %}
                                {% endblock %}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}

    {% if hasNotSharedUnit %}
        {% block notSharedUnit %}
            <div class="box">
                {% block notSharedUnitList %}
                    <ul class="{{ config.name }}__list">
                        {% block notSharedUnitListInner %}
                            {% for key, unit in data.shareUnits if unit.idShoppingListPermissionGroup is null %}
                                {% block notShareListItem %}
                                    {{ block('shareListItemContainer') }}
                                {% endblock %}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
