@mixin configurable-bundle-widget-readonly-bundled-note($name: '.readonly-bundled-note') {
    #{$name} {
        &__title {
            font-size: map-get($setting-font-size, 'small');
        }

        @content;
    }
}
