{% extends model('component') %}

{% define config = {
    name: 'order-detail-item-details',
} %}

{% define data = {
    orderItem: required,
} %}

{% set wrapperClass = 'grid grid--justify' %}
{% set merchantColumnClass = 'spacing-right spacing-right--inner col col--sm-8' %}
{% set stateColumnClass = 'spacing-left spacing-left--inner col col--sm-4 text-right' %}

{% block body %}
    <div class="{{ wrapperClass }}">
        {% block merchantColumn %}
            <span class="{{ merchantColumnClass }}">
                {% widget 'ProductOfferSoldByMerchantWidget' args [data.orderItem] only %}{% endwidget %}
            </span>
        {% endblock %}

        {% block stateColumn %}
            <span class="{{ stateColumnClass }}">
                {% if data.orderItem.state is not null %}
                    {% set state = data.orderItem.state.name | replace({' ': '-'}) | lower %}
                    {% set stateLabel = data.orderItem.state.displayName ?? ('oms.state.' ~ state) %}

                    {% block state %}
                        {% include molecule('status') with {
                            data: {
                                label: stateLabel | trans,
                                status: state,
                            },
                        } only %}
                    {% endblock %}
                {% endif %}
            </span>
        {% endblock %}
    </div>
{% endblock %}
