{% extends model('component') %}

{% define config = {
    name: 'order-detail-item-details',
} %}

{% define data = {
    orderItem: required,
} %}

{% block body %}
    <div class="grid grid--justify">
        <span class="spacing-right col col--sm-9">
            {% if widgetGlobalExists('ProductOfferSoldByMerchantWidget') %}
                {% widget 'ProductOfferSoldByMerchantWidget' args [data.orderItem] only %}{% endwidget %}
            {% elseif widgetGlobalExists('ProductSoldByMerchantWidget') %}
                {% widget 'ProductSoldByMerchantWidget' args [data.orderItem] only %}{% endwidget %}
            {% endif %}
        </span>
        <span class="spacing-right col col--sm-3 text-right">
            {% if data.orderItem.state is not empty %}
                <p>
                    <strong>{{ data.orderItem.state.name | capitalize }}</strong>
                </p>
            {% endif %}
        </span>
    </div>
{% endblock %}
