{# @var state \Generated\Shared\Transfer\ItemStateTransfer #}

{% extends model('component') %}

{% define config = {
    name: 'order-detail-item-details',
} %}

{% define data = {
    orderItem: required,
} %}

{% set wrapperClass = 'grid grid--justify' %}
{% set merchantColumnClass = 'spacing-right spacing-right--inner col col--expand' %}
{% set stateColumnClass = 'spacing-left spacing-left--inner col text-right' %}

{% block body %}
    <div class="{{ wrapperClass }}">
        {% block merchantColumn %}
            <span class="{{ merchantColumnClass }}">
                {% widget 'SoldByMerchantWidget' args [data.orderItem] only %}
                {% elsewidget 'ProductOfferSoldByMerchantWidget' args [data.orderItem] only %}
                {% elsewidget 'ProductSoldByMerchantWidget' args [data.orderItem] only %}
                {% endwidget %}
            </span>
        {% endblock %}

        {% block stateColumn %}
            <span class="{{ stateColumnClass }}">
                {% set state = data.orderItem.state %}

                {% if state %}
                    {% block state %}
                        {% include molecule('status') with {
                            modifiers: ['text-bold'],
                            class: 'spacing-top',
                            data: {
                                label: state.displayName | trans,
                                status: state.name | replace({' ': '-'}) | lower,
                            },
                        } only %}
                    {% endblock %}
                {% endif %}
            </span>
        {% endblock %}
    </div>

    {% block additionalInfo %}
        {% widget 'SspServiceChangeScheduledTimeLinkWidget' args [data.orderItem] only %}{% endwidget %}
    {% endblock %}
{% endblock %}
