{% extends model('component') %}

{% define config = {
    name: 'order-detail-item-details',
} %}

{% define data = {
    orderItem: required,
} %}

{% set wrapperClass = 'grid grid--justify' %}
{% set merchantColumnClass = 'spacing-right spacing-right--inner col col--sm-8' %}
{% set stateColumnClass = 'spacing-left spacing-left--inner col col--sm-4 text-right' %}

{% block body %}
    <div class="grid grid--justify">
        <span class="spacing-right col col--sm-9">
            {% if widgetGlobalExists('ProductOfferSoldByMerchantWidget') %}
                {% widget 'ProductOfferSoldByMerchantWidget' args [data.orderItem] only %}{% endwidget %}
            {% elseif widgetGlobalExists('ProductSoldByMerchantWidget') %}
                {% widget 'ProductSoldByMerchantWidget' args [data.orderItem] only %}{% endwidget %}
            {% endif %}
        </span>
        <span class="spacing-right col col--sm-3 text-right">
            {% if data.orderItem.state is not empty %}
                {% block state %}
                    <p>
                        <strong>
                            {% include molecule('status') with {
                                data: {
                                    label: data.orderItem.state.displayName | trans,
                                    status: data.orderItem.state.name | replace({' ': '-'}) | lower,
                                },
                            } only %}
                        </strong>
                    </p>
                {% endblock %}
            {% endif %}
        </span>
    </div>
{% endblock %}
