@mixin catalog-page-filter-category($name: '.filter-category') {
    #{$name} {
        &__category-toggle-button {
            @include helper-effect-transition(transform);
            margin-right: map-get($setting-spacing, 'small');

            &--collapsed {
                transform: rotate(-90deg);
            }
        }

        &__category-target {
            @include helper-effect-transition(grid-template-rows);
            display: grid;
            grid-template-rows: 1fr;

            &--hidden {
                grid-template-rows: 0fr;
            }
        }

        &__category-target-inner {
            overflow: hidden;
        }

        &__category-row {
            &--no-children {
                margin-left: 1.25rem;
            }
        }

        &__menu-item &__menu-item {
            font-size: map-get($setting-font-size, 'small');
        }

        @content;
    }
}
