{% extends template('widget') %}

{% define data = {
    isOnBehalf: _widget.isOnBehalf,
    companyName: _widget.companyName,
    companyBusinessUnitName: _widget.companyBusinessUnitName
} %}

{# TODO: Add missing links when controller is created #}

{% block template %}
    {% if data.isOnBehalf and data.companyName is not empty and data.companyBusinessUnitName is not empty %}
        {{parent()}}
    {% else %}
        <a href="">{{ 'business_on_behalf_widget.no_selected_company' | trans }}</a>
    {% endif %}
{% endblock %}

{% block body %}
    <a href="">{{ data.companyName }} / {{ data.companyBusinessUnitName }}</a>
{% endblock %}