@mixin shop-ui-password-complexity-indicator($name: '.password-complexity-indicator') {
    #{$name} {
        &__indicator-item {
            display: inline-block;
            width: 3.125rem;
            height: 0.25rem;
            border-radius: 0.125rem;
            margin-right: 0.3125rem;
            background: $setting-color-lighter;
        }

        &__indicator-list {
            @include shop-ui-password-complexity-indicator-items(
                    1,
                    map-get($setting-color-actions, alert),
                    $name,
                    weak
                );

            @include shop-ui-password-complexity-indicator-items(
                    2,
                    map-get($setting-color-actions, warning),
                    $name,
                    medium
                );

            @include shop-ui-password-complexity-indicator-items(
                    3,
                    map-get($setting-color-actions, success),
                    $name,
                    strong
                );

            @include shop-ui-password-complexity-indicator-items(
                    4,
                    map-get($setting-color-actions, success),
                    $name,
                    very-strong
                );
        }

        &__message {
            display: inline-block;
            vertical-align: middle;
        }

        &__additional-message {
            display: none;

            &--weak,
            &--medium,
            &--strong {
                display: block;
            }
        }

        @content;
    }
}

@mixin shop-ui-password-complexity-indicator-items($length, $color, $name, $modifier) {
    &--#{$modifier} {
        color: $color;

        #{$name} {
            &__indicator-item {
                @for $i from 1 through $length {
                    &:nth-child(#{$i}) {
                        background-color: $color;
                    }
                }
            }

            &__message {
                &::before {
                    content: attr(data-#{$modifier});
                }
            }
        }

        @content;
    }
}
