@mixin shop-ui-password-complexity-indicator($name: '.password-complexity-indicator') {
    #{$name} {
        &__indicator-item {
            display: inline-block;
            width: 3.125rem;
            height: 0.25rem;
            border-radius: 0.125rem;
            margin-right: 0.3125rem;
            background: $setting-color-lighter;
        }

        @content;
    }
}
