{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    title: _view.shoppingList.name,
    form: _view.shoppingListForm,
    shoppingListCollection: _view.shoppingListCollection,
    idShoppingList: _view.idShoppingList,
    shoppingListResponse: _view.shoppingListResponse
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.account' | trans,
            },{
                label: 'customer.account.shopping_list' | trans,
            }]
        }
    } only %}
{% endblock %}

{% block customerNavigation %}
    {{ widgetGlobal('CustomerNavigationWidgetPlugin', 'shoppingList', data.idShoppingList) }}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'customer.account.shopping_list.overview.edit' | trans,
                form: data.form,
                submit: {
                    enable: true,
                    text: 'forms.submit-btn' | trans
                },
                cancel: {
                    enable: true,
                    url: url('shopping-list'),
                    text: 'general.back.button' | trans
                }
            }
        } only %}
    </div>
{% endblock %}
