{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    form: _view.shoppingListForm,
    shoppingListCollection: _view.shoppingListCollection,
    idShoppingList: _view.idShoppingList,
    shoppingListResponse: _view.shoppingListResponse
} %}

{% block customerNavigation %}
    {% embed molecule('customer-navigation', 'CustomerPage') with {
        class: 'box',
        data: {
            activePage: data.activePage
        },
        embed: {
            shoppingListCollection: data.shoppingListCollection,
            activeShoppingListId: data.idShoppingList
        }
    } only %}
        {% block shoppingListNavigation %}
            {% include molecule('shopping-list-navigation', 'ShoppingListPage') with {
                data: {
                    shoppingListCollection: embed.shoppingListCollection,
                    activeShoppingListId: embed.activeShoppingListId
                }
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% include molecule('form') with {
            data: {
                title: 'customer.account.shopping_list.overview.edit' | trans,
                form: data.form,
                submit: {
                    enable: true,
                    text: 'forms.submit-btn' | trans
                },
                cancel: {
                    enable: true,
                    url: url('shopping-list'),
                    text: 'general.back.button' | trans
                }
            }
        } only %}
    </div>
{% endblock %}
