{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <div class="box box--alert">
        {{ 'cms.preview.access_denied' | trans }}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
