{% extends template('widget') %}

{% define data = {
    options: _widget.item.productOptions ?? null
} %}

{% block template %}
    {% if data.options is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    <ul class="list list--expand">
        {% for option in data.options %}
            <li class="list__item">
                <strong>{{ option.groupName | trans }}:</strong> {{ option.value | trans }}
                <span>{{ option.unitGrossPrice | money }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
