{% extends model('component') %}

{% define config = {
    name: 'cart-items-list',
    tag: 'cart-items-list',
} %}

{% define data = {
    cart: required,
    cartItems: [],
    isQuoteEditable: false,
    attributes: [],
    isUpsellingProductsViaAjaxEnabled: false,
    ajaxTriggerAttribute: null,
} %}

{% define attributes = {
    'provider-class-name': 'js-' ~ config.name ~ '__ajax-provider',
} %}

{% block body %}
    {% if data.isUpsellingProductsViaAjaxEnabled is not empty %}
        {% include molecule('ajax-provider') with {
            class: attributes['provider-class-name'],
            attributes: {
                'fetch-on-load': true,
                url:  path('cart/get-cart-items'),
            },
        } only %}

        {% include molecule('ajax-loader') with {
            modifiers: ['big', 'dynamic'] | merge(data.ajaxTriggerAttribute ? ['viewport-centered'] : []),
            attributes: {
                'provider-class-name': attributes['provider-class-name'],
            },
        } only %}

        {% include molecule('ajax-renderer') with {
            attributes: {
                'provider-class-name': attributes['provider-class-name'],
                'target-class-name': config.jsName ~ '__container',
                'mount-after-render': true,
            },
        } only %}

        <div class="box {{ config.name }}__container {{ config.jsName }}__container"></div>
    {% endif %}

    {% if data.isUpsellingProductsViaAjaxEnabled is empty %}
        {% block staticUpsellingProducts %}
            <div {% if data.ajaxTriggerAttribute %}class="box"{% endif %}>
                {% include molecule('product-cart-items-list', 'CartPage') with {
                    data: {
                        cart: data.cart,
                        cartItems: data.cartItems,
                        isQuoteEditable: data.isQuoteEditable,
                        attributes: data.attributes,
                        ajaxTriggerAttribute: data.ajaxTriggerAttribute,
                    },
                } only %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
