{% extends model('component') %}

{% define config = {
    name: 'quote-request-shipment-information',
} %}

{% define data = {
    shipment: required,
    showAddress: false,
} %}

{% block body %}
    <div class="box">
        {% include molecule('delivery-information', 'CustomerPage') ignore missing with {
            data: {
                carrierName: data.method.carrierName,
                methodName: data.method.name,
                storeCurrencyPrice: data.method.storeCurrencyPrice,
                currencyIsoCode: data.method.currencyIsoCode,
            },
        } only %}

        {% if data.showAddress %}
            <hr class="box__separator spacing-y spacing-y--big">
            <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
            <hr>

            {% embed molecule('display-address') with {
                data: {
                    address: data.shippingAddress,
                },
            } only %}
                {% block addressBadgeLabel %}{% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}
