{% extends model('component') %}

{% define config = {
    name: 'quote-request-shipment-information',
} %}

{% define data = {
    shipment: required,
    showAddress: false,
    priceMode: null,
} %}

{% block body %}
    <div class="box">
        {% if data.shipment.method %}
            <div class="grid grid--justify">
                {% include molecule('delivery-method-information', 'CustomerPage') ignore missing with {
                    class: 'col',
                    data: {
                        method: data.shipment.method,
                        priceMode: data.priceMode,
                    },
                } only %}

                <div class="col col--sm-12 col--lg-4">
                    {% block actions %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}

        {% if data.showAddress %}
            <hr class="box__separator spacing-y spacing-y--big">
            <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
            <hr>

            {% embed molecule('display-address') with {
                data: {
                    address: data.shipment.shippingAddress,
                },
            } only %}
                {% block addressBadgeLabel %}{% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}
