{% extends model('component') %}

{% define config = {
    name: 'quote-request-shipment-information',
} %}

{% define data = {
    shipment: required,
    hasMultiShipments: false,
    priceMode: null,
} %}

{% block body %}
    {% block titleWrapper %}
        {% if not data.hasMultiShipments %}
            {% set classTitleShipmentMethod = 'spacing-x spacing-top spacing-top--big' %}

            {% block title %}
                <h4 class="{{ classTitleShipmentMethod }}">
                    {{ 'quote_request_page.quote_request.title_shipment_method' | trans }}
                </h4>
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block shipmentInformationWrapper %}
        <div class="box">
            {% block shipmentInformation %}
                {% if data.shipment.method is defined and data.shipment.method %}
                    {% block shipmentMethod %}
                        <div class="grid grid--justify">
                            {% include molecule('delivery-information', 'CustomerPage') ignore missing with {
                                class: 'col',
                                data: {
                                    carrierName: data.shipment.method.carrierName,
                                    methodName: data.shipment.method.name,
                                    storeCurrencyPrice: data.shipment.method.storeCurrencyPrice,
                                    currencyIsoCode: data.shipment.method.currencyIsoCode,
                                    priceMode: data.priceMode,
                                    sourcePrice: data.shipment.method.sourcePrice,
                                },
                            } only %}

                            <div class="col col--sm-12 col--lg-4">
                                {% block actions %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                {% if data.hasMultiShipments %}
                    {% block shipmentAddress %}
                        {% block shipmentAddressSeparator1 %}
                            <hr class="box__separator spacing-y spacing-y--big">
                        {% endblock %}

                        {% block shipmentAddressTitle %}
                            <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
                        {% endblock %}

                        {% block shipmentAddressSeparator2 %}
                            <hr>
                        {% endblock %}

                        {% block shipmentAddressInner %}
                            {% embed molecule('display-address') with {
                                data: {
                                    address: data.shipment.shippingAddress,
                                },
                            } only %}
                                {% block addressBadgeLabel %}{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endblock %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
