{% extends model('component') %}

{% define config = {
    name: 'quote-request-shipment-information',
} %}

{% define data = {
    shipment: required,
    showAddress: false,
} %}

{% block body %}
    <div class="box">
{#        {% include molecule('delivery-information', 'CustomerPage') ignore missing with {#}
{#            data: {#}
{#                carrierName: data.shipment.method.carrierName,#}
{#                methodName: data.shipment.method.name,#}
{#                storeCurrencyPrice: data.shipment.method.storeCurrencyPrice,#}
{#                currencyIsoCode: data.shipment.method.currencyIsoCode,#}
{#            },#}
{#        } only %}#}

        {% if data.showAddress %}
            <hr class="box__separator spacing-y spacing-y--big">
            <h6>{{ 'checkout.step.summary.delivery_address' | trans }}</h6>
            <hr>

            {% embed molecule('display-address') with {
                data: {
                    address: data.shipment.shippingAddress,
                },
            } only %}
                {% block addressBadgeLabel %}{% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}
