{% extends "@CompanyPage/layout.twig" %}

{% block title %}
    <h3>{{ 'company.account.overview' | trans }}</h3>
{% endblock %}

{% block companyNavigation %}
    {% include "@CompanyPage/partials/navigation.twig" with {'active': 'overview'} %}
{% endblock %}

{% block companyContent %}
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h5>{{ 'company.account.overview' | trans }}</h5>
                <hr>
                <p>{{ 'Company Information' | trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
