{% extends model('component') %}

{% define config = {
    name: 'product-set'
} %}

{% define data = {
    products: data.views,
    name: data.set.name,
    description: data.set.description,
    images: data.set.imageSets.0.images | default([])
} %}

{% block body %}
    {% if data.idProductConcrete is not empty and not data.isAvailable %}
        <p class="text-alert">{{ "product.detail.out_of_stock" | trans }}</p>
    {% endif %}
{% endblock %}
