{% extends template('widget') %}

{% define data = {
    languages: _widget.languages,
    currentLanguage: _widget.currentLanguage,
    schemeAndHttpHost: app.request.getSchemeAndHttpHost(),
} %}

{% block body %}
    {% if data.languages is not empty %}
        <form method="GET" action="">
            {% embed atom('select') with {
                modifiers: ['naked'],
                attributes: {
                    'onchange': 'this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);'
                },
                embed: {
                    languages: data.languages,
                    currentLanguage: data.currentLanguage,
                    schemeAndHttpHost: data.schemeAndHttpHost,
                },
            } only %}
                {% block options %}
                    {% for language, url in embed.languages %}
                        {% set selectedOption = (language == embed.currentLanguage) ? 'selected' %}

                        <option value="{{ embed.schemeAndHttpHost }}{{ url }}" {{ selectedOption }}>
                            {{ language }}
                        </option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </form>
    {% endif %}
{% endblock %}
