{% extends model('component') %}

{% define config = {
    name: 'wishlist-navigation',
    tag: 'ul'
} %}

{% define data = {
    wishlists: required,
    activeSubmenu: false
} %}

{% block body %}

    {% for wishlist in data.wishlists %}
        <li {% if data.activeSubmenu == wishlist.name %}class="menu__link--active"{% endif %}>
            <a href="{{ path('wishlist/details', { wishlistName: (wishlist.name) }) }}">{{ wishlist.name }}</a>
        </li>
    {% endfor %}

{% endblock %}
