{% extends template('widget') %}

{% define data = {
    options: form.children,
    rowClass: rowClass,
} %}

{# @deprecated property "data-product-available" is deprecated: use "data-product-unavailable" instead. #}
{% define attributes = {
    'data-product-available': false,
    'data-product-unavailable': attributes['data-product-available'] | default(false),
} %}

{% block body %}
    {% if data.options is not empty %}
        <tr class="{{ data.rowClass }}">
            <td>&nbsp;</td>
            <td colspan="5">
                {% include molecule('shopping-list-product-option-list', 'ProductOptionWidget') with {
                    attributes: attributes,
                    data: {
                        options: data.options,
                    },
                } only %}
            </td>
        </tr>
    {% endif %}
{% endblock %}
