{% extends template('widget') %}

{% define data = {
    options: form.children,
    rowClass: rowClass
} %}

{% block body %}
    {% if data.options | length %}
        <tr class="{{ data.rowClass }}">
            <td>&nbsp;</td>
            <td colspan="5">
                {% include molecule('shopping-list-product-option-list', 'ProductOptionWidget') with {
                    data: {
                        options: data.options
                    }
                } only %}
            </td>
        </tr>
    {% endif %}
{% endblock %}
