{% extends model('component') %}

{% define config = {
    name: 'mini-cart-detail',
    tag: 'div'
} %}

{% define data = {
    cart: required
} %}

{% block body %}
    {% include atom('cart-details', 'MultiCartWidget') with {
        data: {
            cart: data.cart
        }
    } only %}
    {% if data.cart.items is not empty %}
        {% include atom('cart-item-list', 'MultiCartWidget') with {
            data: {
                items: data.cart.items,
                limit: 2
            }
        } only %}
    {% endif %}
    <a href="{{ path('multi-cart/set-default', {quoteName: data.cart.name}) }}">
        {{ 'multi_cart_widget.cart.action.view' | trans }}
    </a>
{% endblock %}
