{% extends model('component') %}

{% define config = {
    name: 'ordered-configured-bundle-quantity',
} %}

{% define data = {
    quantity: required,
} %}

{% block body %}
    <div class="text-center">
        {% block quantity %}
            <span>
                {{ 'configured_bundle.quantity' | trans }} {{ data.quantity }}
            </span>
        {% endblock %}
    </div>
{% endblock %}
