{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    isQuoteOwner: _widget.isQuoteOwner,
    cartShareOptions: _widget.cartShareOptions
} %}

{% block body %}
    {% if data.isQuoteOwner and data.cart.idQuote is not empty %}
        <h5>{{ 'persistent_cart_share.title' | trans }}</h5>

        {% for permissionOption, permissionLabel in data.cartShareOptions %}

            {% include molecule('url-generator-mask' , 'PersistentCartShareWidget') with {
                class: 'spacing-bottom',
                data: {
                    group: 'cart-share',
                    label: permissionLabel | trans
                },
                attributes: {
                    idQuote: data.cart.idQuote,
                    permissionOption: permissionOption
                }
            } only %}

        {% endfor %}
    {% endif %}
{% endblock %}
