{% extends template('widget') %}

{% define data = {
    idQuote: _widget.idQuote
} %}

{% block body %}
    <div class="easy-cart-share">
        <h5>{{ 'persistent_cart_share.title' | trans }}</h5>

        {% include molecule('url-generator-mask' , 'PersistentCartShareWidget') with {
            data: {
                group: 'cart-share',
                label: 'persistent_cart_share.external_users' | trans
            },
            attributes: {
                idQuote: data.idQuote,
                permissionOption: 'external'
            }
        } only %}

        {% include molecule('url-generator-mask' , 'PersistentCartShareWidget') with {
            data: {
                group: 'cart-share',
                label: 'persistent_cart_share.internal_users' | trans
            },
            attributes: {
                idQuote: data.idQuote,
                permissionOption: 'internal'
            }
        } only %}

    </div>
{% endblock %}
