{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    title: required,
    message: required
} %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <div class="box">
        <h3>{{ data.title }}</h3>
        <p>{{ data.message }}</p>
    </div>
{% endblock %}

{% block eventTracker %}
    {% if data.quote is defined %}
        {% set events = {
            list: events.list,
            data: events.data | merge({
                page: 'CHECKOUT_SUCCESS',
                products: ((data.quote.items | default([])) | merge(data.quote.bundleItems | default([]))) | map(item => {
                    sku: item.sku,
                    price: can('SeePricePermissionPlugin') ? item.sumSubtotalAggregation : null,
                    quantity: item.quantity,
                }),
                total: can('SeePricePermissionPlugin') ? data.quote.totals.grandTotal : null,
            }),
        } %}
    {% endif %}

    {{ parent() }}
{% endblock %}
