{% extends template('widget') %}

{% define data = {
    createReturnForm: _widget.createReturnForm,
    merchantReferences: _widget.merchantReferences,
    order: _widget.order,
} %}

{% block body %}
    {% block differentMerchantsInfoBox %}
        {% if data.merchantReferences | length > 1 %}
            <div class="spacing">
                {% include molecule('alert') with {
                    data: {
                        content: 'merchant_sales_return_widget.create_form.different_merchants_info' | trans,
                        icon: 'action-warning-triangle',
                    },
                } only %}
            </div>
        {% endif %}
    {% endblock %}

    {% include molecule('separate-returns-by-merchant', 'MerchantSalesReturnWidget') with {
        attributes: {
            'checkbox-classname': 'js-return-create__trigger-state-toggler',
            'merchant-reference-attribute-name': 'merchant-reference',
            'is-returnable-attribute-name': 'is-returnable',
        },
    } only %}

    {% include molecule('merchant-sales-return-create-form', 'MerchantSalesReturnWidget') with {
        data: {
            form: data.createReturnForm,
            order: data.order,
            merchantReferences: data.merchantReferences,
        },
    } only %}

{% endblock %}
