{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.form,
    addresses: _view.addresses| default([]),
    title: 'company.account.business_unit' | trans,
    activePage: 'business-unit'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                },
                {
                    label: 'company.account.business_unit' | trans,
                    url: url('company/business-unit')
                },
                {
                    label: 'company.account.business_unit.add' | trans,
                }
            ]}
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        {% embed molecule('form') with {
            data: {
                title: 'company.account.business_unit.create' | trans,
                form: data.form,
                layout: {
                    email: 'col col--sm-12 col--lg-6',
                    phone: 'col col--sm-12 col--lg-6'
                },
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('company/business-unit'),
                    text: 'general.back.button' | trans
                }
            },
            embed: {
                addresses: data.addresses
            }
        } only %}
            {% block field %}
                {% if field.vars.name == 'address_collection' %}
                    {% do field.setRendered %}
                    <div class="form__field col col--sm-12">
                        <hr class="box__separator">
                        {% include molecule('business-unit-address-list', 'CompanyPage') with {
                            data: {
                                field: field,
                                idCompanyBusinessUnit: null
                            }
                        } only %}
                    </div>
                {% else %}
                    {{parent()}}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
