{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.form,
    addresses: _view.addresses| default([]),
    title: 'company.account.business_unit' | trans,
    activePage: 'business-unit'
} %}

{% block companyNavigation %}
    {% include molecule('business-unit-navigation', 'CompanyPage') with {
        class: 'box',
        data: {
            activePage: data.activePage
        }
    } only %}
{% endblock %}

{% block companyContent %}
    <div class="box">
        {% embed molecule('form') with {
            data: {
                title: 'company.account.business_unit.create' | trans,
                form: data.form,
                layout: {
                    email: 'col col--sm-12 col--lg-6',
                    phone: 'col col--sm-12 col--lg-6'
                },
                submit: {
                    enable: true
                },
                cancel: {
                    enable: true,
                    url: url('company/business-unit'),
                    text: 'general.back.button' | trans
                }
            },
            embed: {
                addresses: data.addresses
            }
        } only %}
            {% block field %}
                {% if field.vars.name == 'address_collection' %}
                    {% include molecule('business-unit-from-address-field', 'CompanyPage') with {
                        data: {
                            field: field,
                            addresses: embed.addresses
                        }
                    } only %}
                    {% do field.setRendered %}
                {% else %}
                    {{parent()}}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
