{% extends molecule('product-item-list') %}

{% define config = {
    name: 'configurator-product',
} %}

{% define data = {
    selectedSlotId: required,
    form: required,
    configurableBundleTemplateStorage: '',
    isSelectable: true,
    isSelected: false,
} %}

{% block extraClass %} grid box{% endblock %}


{% block thumbnailWrapper %}
    {% set extraClass = '' %}
    {% set modifiers = ['small'] %}

    {% block imageContainer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block labels %}{% endblock %}

{% block rating %}{% endblock %}

{% block priceContainer %}{% endblock %}

{% block actionsContainer %}
    <div class="col col--sm-3 col--xl-2 col--bottom">
        {% if data.isSelectable %}
            {% block actionsContainerInner %}
                {% include molecule('configurator-state-adjustment-form', 'ConfigurableBundlePage') with {
                    data: {
                        product: data.product,
                        form: data.form,
                        selectedSlotId: data.selectedSlotId,
                        isSelected: data.isSelected,
                    },
                } only %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
