{% extends molecule('product-item-list') %}

{% define config = {
    name: 'configurator-product',
} %}

{% define data = {
    selectedSlotId: required,
    form: required,
    configurableBundleTemplateStorage: null,
    isActionActive: true,
    isSelected: false,
} %}

{% block extraClass %} grid box{% endblock %}

{% block thumbnailWrapper %}
    {% set extraClass = '' %}
    {% set modifiers = ['small'] %}

    {{ parent() }}
{% endblock %}

{% block labels %}{% endblock %}

{% block rating %}{% endblock %}

{% block priceContainer %}{% endblock %}

{% block actionsContainer %}
    {% if data.isActionActive %}
        {% block actionsContainerInner %}
            <div class="col col--sm-3 col--xl-2 col--bottom">
                {% block action %}
                    {% include molecule('configurator-state-adjustment-form', 'ConfigurableBundlePage') with {
                        data: {
                            product: data.product,
                            form: data.form,
                            selectedSlotId: data.selectedSlotId,
                            isSelected: data.isSelected,
                        },
                    } only %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
