@mixin company-user-agent-widget-company-user-list($name: '.company-user-list') {
    #{$name} {
        &__container-item {
            cursor: pointer;
            padding: map-get($setting-spacing, 'default');

            &:hover {
                background-color: $setting-color-lightest;
            }
        }

        @content;
    }
}

/**
 * @deprecated use company-user-agent-widget-company-user-list mixin instead.
 */

@mixin agent-widget-company-user-list($name: '.company-user-list') {
    @include company-user-agent-widget-company-user-list();

    #{$name} {
        @content;
    }
}
