{% extends template('widget') %}

{% define data = {
    product: product | default,
    products: products | default([]),
    isUnavailableProductsDisplayed: isUnavailableProductsDisplayed | default(false),
} %}

{% block body %}
    <div class="grid grid--stretch">
        {% for product in data.products if (data.isUnavailableProductsDisplayed or product.available) %}
            {% widget 'CmsProductWidget' args [product] only %}
            {% elsewidget 'ProductWidgetPlugin' args [product] only %} {# @deprecated Use CmsProductWidget instead. #}
            {% endwidget %}
        {% endfor %}
    </div>

    {% if data.product is not empty %}
        {% widget 'CmsProductWidget' args [data.product] only %}
        {% elsewidget 'ProductWidgetPlugin' args [data.product] only %} {# @deprecated Use CmsProductWidget instead. #}
        {% endwidget %}
    {% endif %}
{% endblock %}
