$shop-ui-icon-size: map-get($setting-icon-sizes, 'icon-size-default');
$shop-ui-icon-size-smaller: map-get($setting-icon-sizes, 'icon-size-smaller');
$shop-ui-icon-size-small: map-get($setting-icon-sizes, 'icon-size-small');
$shop-ui-icon-size-big: map-get($setting-icon-sizes, 'icon-size-big');
$shop-ui-icon-size-bigger: map-get($setting-icon-sizes, 'icon-size-bigger');
$shop-ui-icon-size-biggest: map-get($setting-icon-sizes, 'icon-size-biggest');

@mixin shop-ui-icon($name: '.icon') {
    #{$name} {
        fill: currentColor;
        width: $shop-ui-icon-size;
        height: $shop-ui-icon-size;
        display: inline-block;
        vertical-align: middle;
        user-select: none;

        &--small {
            width: $shop-ui-icon-size-small;
            height: $shop-ui-icon-size-small;
        }

        &--smaller {
            width: $shop-ui-icon-size-smaller;
            height: $shop-ui-icon-size-smaller;
        }

        &--big {
            width: $shop-ui-icon-size-big;
            height: $shop-ui-icon-size-big;
        }

        &--bigger {
            width: $shop-ui-icon-size-bigger;
            height: $shop-ui-icon-size-bigger;
        }

        &--biggest {
            width: $shop-ui-icon-size-biggest;
            height: $shop-ui-icon-size-biggest;
        }

        @content;
    }
}
