$component-icon-size: spacing(2);
$component-icon-size-small: spacing();
$component-icon-size-big: spacing(3);
$component-icon-size-bigger: spacing(4);

@mixin component-icon($name: '.icon') {
    #{$name} {
        fill: currentColor;
        width: $component-icon-size;
        height: $component-icon-size;
        display: inline-block;
        vertical-align: middle;
        user-select: none;

        &--small {
            width: $component-icon-size-small;
            height: $component-icon-size-small;
        }

        &--big {
            width: $component-icon-size-big;
            height: $component-icon-size-big;
        }

        &--bigger {
            width: $component-icon-size-bigger;
            height: $component-icon-size-bigger;
        }

        @content
    }
}
