@mixin component-icon($name: '.icon') {
    #{$name} {
        fill: currentColor;
        width: spacing(2);
        height: spacing(2);
        display: inline-block;
        vertical-align: middle;
        user-select: none;

        &--small {
            width: spacing();
            height: spacing();
        }

        &--big {
            width: spacing(3);
            height: spacing(3);
        }

        &--bigger {
            width: spacing(4);
            height: spacing(4);
        }

        @content
    }
}
