{% extends model('component') %}

{% define data = {
    activePage: required
} %}

{% define config = {
    tag: 'li',
    name: 'menu__item' ~ (data.activePage == 'quoteRequest' ? ' menu__item--active' : ''),
} %}

{% block body %}
    <a href="{{ url('quote-request') }}"
       data-id="sidebar-quote-request">{{ 'quote_request_widget.request_for_quote.list.title' | trans }}</a>
{% endblock %}
