{% extends model('component') %}

{% define config = {
    name: 'cart-item-list',
    tag: 'div'
} %}

{% define data = {
    items: required,
    limit: 0
} %}

{% set limit = data.limit > 0 ? data.limit : data.items|length  %}

{% block body %}
    <ul>
        {% for item in data.items | slice(0, limit) %}
            <li>{{ item.name }}</li>
        {% endfor %}
        {% if limit < data.items|length %}
            <li>...</li>
        {% endif %}
    </ul>
{% endblock %}
