@mixin component-menu($name: '.menu') {
    @include component-list($name) {
        &__item {
            margin: spacing() 0;

            &--has-children-list {
                margin-bottom: spacing(2);
                
                &:last-child {
                    margin-bottom: 0;
                }

                & #{$name}__item {
                    @include font-size(small);
                    margin: spacing();
                }
            }

            &--has-children-dropdown {
                z-index: $zi-element + 1;

                & > #{$name} {
                    @include shadow;
                    @include is-invisible;
                    @include transition-visibility;
                    position: absolute;
                    left: 0;
                    width: spacing(30);
                    margin-left: - spacing();
                    border: 1px solid $color-light;
                    background-color: $color-white;
                }

                &:hover > #{$name} {
                    @include is-visible;
                }

                & > #{$name} > #{$name}__item {
                    margin-left: spacing();
                    margin-right: spacing();
                }
            }
        }

        &__separator {
            display: inline-block;
            margin: 0 spacing();

            &::after {
                content: '|';
                color: $color-lighter;
            }
        }

        @content;
    }
}
