{% extends "@QuickOrderPage/layout.twig" %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        {% include "@QuickOrderPage/quick-order/partials/form.twig"  with {'form': _view.form} %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <style>
        .autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
        .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
        .autocomplete-no-suggestion { padding: 2px 5px;}
        .autocomplete-selected { background: #F0F0F0; }
        .autocomplete-suggestions strong { font-weight: bold; color: #000; }
        .autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    <script src="/assets/default/js/jquery.autocomplete.min.js"></script>
    <script>
        jQuery(function($) {
            var rowsNumber = {{ _view.rowsNumber }};

            $('.quick-order-form')
                .on('change', '.js-qty-input-field', updatePricePanel)
                .on('keyup',  '.js-qty-input-field', updatePricePanel);

            $('.quick-order-form .js-qty-input-field[value!=""]').trigger('change');

            $('.js-add-more-rows-button').on('click', addMoreRows);

            initAutocomplete();

            function initAutocomplete() {
                $('.js-autocomplete-input-field').autocomplete({
                    minChars: 2,
                    serviceUrl: "{{ path('quick-order/suggestion') }}",
                    paramName: 'q',
                    params: {}, // add searchField value
                    //groupBy: 'abstractSku', // if you want to group by abstract product
                    onSearchComplete: function (query, suggestions) {
                        // if empty add error
                    },
                    onSelect: function (suggestion) {
                        var idSearchInput = $(this).attr('id'),
                            $skuInput = $('#' + idSearchInput.replace('_searchQuery', '_sku')),
                            $priceInput = $('#' + idSearchInput.replace('_searchQuery', '_price')),
                            $qtyInput = $('#' + idSearchInput.replace('_searchQuery', '_qty'));

                        $skuInput.val(suggestion.data.sku);
                        $qtyInput.val(1);
                        $priceInput.val(suggestion.data.price);
                        $qtyInput.trigger('change');
                        $qtyInput.focus();
                    }
                });

                $('.js-autocomplete-input-field').on('change', function () {
                    if (this.value === '') {
                        var idSearchInput = $(this).attr('id'),
                            $skuInput = $('#' + idSearchInput.replace('_searchQuery', '_sku')),
                            $priceInput = $('#' + idSearchInput.replace('_searchQuery', '_price')),
                            $qtyInput = $('#' + idSearchInput.replace('_searchQuery', '_qty'));

                        $skuInput.val('');
                        $qtyInput.val('');
                        $priceInput.val('');
                        $qtyInput.trigger('change');
                    }
                })
            }

            function updatePricePanel(e) {
                var $qtyInput = $(e.target),
                    idQtyInput = $qtyInput.attr('id'),
                    $priceInput = $('#' + idQtyInput.replace('_qty', '_price')),
                    $pricePanelInput = $('#' + idQtyInput.replace('_qty', '_pricePanel'));

                if ($qtyInput.val() >= 0 && $priceInput.val()) {
                    var newPrice = ($qtyInput.val() * $priceInput.val() / 100).toFixed(2);
                    $pricePanelInput.val(newPrice)
                } else {
                    $pricePanelInput.val('');
                }
            }

            function addMoreRows(e) {
                e.preventDefault();
                var $rows = $('.quick-order-form .items-container .row'),
                    $lastRow = $rows.last(),
                    index = $lastRow.data('index'),
                    newRowsHtml = '';

                for (var i = index + 1; i < $rows.length + rowsNumber; i++) {
                    var newRowHtml = $lastRow[0].outerHTML;
                    newRowsHtml += newRowHtml
                        .replace('data-index="' + index + '"', 'data-index="' + i + '"')
                        .replace(new RegExp('_' + index + '_', 'g'), '_' + i + '_')
                        .replace(new RegExp('\\[' + index + '\\]', 'g'), '[' + i + ']')
                        .replace(/value=".*"/g, '')
                }

                $('.quick-order-form .items-container').append(newRowsHtml)

                initAutocomplete();
            }
        });
    </script>
{% endblock %}
