{% extends template('widget') %}

{% define data = {
    name: _widget.categoryName,
    imageUrl: _widget.imageUrl,
} %}

{% block body %}
    {% embed molecule('lazy-image') with {
        modifiers: ['thumbnail'],
        data: {
            imageSrc: data.imageUrl,
            imageTitle: data.name,
        },
    } only %}
        {% block content %}
            {% if data.imageSrc is empty %}
                <div class="{{ component.renderClass(config.name ~ '__image', modifiers) }} {{ config.name }}__image--color-light grid grid--center">
                    {% include atom('icon') with {
                        class: 'col col--middle',
                        modifiers: ['biggest'],
                        data: {
                            name: 'default-image',
                        },
                    } only %}
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
