{% define data = {
    fileViewCollection: fileViewCollection,
} %}

{% block content %}
    <ul>
        {% for fileView in data.fileViewCollection %}
            <li>
                {% include molecule('file-download-link', 'FileManagerWidget') with {
                    data: {
                        idFile: fileView.fkFile,
                        fileName: fileView.fileName
                    }
                } only %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
