{% extends template('page-layout-order-submitted', 'CheckoutPage') %}

{% set isUserLoggedIn = is_granted('ROLE_USER') %}

{% block content %}
    <div class="box">
        <h3>{{ data.title }}</h3>
        <p>{{ data.message }}</p>

        {% if isUserLoggedIn %}
            <a href="{{ url('customer/overview') }}">{{ 'payment_foreign.go_to_my_account' | trans }}</a>
        {% endif %}
    </div>
{% endblock %}
