@mixin configurable-bundle-page-templates-list($name: '.templates-list') {
    #{$name} {
        border: 1px solid $setting-color-lighter;
        padding: 1.75rem map-get($setting-spacing, 'small') 2.5rem;
        margin: map-get($setting-spacing, 'small');
        overflow: hidden;

        &__list {
            margin: 0 -#{map-get($setting-spacing, 'small')};
        }

        &__item-title {
            min-height: 9rem;
            background: $setting-color-lighter;
            color: $setting-color-darkest;
        }

        @content;
    }
}
