{% extends template('page-layout-main') %}

{% define data = {
    merchantProfile: _view.merchantProfile,
} %}

{% set merchantName = data.merchantProfile.contactPersonFirstName ~ ' ' ~ data.merchantProfile.contactPersonLastName %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: merchantName,
                    withChevron: false,
                },
            ],
        },
    } only %}
{% endblock %}

{% block title %}
    <h3>{{ merchantName }}</h3>
{% endblock %}

{% block content %}
    <div class="grid">
        {% block contentInner %}
            <div class="col col--sm-12 col--lg-5">
                {% block image %}
                    {% set additionalClass = 'box' %}

                    {% include atom('thumbnail') with {
                        class: additionalClass,
                        modifiers: ['bigger'],
                        attributes: {
                            alt: merchantName | default,
                            src: data.merchantProfile.bannerUrlGlossaryKey | trans,
                        },
                    } only %}
                {% endblock %}
            </div>

            <div class="col col--sm-12 col--lg-7">
                {% block descriptionContainer %}
                    <div class="box">
                        {% block description %}
                            <div class="grid">
                                {% block descriptionInner %}
                                    <div class="col col--sm-12 col--lg-12 col--xl-10">
                                        {% block mainInformation %}
                                            <p>{{ data.merchantProfile.descriptionGlossaryKey | trans }}</p>
                                        {% endblock %}

                                        {% block information %}
                                            <div class="grid">
                                                {% block informationInner %}
                                                    <div class="col col--sm-12 col--lg-6">
                                                        {% block email %}
                                                            {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                data: {
                                                                    title: 'mearchant_profile.email' | trans,
                                                                    text: data.merchantProfile.publicEmail | trans,
                                                                },
                                                            } only %}
                                                        {% endblock %}
                                                    </div>

                                                    <div class="col col--sm-12 col--lg-6">
                                                        {% block address %}
                                                            {% embed molecule('information-item', 'MerchantProfilePage') with {
                                                                data: {
                                                                    title: 'mearchant_profile.address' | trans,
                                                                },
                                                            } only %}
                                                                {% block text %}
                                                                    <div>+++++++</div>
                                                                    <div>+++++++</div>
                                                                    <div>+++++++</div>
                                                                {% endblock %}
                                                            {% endembed %}
                                                        {% endblock %}
                                                    </div>

                                                    <div class="col col--sm-12 col--lg-6">
                                                        {% block phone %}
                                                            {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                data: {
                                                                    title: 'mearchant_profile.phone' | trans,
                                                                    text: data.merchantProfile.publicPhone | trans,
                                                                },
                                                            } only %}
                                                        {% endblock %}
                                                    </div>

                                                    <div class="col col--sm-12 col--lg-6">
                                                        {% block deliveryTime %}
                                                            {% include molecule('information-item', 'MerchantProfilePage') with {
                                                                data: {
                                                                    title: 'mearchant_profile.delivery_time' | trans,
                                                                    text: data.merchantProfile.deliveryTimeGlossaryKey | trans,
                                                                },
                                                            } only %}
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>

                                    <div class="col col--sm-3 col--lg-2">
                                        {% block logo %}
                                            {% set additionalClass = 'box' %}

                                            {% include atom('thumbnail') with {
                                                class: additionalClass,
                                                modifiers: ['small'],
                                                attributes: {
                                                    alt: merchantName | default,
                                                    src: data.merchantProfile.logoUrl | trans,
                                                },
                                            } only %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block additional %}
        <div class="box">
            {% set informationArticles = [
                {
                    'title': 'mearchant_profile.terms_and_conditions' | trans,
                    'text': data.merchantProfile.termsConditionsGlossaryKey | trans,
                },
                {
                    'title': 'mearchant_profile.cancellation_policy' | trans,
                    'text': data.merchantProfile.cancellationPolicyGlossaryKey | trans,
                },
                {
                    'title': 'mearchant_profile.imprint' | trans,
                    'text': data.merchantProfile.imprintGlossaryKey | trans,
                },
                {
                    'title': 'mearchant_profile.privacy' | trans,
                    'text': data.merchantProfile.dataPrivacyGlossaryKey | trans,
                },
            ] %}

            {% for informationArticle in informationArticles %}
                {% block additionalInformation %}
                    <div class="spacing-bottom spacing-bottom--big">
                        <h5>{{ informationArticle.title }}</h5>
                        <p>{{ informationArticle.text }}</p>
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
