{% set product = product %}

<form method="GET" data-component="product-variants">
    {% for attributeName,attributes in product.attributeMap.superAttributes %}
        {% include '@ProductDetailPage/_product-detail-page/_partials/variant.twig' with {
            attributeFieldName: 'attributes[' ~ product.idProductAbstract ~ '][' ~ attributeName ~ ']',
            product: product
        } %}
    {% endfor %}
</form>
