@mixin shop-ui-status($name: '.status') {
    @include shop-ui-badge($name) {
        &--in-progress {
            background-color: helper-color-light(map-get($setting-color-actions, 'alert'));
            color: helper-color-dark(map-get($setting-color-actions, 'alert'));
        }

        &--ready {
            background-color: helper-color-light(map-get($setting-color-actions, 'success'));
            color: helper-color-dark(map-get($setting-color-actions, 'success'));
        }

        &--waiting {
            background-color: helper-color-light(map-get($setting-color-actions, 'warning'));
            color: helper-color-dark(map-get($setting-color-actions, 'warning'));
        }

        &--closed {
            background-color: helper-color-light($setting-color-darkest);
            color: helper-color-dark($setting-color-darkest);
        }

        &--canceled {
            background-color: helper-color-light($setting-color-darker);
            color: helper-color-dark($setting-color-darker);
        }

        &--draft {
            background-color: helper-color-light($setting-color-alt);
            color: helper-color-dark($setting-color-alt);
        }

        @content;
    }
}
