@mixin shop-ui-status($name: '.status') {
    @include shop-ui-badge($name) {
        &--rejected,
        &--in-progress,
        &--refunded {
            background-color: helper-color-light(map-get($setting-color-actions, 'alert'));
            color: helper-color-dark(map-get($setting-color-actions, 'alert'));
        }

        &--approved,
        &--ready,
        &--paid,
        &--delivered,
        &--configured {
            background-color: helper-color-light(map-get($setting-color-actions, 'success'));
            color: helper-color-dark(map-get($setting-color-actions, 'success'));
        }

        &--pending,
        &--waiting,
        &--payment-pending,
        &--confirmed,
        &--sent-to-merchant,
        &--shipped-by-merchant,
        &--exported,
        &--not-configured {
            background-color: helper-color-light(map-get($setting-color-actions, 'warning'));
            color: helper-color-dark(map-get($setting-color-actions, 'warning'));
        }

        &--closed {
            background-color: helper-color-light($setting-color-darkest);
            color: helper-color-dark($setting-color-darkest);
        }

        &--canceled,
        &--ready-for-return,
        &--returned,
        &--waiting-for-return,
        &--return-canceled {
            background-color: helper-color-light($setting-color-darker);
            color: helper-color-dark($setting-color-darker);
        }

        &--draft {
            background-color: helper-color-light($setting-color-alt);
            color: helper-color-dark($setting-color-alt);
        }

        &--text-bold {
            @include helper-font-weight(bold);
        }

        @content;
    }
}
