{% extends model('component') %}

{% define config = {
    name: 'status',
    tag: 'span',
} %}

{% define data = {
    label: required,
    status: required,
} %}

{%- macro escapeStatusModifier(className, status) -%}
    {% apply spaceless %}
        {% set forbiddenSymbols = ['`', '~', '!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '=', '+', '[', ']', '{', '}', '\\', '|', ':', ';', '\'', '"', '<', '>', ',', '.', '/', '?', '§', '№'] %}
        {% set status = status | replace({' ': '-'}) | lower %}

        {% for symbol in forbiddenSymbols %}
            {% set status = status | replace({("#{symbol}"): ''}) %}
        {% endfor %}
        {{ className }}--{{ status }}
    {% endapply %}
{%- endmacro -%}

{% import _self as macros %}

{% block extraClass %}
    {% if data.status %}{{ macros.escapeStatusModifier(config.name, data.status) }}{% endif %}
{% endblock %}

{% block body %}
    {% if data.status %}
        {% block label %}
            {{ data.label }}
        {% endblock %}
    {% else %}
        {% block emptyState %}
            <span class="text-secondary">
                --
            </span>
        {% endblock %}
    {% endif %}
{% endblock %}
