{% extends model('component') %}

{% define config = {
    name: 'status',
    tag: 'span',
} %}

{% define data = {
    label: required,
    status: required,
} %}

{% block extraClass %}
    {% set status = data.status | replace({' ': '-'}) | lower %}
    {% if status %}{{ config.name }}--{{ status }}{% endif %}
{% endblock %}

{% block body %}
    {% if data.status %}
        {% block label %}
            {{ data.label }}
        {% endblock %}
    {% else %}
        {% block emptyState %}
            <span class="text-secondary">
                --
            </span>
        {% endblock %}
    {% endif %}
{% endblock %}
